Repository UniMath/agda-unimath, pull requests merged in 2023-04, with the labels that each got.

#535 Refactor descent data for the circle
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/identity-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
Labels: synthetic-homotopy-theory

#562 New Agda syntax highlighting extension for VSCode
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

#563 Arithmetical laws Cauchy series of species of types in subuniverse
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/species.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverse.lagda.md
  src/species/cauchy-composition-species-of-types.lagda.md
  src/species/cauchy-exponential-species-of-types-in-subuniverse.lagda.md
  src/species/cauchy-exponential-species-of-types.lagda.md
  src/species/cauchy-product-species-of-types-in-subuniverse.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverse.lagda.md
  src/species/cauchy-series-species-of-types.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverse.lagda.md
  src/species/composition-cauchy-series-species-of-types.lagda.md
  src/species/coproducts-species-of-types-in-subuniverse.lagda.md
  src/species/dirichlet-product-species-of-types-in-subuniverse.lagda.md
  src/species/exponential-cauchy-series-of-types-in-subuniverse.lagda.md
  src/species/exponential-cauchy-series-of-types.lagda.md
  src/species/product-cauchy-series-species-of-types-in-subuniverse.lagda.md
  src/species/product-cauchy-series-species-of-types.lagda.md
  src/species/small-cauchy-composition-species-of-finite-inhabited-types.lagda.md
  src/species/small-cauchy-composition-species-of-types-in-subuniverse.lagda.md
Labels: species

#569 Countability results
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/divisibility-natural-numbers.lagda.md
  src/elementary-number-theory/exponentiation-natural-numbers.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/parity-natural-numbers.lagda.md
  src/elementary-number-theory/powers-of-two.lagda.md
  src/elementary-number-theory/type-arithmetic-natural-numbers.lagda.md
  src/everything.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/set-theory/countable-sets.lagda.md
Labels: set-theory, elementary-number-theory, real-numbers

#565 Acyclic maps
  src/foundation-core/commuting-squares-of-maps.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/epimorphisms-with-respect-to-sets.lagda.md
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
  src/foundation/epimorphisms.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/foundation/functoriality-truncation.lagda.md
  src/foundation/iterating-functions.lagda.md
  src/foundation/truncation-equivalences.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
  src/synthetic-homotopy-theory/plus-principle.lagda.md
  src/synthetic-homotopy-theory/powers-of-loops.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: foundation, synthetic-homotopy-theory

#576 Removing the everything file
  src/everything.lagda.md
Labels: bug, repo-maintenance

#571 Reflection and solvers
  CODINGSTYLE.md
  DESIGN-PRINCIPLES.md
  src/category-theory.lagda.md
  src/category-theory/precategory-solver.lagda.md
  src/foundation/maybe.lagda.md
  src/foundation/unit-type.lagda.md
  src/lists/lists.lagda.md
  src/primitives.lagda.md
  src/primitives/characters.lagda.md
  src/primitives/floats.lagda.md
  src/primitives/machine-integers.lagda.md
  src/primitives/strings.lagda.md
  src/reflection.lagda.md
  src/reflection/abstractions.lagda.md
  src/reflection/arguments.lagda.md
  src/reflection/definitions.lagda.md
  src/reflection/fixity.lagda.md
  src/reflection/literals.lagda.md
  src/reflection/metavariables.lagda.md
  src/reflection/names.lagda.md
  src/reflection/terms.lagda.md
  src/reflection/type-checking-monad.lagda.md
Labels: reflection

#578 Cleaning up species
  src/foundation/cartesian-product-types.lagda.md
  src/foundation/product-decompositions.lagda.md
  src/foundation/sigma-decomposition-subuniverse.lagda.md
  src/species/cartesian-exponents-species-of-types.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-exponentials-species-of-types.lagda.md
  src/species/cauchy-products-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/composition-cauchy-series-species-of-types.lagda.md
  src/species/coproducts-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-products-species-of-types-in-subuniverses.lagda.md
  src/species/equivalences-species-of-types-in-subuniverses.lagda.md
  src/species/equivalences-species-of-types.lagda.md
  src/species/exponentials-cauchy-series-of-types-in-subuniverses.lagda.md
  src/species/exponentials-cauchy-series-of-types.lagda.md
  src/species/morphisms-species-of-types.lagda.md
  src/species/pointing-species-of-types.lagda.md
  src/species/products-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-cauchy-series-species-of-types.lagda.md
  src/species/small-cauchy-composition-species-of-finite-inhabited-types.lagda.md
  src/species/small-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/unlabeled-structures-species.lagda.md
Labels: cleanup, species
