Repository UniMath/agda-unimath, pull requests merged in 2023-07, with the labels that each got.

#681 Conjugation on higher groups
  src/group-theory.lagda.md
  src/group-theory/conjugation-concrete-groups.lagda.md
  src/group-theory/conjugation.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/conjugation.lagda.md
  src/structured-types.lagda.md
  src/structured-types/conjugation-pointed-types.lagda.md
  src/structured-types/pointed-homotopies.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/conjugation-loops.lagda.md
Labels: group-theory, synthetic-homotopy-theory, higher-group-theory

#684 cyclic groups
  src/foundation/singleton-subtypes.lagda.md
  src/group-theory.lagda.md
  src/group-theory/cyclic-groups.lagda.md
  src/group-theory/subgroups-generated-by-elements-groups.lagda.md
  src/group-theory/subgroups-generated-by-subsets-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/higher-group-theory/cyclic-higher-groups.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/structured-types.lagda.md
  src/structured-types/cyclic-pointed-types.lagda.md
Labels: group-theory, higher-group-theory, structured-types

#685 Minor reflection fixes
  src/reflection/names.lagda.md
  src/reflection/type-checking-monad.lagda.md
Labels: reflection
