Repository UniMath/agda-unimath, pull requests merged in 2023-12, with the labels that each got.

#960 Closure properties of acyclic maps and types
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
Labels: synthetic-homotopy-theory

#956 A type is `1`-acyclic if and only if it is `0`-connected
  src/foundation/inhabited-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/0-acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/0-acyclic-types.lagda.md
  src/synthetic-homotopy-theory/1-acyclic-types.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-types.lagda.md
Labels: synthetic-homotopy-theory

#962 Update reflection for 2.6.4
  src/reflection/metavariables.lagda.md
  src/reflection/type-checking-monad.lagda.md
Labels: reflection

#919 Functoriality of sequential colimits
  src/foundation-core.lagda.md
  src/foundation-core/commuting-prisms-of-maps.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/whiskering-homotopies.lagda.md
  src/foundation.lagda.md
  src/foundation/action-on-identifications-functions.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/commuting-prisms-of-maps.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/sections.lagda.md
  src/foundation/symmetric-cores-binary-relations.lagda.md
  src/foundation/whiskering-homotopies.lagda.md
  src/graph-theory/equivalences-directed-graphs.lagda.md
  src/structured-types/initial-pointed-type-equipped-with-automorphism.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/equivalences-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/functoriality-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequentially-compact-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
Labels: foundation, synthetic-homotopy-theory

#944 Universal property of fibers
  src/foundation-core.lagda.md
  src/foundation-core/families-of-equivalences.lagda.md
  src/foundation-core/fibers-of-maps.lagda.md
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation-core/pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/equality-fibers-of-maps.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/families-of-equivalences.lagda.md
  src/foundation/function-types.lagda.md
  src/foundation/fundamental-theorem-of-identity-types.lagda.md
  src/foundation/identity-systems.lagda.md
  src/foundation/precomposition-dependent-functions.lagda.md
  src/foundation/precomposition-type-families.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
  src/foundation/universal-property-image.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/lifts-families-of-elements.lagda.md
  tables/fibers-of-maps.md
Labels: foundation

#971 Typos in the universal property of the family of fibers of a map
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
Labels: typo

#968 Retracts of sequential diagrams induce retracts of sequential colimits
  src/foundation/retracts-of-maps.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/functoriality-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/retracts-of-sequential-diagrams.lagda.md
Labels: synthetic-homotopy-theory

#969 The `is-sequential-colimit` predicate
  src/foundation/universal-property-equivalences.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
Labels: synthetic-homotopy-theory

#975 Partial and copartial functions
  src/foundation.lagda.md
  src/foundation/copartial-elements.lagda.md
  src/foundation/copartial-functions.lagda.md
  src/foundation/partial-elements.lagda.md
  src/foundation/partial-functions.lagda.md
  src/foundation/partial-sequences.lagda.md
  src/foundation/total-partial-elements.lagda.md
  src/foundation/total-partial-functions.lagda.md
  src/orthogonal-factorization-systems/closed-modalities.lagda.md
Labels: foundation

#976 Improve generality of homotopy whiskering operations
  MIXFIX-OPERATORS.md
  src/foundation-core/whiskering-homotopies.lagda.md
Labels: foundation

#961 Refactor universal property of suspensions
  src/elementary-number-theory/integers.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation/products-of-tuples-of-types.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/foundation/universal-property-unit-type.lagda.md
  src/species/composition-cauchy-series-species-of-types.lagda.md
  src/species/products-dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/coequalizers.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/functoriality-suspensions.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
Labels: synthetic-homotopy-theory, refactoring

#963 Refactor universal properties for various limits
  src/foundation-core/pullbacks.lagda.md
  src/foundation-core/universal-property-pullbacks.lagda.md
  src/foundation-core/universal-property-truncation.lagda.md
  src/foundation/fibers-of-maps.lagda.md
  src/foundation/propositional-truncations.lagda.md
  src/foundation/pullback-squares.lagda.md
  src/foundation/replacement.lagda.md
  src/foundation/sequential-limits.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/truncations.lagda.md
  src/foundation/uniqueness-truncation.lagda.md
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/foundation/universal-property-fiber-products.lagda.md
  src/foundation/universal-property-image.lagda.md
  src/foundation/universal-property-propositional-truncation-into-sets.lagda.md
  src/foundation/universal-property-propositional-truncation.lagda.md
  src/foundation/universal-property-pullbacks.lagda.md
  src/foundation/universal-property-sequential-limits.lagda.md
  src/foundation/universal-property-truncation.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/orthogonal-factorization-systems/stable-orthogonal-factorization-systems.lagda.md
  tables/pullbacks.md
Labels: foundation, refactoring

#983 Some minor refactoring surrounding Dedekind reals
  .vscode/settings.json
  MIXFIX-OPERATORS.md
  src/commutative-algebra/prime-ideals-commutative-rings.lagda.md
  src/foundation-core/propositions.lagda.md
  src/foundation/apartness-relations.lagda.md
  src/foundation/conjunction.lagda.md
  src/foundation/disjunction.lagda.md
  src/foundation/dubuc-penon-compact-types.lagda.md
  src/foundation/exclusive-disjunction.lagda.md
  src/foundation/existential-quantification.lagda.md
  src/foundation/impredicative-encodings.lagda.md
  src/foundation/intersections-subtypes.lagda.md
  src/foundation/large-locale-of-propositions.lagda.md
  src/foundation/lesser-limited-principle-of-omniscience.lagda.md
  src/foundation/limited-principle-of-omniscience.lagda.md
  src/foundation/logical-equivalences.lagda.md
  src/foundation/unions-subtypes.lagda.md
  src/foundation/weak-limited-principle-of-omniscience.lagda.md
  src/group-theory/nontrivial-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/order-theory/total-preorders.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps-function-classes.lagda.md
  src/polytopes/abstract-polytopes.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/ring-theory/local-rings.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
Labels: foundation, real-numbers, refactoring

#981 Swap order of arguments for lifts of families of elements
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
  src/orthogonal-factorization-systems/double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/lifts-families-of-elements.lagda.md
Labels: orthogonal-factorization-systems, refactoring

#986 Bump Agda max heap limit
  Makefile
Labels: CI, fix
