Repository UniMath/agda-unimath, pull requests merged in 2023-11, with the labels that each got.

#886 Fun with functors
  src/category-theory.lagda.md
  src/category-theory/commuting-squares-of-morphisms-in-precategories.lagda.md
  src/category-theory/commuting-squares-of-morphisms-in-set-magmoids.lagda.md
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/conservative-functors-precategories.lagda.md
  src/category-theory/cores-categories.lagda.md
  src/category-theory/cores-precategories.lagda.md
  src/category-theory/equivalences-of-precategories.lagda.md
  src/category-theory/essential-fibers-of-functors-precategories.lagda.md
  src/category-theory/essentially-injective-functors-precategories.lagda.md
  src/category-theory/essentially-surjective-functors-precategories.lagda.md
  src/category-theory/faithful-functors-precategories.lagda.md
  src/category-theory/full-subprecategories.lagda.md
  src/category-theory/fully-faithful-functors-precategories.lagda.md
  src/category-theory/functors-nonunital-precategories.lagda.md
  src/category-theory/functors-precategories.lagda.md
  src/category-theory/functors-set-magmoids.lagda.md
  src/category-theory/groupoids.lagda.md
  src/category-theory/isomorphism-induction-categories.lagda.md
  src/category-theory/maps-from-small-to-large-categories.lagda.md
  src/category-theory/maps-precategories.lagda.md
  src/category-theory/maps-set-magmoids.lagda.md
  src/category-theory/nonunital-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/pregroupoids.lagda.md
  src/category-theory/pseudomonic-functors-precategories.lagda.md
  src/category-theory/representing-arrow-category.lagda.md
  src/category-theory/restrictions-functors-cores-precategories.lagda.md
  src/category-theory/rigid-objects-categories.lagda.md
  src/category-theory/rigid-objects-precategories.lagda.md
  src/category-theory/set-magmoids.lagda.md
  src/category-theory/split-essentially-surjective-functors-precategories.lagda.md
  src/category-theory/structure-equivalences-set-magmoids.lagda.md
  src/category-theory/subcategories.lagda.md
  src/category-theory/subprecategories.lagda.md
  src/category-theory/wide-subcategories.lagda.md
  src/category-theory/wide-subprecategories.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation/arithmetic-law-product-and-pi-decompositions.lagda.md
  src/foundation/category-of-families-of-sets.lagda.md
  src/foundation/equality-dependent-function-types.lagda.md
  src/foundation/equivalence-induction.lagda.md
  src/foundation/functoriality-sequential-limits.lagda.md
  src/foundation/functoriality-set-truncation.lagda.md
  src/foundation/functoriality-truncation.lagda.md
  src/foundation/injective-maps.lagda.md
  src/foundation/large-locale-of-propositions.lagda.md
  src/foundation/preunivalence.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/set-truncations.lagda.md
  src/foundation/subsingleton-induction.lagda.md
  src/foundation/universal-property-set-truncation.lagda.md
  src/foundation/universal-property-truncation.lagda.md
  src/group-theory/cores-monoids.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
  src/univalent-combinatorics/distributivity-of-set-truncation-over-finite-products.lagda.md
Labels: category-theory, foundation, cat-sitting

#884 Add a mdbook `#concept` macro
  book.toml
  scripts/preprocessor_concepts.py
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/circuits-undirected-graphs.lagda.md
Labels: enhancement, website, tooling, mathswitch

#898 Functoriality of suspensions
  src/foundation/commuting-squares-of-identifications.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/functoriality-suspensions.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
Labels: synthetic-homotopy-theory

#897 Small formatting fixes concrete groups
  src/category-theory/groupoids.lagda.md
  src/finite-group-theory/cartier-delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/finite-type-groups.lagda.md
  src/finite-group-theory/simpson-delooping-sign-homomorphism.lagda.md
  src/group-theory.lagda.md
  src/group-theory/cartesian-products-concrete-groups.lagda.md
  src/group-theory/concrete-groups.lagda.md
  src/group-theory/conjugation-concrete-groups.lagda.md
  src/group-theory/homomorphisms-concrete-groups.lagda.md
  src/group-theory/iterated-cartesian-products-concrete-groups.lagda.md
  src/group-theory/loop-groups-sets.lagda.md
  src/group-theory/opposite-groups.lagda.md
  src/group-theory/opposite-semigroups.lagda.md
  src/group-theory/principal-group-actions.lagda.md
  src/group-theory/principal-torsors-concrete-groups.lagda.md
  src/group-theory/symmetric-groups.lagda.md
  src/group-theory/torsors.lagda.md
Labels: group-theory, refactoring

#900 Retracts of maps
  src/foundation-core/commuting-squares-of-maps.lagda.md
  src/foundation-core/equality-dependent-pair-types.lagda.md
  src/foundation-core/fibers-of-maps.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation/commuting-squares-of-homotopies.lagda.md
  src/foundation/commuting-squares-of-identifications.lagda.md
  src/foundation/equality-fibers-of-maps.lagda.md
  src/foundation/fibered-maps.lagda.md
  src/foundation/fibers-of-maps.lagda.md
  src/foundation/functoriality-fibers-of-maps.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/sequential-limits.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/retracts-of-maps.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
Labels: foundation, orthogonal-factorization-systems

#901 Acyclic types are closed under equivalences
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/functoriality-suspensions.lagda.md
Labels: synthetic-homotopy-theory

#906 Fix Elisabeth's GitHub link
  CONTRIBUTORS.toml
Labels: documentation, fix

#908 Acyclic types are closed under retracts
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
Labels: synthetic-homotopy-theory

#909 Composition and left factor for epis/acyclic maps
  src/foundation/epimorphisms.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
Labels: foundation, synthetic-homotopy-theory

#899 Equality in iterated Sigma types
  src/foundation-core/equality-dependent-pair-types.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation/equality-dependent-pair-types.lagda.md
  src/foundation/type-arithmetic-dependent-pair-types.lagda.md
Labels: foundation

#911 Typeset `nlab` as `$n$Lab`
  src/category-theory/conservative-functors-precategories.lagda.md
  src/category-theory/copresheaf-categories.lagda.md
  src/category-theory/cores-categories.lagda.md
  src/category-theory/cores-precategories.lagda.md
  src/category-theory/essential-fibers-of-functors-precategories.lagda.md
  src/category-theory/essentially-injective-functors-precategories.lagda.md
  src/category-theory/essentially-surjective-functors-precategories.lagda.md
  src/category-theory/full-subprecategories.lagda.md
  src/category-theory/fully-faithful-functors-precategories.lagda.md
  src/category-theory/functors-nonunital-precategories.lagda.md
  src/category-theory/gaunt-categories.lagda.md
  src/category-theory/groupoids.lagda.md
  src/category-theory/nonunital-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/pregroupoids.lagda.md
  src/category-theory/presheaf-categories.lagda.md
  src/category-theory/pseudomonic-functors-precategories.lagda.md
  src/category-theory/replete-subprecategories.lagda.md
  src/category-theory/representing-arrow-category.lagda.md
  src/category-theory/restrictions-functors-cores-precategories.lagda.md
  src/category-theory/rigid-objects-categories.lagda.md
  src/category-theory/rigid-objects-precategories.lagda.md
  src/category-theory/set-magmoids.lagda.md
  src/category-theory/split-essentially-surjective-functors-precategories.lagda.md
  src/category-theory/strict-categories.lagda.md
  src/category-theory/subprecategories.lagda.md
  src/category-theory/wide-subcategories.lagda.md
  src/category-theory/wide-subprecategories.lagda.md
  src/category-theory/yoneda-lemma-categories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
  src/elementary-number-theory/peano-arithmetic.lagda.md
  src/foundation/category-of-sets.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/complete-bipartite-graphs.lagda.md
  src/graph-theory/connected-undirected-graphs.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/directed-graphs.lagda.md
  src/graph-theory/enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-directed-graphs.lagda.md
  src/graph-theory/equivalences-enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-undirected-graphs.lagda.md
  src/graph-theory/finite-graphs.lagda.md
  src/graph-theory/geometric-realizations-undirected-graphs.lagda.md
  src/graph-theory/hypergraphs.lagda.md
  src/graph-theory/mere-equivalences-undirected-graphs.lagda.md
  src/graph-theory/reflecting-maps-undirected-graphs.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
  src/graph-theory/simple-undirected-graphs.lagda.md
  src/graph-theory/undirected-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/undirected-graphs.lagda.md
  src/group-theory/commutator-subgroups.lagda.md
  src/group-theory/commutators-of-elements-groups.lagda.md
  src/group-theory/perfect-groups.lagda.md
Labels: documentation, fix

#912 Isomorphisms induce equivalences by pre- and postcomposition
  src/category-theory/epimorphisms-in-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-categories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/isomorphisms-in-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
  src/category-theory/monomorphisms-in-large-precategories.lagda.md
  src/group-theory/epimorphisms-groups.lagda.md
  src/group-theory/monomorphisms-groups.lagda.md
Labels: category-theory

#915 Miscellaneous Agda configuration maintenance
  src/elementary-number-theory/addition-natural-numbers.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation/maybe.lagda.md
  src/foundation/telescopes.lagda.md
Labels: repo-maintenance

#916 If `f` is a `k`-epi, then so is its `k`-truncation
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
Labels: foundation

#917 Change the universal property of epimorphisms, so that it is stated with respect to all universe levels
  src/foundation/epimorphisms-with-respect-to-sets.lagda.md
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
Labels: foundation

#920 Codingstyle guideline that definitions should be specified
  CODINGSTYLE.md
  src/category-theory/copresheaf-categories.lagda.md
  src/category-theory/presheaf-categories.lagda.md
Labels: category-theory, guides

#921 The class of `k`-epis is closed under composition and has the right cancellation property
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
Labels: foundation

#918 A map is a `k`-epi iff its codiagonal is a `k`-equivalence
  src/foundation/epimorphisms-with-respect-to-sets.lagda.md
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
  src/foundation/epimorphisms.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
Labels: foundation

#928 Fix some typos in the mixfix guide
  MIXFIX-OPERATORS.md
Labels: fix, guides

#929 Optimize proof of `equiv-natural-isomorphism-htpy-map-is-category-Precategory`
  src/category-theory/category-of-maps-categories.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
Labels: category-theory

#936 Several facts about `k`-equivalences
  src/foundation/connected-maps.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/truncation-equivalences.lagda.md
  src/foundation/truncations.lagda.md
Labels: foundation

#923 Cellular maps
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/cellular-maps.lagda.md
Labels: orthogonal-factorization-systems

#896 Indiscrete precategories
  src/category-theory.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/indiscrete-precategories.lagda.md
  src/category-theory/initial-category.lagda.md
  src/category-theory/representing-arrow-category.lagda.md
  src/category-theory/terminal-category.lagda.md
  src/category-theory/yoneda-lemma-categories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
  src/group-theory/cayleys-theorem.lagda.md
Labels: category-theory

#890 Global function classes
  src/foundation.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/global-choice.lagda.md
  src/foundation/global-subuniverses.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/type-arithmetic-cartesian-product-types.lagda.md
  src/foundation/type-duality.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/factorization-operations-function-classes.lagda.md
  src/orthogonal-factorization-systems/factorization-operations-global-function-classes.lagda.md
  src/orthogonal-factorization-systems/factorization-operations.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps-function-classes.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps-global-function-classes.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/orthogonal-factorization-systems/stable-orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/wide-function-classes.lagda.md
  src/orthogonal-factorization-systems/wide-global-function-classes.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-products-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/coproducts-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-products-species-of-types-in-subuniverses.lagda.md
  src/species/exponentials-cauchy-series-of-types-in-subuniverses.lagda.md
  src/species/products-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/unit-cauchy-composition-species-of-types-in-subuniverses.lagda.md
Labels: orthogonal-factorization-systems

#927 Pushout-products, fiberwise joins, and dependent pushout-products
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/dependent-pushout-products.lagda.md
  src/synthetic-homotopy-theory/joins-of-maps.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
  src/synthetic-homotopy-theory/pushout-products.lagda.md
Labels: synthetic-homotopy-theory

#924 Infrastructure for homotopies between maps out of a suspension
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
Labels: foundation, synthetic-homotopy-theory

#701 Modal type theory
  .pre-commit-config.yaml
  CONTRIBUTING.md
  DESIGN-PRINCIPLES.md
  Makefile
  src/elementary-number-theory/integer-fractions.lagda.md
  src/foundation-core/decidable-propositions.lagda.md
  src/foundation-core/embeddings.lagda.md
  src/foundation-core/equality-dependent-pair-types.lagda.md
  src/foundation-core/small-types.lagda.md
  src/foundation-core/subtypes.lagda.md
  src/foundation.lagda.md
  src/foundation/binary-homotopies.lagda.md
  src/foundation/commuting-triangles-of-identifications.lagda.md
  src/foundation/decidable-equality.lagda.md
  src/foundation/decidable-types.lagda.md
  src/foundation/double-negation-modality.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/images.lagda.md
  src/foundation/iterated-dependent-product-types.lagda.md
  src/foundation/law-of-excluded-middle.lagda.md
  src/foundation/locally-small-types.lagda.md
  src/foundation/multivariable-homotopies.lagda.md
  src/foundation/multivariable-sections.lagda.md
  src/foundation/telescopes.lagda.md
  src/foundation/torsorial-type-families.lagda.md
  src/foundation/truncation-modalities.lagda.md
  src/foundation/univalence.lagda.md
  src/modal-type-theory.lagda.md
  src/modal-type-theory/crisp-identity-types.lagda.md
  src/modal-type-theory/crisp-law-of-excluded-middle.lagda.md
  src/modal-type-theory/flat-dependent-function-types.lagda.md
  src/modal-type-theory/flat-dependent-pair-types.lagda.md
  src/modal-type-theory/flat-discrete-types.lagda.md
  src/modal-type-theory/flat-modality.lagda.md
  src/modal-type-theory/flat-sharp-adjunction.lagda.md
  src/modal-type-theory/sharp-codiscrete-maps.lagda.md
  src/modal-type-theory/sharp-codiscrete-types.lagda.md
  src/modal-type-theory/sharp-modality.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/closed-modalities.lagda.md
  src/orthogonal-factorization-systems/functoriality-higher-modalities.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/orthogonal-factorization-systems/identity-modality.lagda.md
  src/orthogonal-factorization-systems/modal-induction.lagda.md
  src/orthogonal-factorization-systems/modal-operators.lagda.md
  src/orthogonal-factorization-systems/modal-subuniverse-induction.lagda.md
  src/orthogonal-factorization-systems/open-modalities.lagda.md
  src/orthogonal-factorization-systems/raise-modalities.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
  src/orthogonal-factorization-systems/uniquely-eliminating-modalities.lagda.md
  src/orthogonal-factorization-systems/zero-modality.lagda.md
  src/set-theory/cardinalities.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
Labels: orthogonal-factorization-systems, modal-type-theory

#942 Update maintainer sentences
  CONTRIBUTORS.toml
  HOME.md
  README.md
Labels: documentation

#935 The orbit category of a group
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
  src/category-theory/replete-subprecategories.lagda.md
  src/foundation/binary-relations.lagda.md
  src/foundation/coslice.lagda.md
  src/foundation/equivalence-relations.lagda.md
  src/foundation/identity-systems.lagda.md
  src/group-theory.lagda.md
  src/group-theory/category-of-group-actions.lagda.md
  src/group-theory/category-of-orbits-groups.lagda.md
  src/group-theory/cayleys-theorem.lagda.md
  src/group-theory/congruence-relations-abelian-groups.lagda.md
  src/group-theory/congruence-relations-commutative-monoids.lagda.md
  src/group-theory/congruence-relations-groups.lagda.md
  src/group-theory/congruence-relations-monoids.lagda.md
  src/group-theory/congruence-relations-semigroups.lagda.md
  src/group-theory/equivalences-group-actions.lagda.md
  src/group-theory/group-actions.lagda.md
  src/group-theory/homomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-groups.lagda.md
  src/group-theory/monomorphisms-groups.lagda.md
  src/group-theory/normal-subgroups.lagda.md
  src/group-theory/normal-submonoids-commutative-monoids.lagda.md
  src/group-theory/normal-submonoids.lagda.md
  src/group-theory/normalizer-subgroups.lagda.md
  src/group-theory/precategory-of-group-actions.lagda.md
  src/group-theory/quotient-groups.lagda.md
  src/group-theory/saturated-congruence-relations-commutative-monoids.lagda.md
  src/group-theory/saturated-congruence-relations-monoids.lagda.md
  src/group-theory/stabilizer-groups-concrete-group-actions.lagda.md
  src/group-theory/stabilizer-groups.lagda.md
  src/group-theory/subgroups-abelian-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/symmetric-groups.lagda.md
  src/group-theory/torsors.lagda.md
  src/group-theory/transitive-group-actions.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/ring-theory/congruence-relations-rings.lagda.md
  src/ring-theory/congruence-relations-semirings.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  tables/categories.md
Labels: group-theory, category-theory

#940 A map is `k`-epic iff its codiagonal is `k`-connected iff its codiagonal is a `k`-equivalence
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
Labels: foundation

#941 Subterminal precategories and constant functors
  src/category-theory.lagda.md
  src/category-theory/constant-functors.lagda.md
  src/category-theory/indiscrete-precategories.lagda.md
  src/category-theory/initial-category.lagda.md
  src/category-theory/subterminal-precategories.lagda.md
  src/category-theory/terminal-category.lagda.md
  src/foundation/truncation-equivalences.lagda.md
Labels: category-theory

#943 Reverse the direction of the equivalences on hom-sets in adjunctions
  src/category-theory/adjunctions-large-categories.lagda.md
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/group-theory/abelianization-groups.lagda.md
Labels: category-theory

#814 Update to Agda 2.6.4
  .github/workflows/ci.yaml
  .github/workflows/pages.yaml
  HOME.md
  HOWTO-INSTALL.md
  flake.lock
  flake.nix
Labels: CI, repo-maintenance

#851 Make pre-commit hooks talk to git
  CONTRIBUTING.md
  scripts/generate_main_index_file.py
  scripts/generate_namespace_index_modules.py
  scripts/spaces_conventions_simple.py
  scripts/utils/__init__.py
Labels: fix, pre-commit

#947 Define (sequentially) compact types
  src/foundation/cones-over-towers.lagda.md
  src/foundation/towers.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequentially-compact-types.lagda.md
Labels: foundation, synthetic-homotopy-theory

#952 Adding concept tags to three files
  src/graph-theory/closed-walks-undirected-graphs.lagda.md
  src/graph-theory/complete-bipartite-graphs.lagda.md
  src/graph-theory/complete-multipartite-graphs.lagda.md
Labels: repo-maintenance

#953 Adding more concept tags to graph theory
  src/graph-theory/closed-walks-undirected-graphs.lagda.md
  src/graph-theory/complete-undirected-graphs.lagda.md
  src/graph-theory/cycles-undirected-graphs.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
Labels: repo-maintenance

#931 Initial definitions for the cd-excision project
  src/foundation.lagda.md
  src/foundation/diagonals-of-morphisms-arrows.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/cd-structures.lagda.md
  src/orthogonal-factorization-systems/regular-cd-structures.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocartesian-morphisms-arrows.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
Labels: foundation, orthogonal-factorization-systems
