Repository UniMath/agda-unimath, pull requests merged in 2023-10, with the labels that each got.

#810 Free and transitive concrete group actions
  src/group-theory/free-concrete-group-actions.lagda.md
  src/group-theory/subgroups-concrete-groups.lagda.md
  src/group-theory/transitive-concrete-group-actions.lagda.md
  src/higher-group-theory/free-higher-group-actions.lagda.md
  src/higher-group-theory/transitive-higher-group-actions.lagda.md
  src/structured-types/cyclic-types.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/connected-set-bundles-circle.lagda.md
Labels: group-theory

#813 Torsion-free groups
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/divisibility-integers.lagda.md
  src/elementary-number-theory/integer-fractions.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/multiplication-integers.lagda.md
  src/elementary-number-theory/nonzero-integers.lagda.md
  src/elementary-number-theory/nonzero-natural-numbers.lagda.md
  src/group-theory.lagda.md
  src/group-theory/elements-of-finite-order-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/torsion-elements-groups.lagda.md
  src/group-theory/torsion-free-groups.lagda.md
Labels: group-theory, elementary-number-theory

#817 Adding explanation to contractibility of the types of sections and retractions of an equivalence
  src/foundation/equivalences.lagda.md
Labels: foundation

#815 Nontrivial groups, and a correction of a statement in torsion-free groups
  src/foundation/disjunction.lagda.md
  src/group-theory.lagda.md
  src/group-theory/nontrivial-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/torsion-free-groups.lagda.md
  src/group-theory/trivial-groups.lagda.md
Labels: group-theory

#812 Refactoring types with automorphisms/endomorphisms and descent data for the circle
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/structured-types.lagda.md
  src/structured-types/cartesian-products-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/cyclic-types.lagda.md
  src/structured-types/dependent-types-equipped-with-automorphisms.lagda.md
  src/structured-types/equivalences-types-equipped-with-automorphisms.lagda.md
  src/structured-types/equivalences-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/iterated-cartesian-products-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/mere-equivalences-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/morphisms-types-equipped-with-automorphisms.lagda.md
  src/structured-types/morphisms-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/sets-equipped-with-automorphisms.lagda.md
  src/structured-types/types-equipped-with-automorphisms.lagda.md
  src/structured-types/types-equipped-with-endomorphisms.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/connected-set-bundles-circle.lagda.md
  src/synthetic-homotopy-theory/dependent-descent-circle.lagda.md
  src/synthetic-homotopy-theory/descent-circle-constant-families.lagda.md
  src/synthetic-homotopy-theory/descent-circle-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-equivalence-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-function-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-subtypes.lagda.md
  src/synthetic-homotopy-theory/descent-circle.lagda.md
  src/synthetic-homotopy-theory/infinite-cyclic-types.lagda.md
  src/synthetic-homotopy-theory/morphisms-descent-data-circle.lagda.md
  src/univalent-combinatorics/cyclic-types.lagda.md
  src/univalent-combinatorics/necklaces.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: synthetic-homotopy-theory, structured-types, refactoring

#818 Update mdbook-catppuccin, lock mdbook dependencies
  Makefile
  book.toml
  flake.lock
  flake.nix
  scripts/generate_agda_css.py
  theme/catppuccin-admonish.css
  theme/catppuccin-highlight.css
  theme/catppuccin.css
Labels: repo-maintenance, website

#822 Negated equality
  src/elementary-number-theory/addition-natural-numbers.lagda.md
  src/elementary-number-theory/divisibility-natural-numbers.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/nonzero-integers.lagda.md
  src/elementary-number-theory/nonzero-natural-numbers.lagda.md
  src/elementary-number-theory/prime-numbers.lagda.md
  src/elementary-number-theory/proper-divisors-natural-numbers.lagda.md
  src/elementary-number-theory/relatively-prime-natural-numbers.lagda.md
  src/elementary-number-theory/repeating-element-standard-finite-type.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/elementary-number-theory/strictly-ordered-pairs-of-natural-numbers.lagda.md
  src/finite-group-theory/delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/orbits-permutations.lagda.md
  src/finite-group-theory/permutations-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions.lagda.md
  src/foundation.lagda.md
  src/foundation/apartness-relations.lagda.md
  src/foundation/booleans.lagda.md
  src/foundation/coproduct-types.lagda.md
  src/foundation/equality-coproduct-types.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/isolated-elements.lagda.md
  src/foundation/multisubsets.lagda.md
  src/foundation/negated-equality.lagda.md
  src/foundation/pairs-of-distinct-elements.lagda.md
  src/foundation/perfect-images.lagda.md
  src/foundation/repetitions-of-values.lagda.md
  src/foundation/repetitions-sequences.lagda.md
  src/foundation/standard-apartness-relations.lagda.md
  src/foundation/tight-apartness-relations.lagda.md
  src/foundation/universal-property-booleans.lagda.md
  src/graph-theory/walks-directed-graphs.lagda.md
  src/group-theory/nontrivial-groups.lagda.md
  src/lists/permutation-vectors.lagda.md
  src/order-theory/preorders.lagda.md
  src/ring-theory/division-rings.lagda.md
  src/set-theory/countable-sets.lagda.md
  src/trees/directed-trees.lagda.md
  src/trees/underlying-trees-elements-coalgebras-polynomial-endofunctors.lagda.md
  src/trees/underlying-trees-of-elements-of-w-types.lagda.md
  src/univalent-combinatorics/2-element-decidable-subtypes.lagda.md
  src/univalent-combinatorics/2-element-subtypes.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/equality-standard-finite-types.lagda.md
  src/univalent-combinatorics/orientations-complete-undirected-graph.lagda.md
  src/univalent-combinatorics/pigeonhole-principle.lagda.md
  src/univalent-combinatorics/repetitions-of-values.lagda.md
  src/univalent-combinatorics/sequences-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
  tables/identity-types.md
Labels: foundation

#823 Navigation tables for all files related to cyclic types, groups, and rings
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/eulers-totient-function.lagda.md
  src/elementary-number-theory/finitely-cyclic-maps.lagda.md
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/elementary-number-theory/multiplicative-units-modular-arithmetic.lagda.md
  src/elementary-number-theory/multiplicative-units-standard-cyclic-rings.lagda.md
  src/elementary-number-theory/relatively-prime-natural-numbers.lagda.md
  src/elementary-number-theory/ring-of-integers.lagda.md
  src/elementary-number-theory/standard-cyclic-groups.lagda.md
  src/elementary-number-theory/standard-cyclic-rings.lagda.md
  src/finite-group-theory/groups-of-order-2.lagda.md
  src/finite-group-theory/tetrahedra-in-3-space.lagda.md
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/polygons.lagda.md
  src/group-theory/cyclic-groups.lagda.md
  src/group-theory/dihedral-groups.lagda.md
  src/group-theory/generating-elements-groups.lagda.md
  src/higher-group-theory/cyclic-higher-groups.lagda.md
  src/ring-theory/category-of-cyclic-rings.lagda.md
  src/ring-theory/cyclic-rings.lagda.md
  src/ring-theory/homomorphisms-cyclic-rings.lagda.md
  src/ring-theory/poset-of-cyclic-rings.lagda.md
  src/species/cycle-index-series-species-of-types.lagda.md
  src/structured-types/cyclic-types.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/connected-set-bundles-circle.lagda.md
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
  src/synthetic-homotopy-theory/infinite-cyclic-types.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/bracelets.lagda.md
  src/univalent-combinatorics/cycle-partitions.lagda.md
  src/univalent-combinatorics/cycle-prime-decomposition-natural-numbers.lagda.md
  src/univalent-combinatorics/cyclic-finite-types.lagda.md
  src/univalent-combinatorics/necklaces.lagda.md
  tables/cyclic-types.md
Labels: website, group-theory, ring-theory, elementary-number-theory, synthetic-homotopy-theory, structured-types

#826 The codiagonal of a map
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/codiagonals-of-maps.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#827 Dependent epimorphisms
  src/foundation.lagda.md
  src/foundation/dependent-epimorphisms.lagda.md
  src/foundation/epimorphisms-with-respect-to-sets.lagda.md
  src/foundation/epimorphisms-with-respect-to-truncated-types.lagda.md
  src/foundation/epimorphisms.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
Labels: foundation, synthetic-homotopy-theory

#816 Flattening lemma for pushouts 2: descent data boogaloo
  src/foundation-core/commuting-triangles-of-maps.lagda.md
  src/foundation-core/functoriality-function-types.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/commuting-hexagons-of-identifications.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/equality-dependent-pair-types.lagda.md
  src/foundation/function-types.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/foundation/homotopies.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: foundation, synthetic-homotopy-theory

#828 Introduce the subuniverse P
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
Labels: fix, foundation

#829 Clean up the commutators of elements file
  src/group-theory.lagda.md
  src/group-theory/commutators-of-elements-groups.lagda.md
Labels: group-theory

#832 Creating internal and external links in Graph Theory
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/circuits-undirected-graphs.lagda.md
  src/graph-theory/closed-walks-undirected-graphs.lagda.md
  src/graph-theory/complete-bipartite-graphs.lagda.md
  src/graph-theory/complete-multipartite-graphs.lagda.md
  src/graph-theory/complete-undirected-graphs.lagda.md
  src/graph-theory/connected-undirected-graphs.lagda.md
  src/graph-theory/cycles-undirected-graphs.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/directed-graphs.lagda.md
  src/graph-theory/edge-coloured-undirected-graphs.lagda.md
  src/graph-theory/embeddings-directed-graphs.lagda.md
  src/graph-theory/embeddings-undirected-graphs.lagda.md
  src/graph-theory/enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-directed-graphs.lagda.md
  src/graph-theory/equivalences-enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-undirected-graphs.lagda.md
  src/graph-theory/eulerian-circuits-undirected-graphs.lagda.md
  src/graph-theory/faithful-morphisms-undirected-graphs.lagda.md
  src/graph-theory/fibers-directed-graphs.lagda.md
  src/graph-theory/finite-graphs.lagda.md
  src/graph-theory/geometric-realizations-undirected-graphs.lagda.md
  src/graph-theory/hypergraphs.lagda.md
  src/graph-theory/matchings.lagda.md
  src/graph-theory/mere-equivalences-undirected-graphs.lagda.md
  src/graph-theory/morphisms-directed-graphs.lagda.md
  src/graph-theory/morphisms-undirected-graphs.lagda.md
  src/graph-theory/neighbors-undirected-graphs.lagda.md
  src/graph-theory/orientations-undirected-graphs.lagda.md
  src/graph-theory/paths-undirected-graphs.lagda.md
  src/graph-theory/polygons.lagda.md
  src/graph-theory/raising-universe-levels-directed-graphs.lagda.md
  src/graph-theory/reflecting-maps-undirected-graphs.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
  src/graph-theory/regular-undirected-graphs.lagda.md
  src/graph-theory/simple-undirected-graphs.lagda.md
  src/graph-theory/stereoisomerism-enriched-undirected-graphs.lagda.md
  src/graph-theory/totally-faithful-morphisms-undirected-graphs.lagda.md
  src/graph-theory/trails-directed-graphs.lagda.md
  src/graph-theory/trails-undirected-graphs.lagda.md
  src/graph-theory/undirected-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/undirected-graphs.lagda.md
  src/graph-theory/vertex-covers.lagda.md
  src/graph-theory/voltage-graphs.lagda.md
  src/graph-theory/walks-directed-graphs.lagda.md
  src/graph-theory/walks-undirected-graphs.lagda.md
Labels: website, graph-theory

#831 Derive the flattening lemma for coequalizers from the flattening lemma for pushouts
  src/synthetic-homotopy-theory/coequalizers.lagda.md
  src/synthetic-homotopy-theory/coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-coequalizers.lagda.md
Labels: synthetic-homotopy-theory

#833 Define suspension prespectra and maps of prespectra
  src/foundation-core/subtypes.lagda.md
  src/foundation.lagda.md
  src/foundation/dependent-sequences.lagda.md
  src/foundation/sequences.lagda.md
  src/foundation/type-arithmetic-dependent-function-types.lagda.md
  src/structured-types/pointed-equivalences.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/functoriality-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/iterated-suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/loop-spaces.lagda.md
  src/synthetic-homotopy-theory/maps-of-prespectra.lagda.md
  src/synthetic-homotopy-theory/prespectra.lagda.md
  src/synthetic-homotopy-theory/spectra.lagda.md
  src/synthetic-homotopy-theory/sphere-prespectrum.lagda.md
  src/synthetic-homotopy-theory/spheres.lagda.md
  src/synthetic-homotopy-theory/suspension-prespectra.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
Labels: synthetic-homotopy-theory

#837 Fix links to wikidata to the recommended links; add concept tags at end of file for testing purposes
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/circuits-undirected-graphs.lagda.md
  src/graph-theory/closed-walks-undirected-graphs.lagda.md
  src/graph-theory/complete-bipartite-graphs.lagda.md
  src/graph-theory/complete-multipartite-graphs.lagda.md
  src/graph-theory/complete-undirected-graphs.lagda.md
  src/graph-theory/connected-undirected-graphs.lagda.md
  src/graph-theory/cycles-undirected-graphs.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/directed-graphs.lagda.md
  src/graph-theory/edge-coloured-undirected-graphs.lagda.md
  src/graph-theory/embeddings-directed-graphs.lagda.md
  src/graph-theory/embeddings-undirected-graphs.lagda.md
  src/graph-theory/enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-directed-graphs.lagda.md
  src/graph-theory/equivalences-enriched-undirected-graphs.lagda.md
  src/graph-theory/equivalences-undirected-graphs.lagda.md
  src/graph-theory/eulerian-circuits-undirected-graphs.lagda.md
  src/graph-theory/faithful-morphisms-undirected-graphs.lagda.md
  src/graph-theory/finite-graphs.lagda.md
  src/graph-theory/hypergraphs.lagda.md
  src/graph-theory/matchings.lagda.md
  src/graph-theory/mere-equivalences-undirected-graphs.lagda.md
  src/graph-theory/morphisms-directed-graphs.lagda.md
  src/graph-theory/morphisms-undirected-graphs.lagda.md
  src/graph-theory/neighbors-undirected-graphs.lagda.md
  src/graph-theory/orientations-undirected-graphs.lagda.md
  src/graph-theory/paths-undirected-graphs.lagda.md
  src/graph-theory/polygons.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
  src/graph-theory/regular-undirected-graphs.lagda.md
  src/graph-theory/simple-undirected-graphs.lagda.md
  src/graph-theory/stereoisomerism-enriched-undirected-graphs.lagda.md
  src/graph-theory/totally-faithful-morphisms-undirected-graphs.lagda.md
  src/graph-theory/trails-directed-graphs.lagda.md
  src/graph-theory/trails-undirected-graphs.lagda.md
  src/graph-theory/undirected-graph-structures-on-standard-finite-sets.lagda.md
  src/graph-theory/undirected-graphs.lagda.md
  src/graph-theory/vertex-covers.lagda.md
  src/graph-theory/walks-directed-graphs.lagda.md
  src/graph-theory/walks-undirected-graphs.lagda.md
Labels: website, mage

#840 Patch file generation scripts to ignore `MAlonzo`
  scripts/generate_main_index_file.py
  scripts/generate_namespace_index_modules.py
Labels: fix, pre-commit

#839 Sequential limits
  src/foundation-core/commuting-squares-of-maps.lagda.md
  src/foundation-core/commuting-triangles-of-maps.lagda.md
  src/foundation-core/equality-dependent-pair-types.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation-core/fibers-of-maps.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/pullbacks.lagda.md
  src/foundation-core/universal-property-pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/commuting-squares-of-homotopies.lagda.md
  src/foundation/commuting-squares-of-identifications.lagda.md
  src/foundation/commuting-triangles-of-maps.lagda.md
  src/foundation/composite-maps-in-towers.lagda.md
  src/foundation/cones-over-cospans.lagda.md
  src/foundation/cones-over-towers.lagda.md
  src/foundation/cospans.lagda.md
  src/foundation/dependent-identifications.lagda.md
  src/foundation/dependent-towers.lagda.md
  src/foundation/diagonals-of-maps.lagda.md
  src/foundation/equality-fibers-of-maps.lagda.md
  src/foundation/equivalence-relations.lagda.md
  src/foundation/equivalences-towers.lagda.md
  src/foundation/fiber-inclusions.lagda.md
  src/foundation/fibers-of-maps.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/foundation/functoriality-fibers-of-maps.lagda.md
  src/foundation/functoriality-pullbacks.lagda.md
  src/foundation/functoriality-sequential-limits.lagda.md
  src/foundation/morphisms-cospans.lagda.md
  src/foundation/morphisms-towers.lagda.md
  src/foundation/pullback-squares.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/sequences.lagda.md
  src/foundation/sequential-limits.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/symmetric-operations.lagda.md
  src/foundation/towers.lagda.md
  src/foundation/transfinite-cocomposition-of-maps.lagda.md
  src/foundation/unions-subtypes.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/foundation/universal-property-fiber-products.lagda.md
  src/foundation/universal-property-pullbacks.lagda.md
  src/foundation/universal-property-sequential-limits.lagda.md
  src/group-theory/torsion-free-groups.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/functoriality-pullback-hom.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
  src/synthetic-homotopy-theory/27-sequences.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/maps-of-prespectra.lagda.md
  src/synthetic-homotopy-theory/prespectra.lagda.md
  src/synthetic-homotopy-theory/spectra.lagda.md
  src/univalent-combinatorics/fibers-of-maps.lagda.md
  tables/fibers-of-maps.md
  tables/pullbacks.md
  tables/sequential-limits.md
Labels: foundation

#843 Perfect groups
  src/group-theory.lagda.md
  src/group-theory/perfect-groups.lagda.md
Labels: group-theory

#846 Compatibility patch for Agda 2.6.4
  src/elementary-number-theory/based-induction-natural-numbers.lagda.md
  src/elementary-number-theory/binomial-coefficients.lagda.md
  src/elementary-number-theory/collatz-bijection.lagda.md
  src/elementary-number-theory/distance-integers.lagda.md
  src/elementary-number-theory/finitary-natural-numbers.lagda.md
  src/elementary-number-theory/modular-arithmetic-standard-finite-types.lagda.md
  src/elementary-number-theory/repeating-element-standard-finite-type.lagda.md
  src/elementary-number-theory/strong-induction-natural-numbers.lagda.md
  src/elementary-number-theory/universal-property-integers.lagda.md
  src/foundation/dependent-binomial-theorem.lagda.md
  src/foundation/exclusive-disjunction.lagda.md
  src/foundation/iterating-automorphisms.lagda.md
  src/foundation/iterating-involutions.lagda.md
  src/foundation/symmetric-identity-types.lagda.md
  src/foundation/universal-property-maybe.lagda.md
  src/foundation/unordered-pairs.lagda.md
  src/group-theory/integer-powers-of-elements-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/organic-chemistry/ethane.lagda.md
  src/reflection/type-checking-monad.lagda.md
  src/ring-theory/integer-multiples-of-elements-rings.lagda.md
  src/trees/combinator-directed-trees.lagda.md
  src/univalent-combinatorics/classical-finite-types.lagda.md
  src/univalent-combinatorics/coproduct-types.lagda.md
  src/univalent-combinatorics/cyclic-finite-types.lagda.md
  src/univalent-combinatorics/set-quotients-of-index-two.lagda.md
Labels: repo-maintenance, fix

#844 The decidable total order on a standard finite type
  MIXFIX-OPERATORS.md
  src/category-theory/faithful-functors-precategories.lagda.md
  src/category-theory/presheaf-categories.lagda.md
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/decidable-total-order-natural-numbers.lagda.md
  src/elementary-number-theory/decidable-total-order-standard-finite-types.lagda.md
  src/elementary-number-theory/inequality-integers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-standard-finite-types.lagda.md
  src/elementary-number-theory/ordinal-induction-natural-numbers.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/total-orders.lagda.md
  src/set-theory/cardinalities.lagda.md
  src/univalent-combinatorics/inequality-types-with-counting.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: elementary-number-theory, order-theory, univalent-combinatorics

#847 Perfect subgroups
  src/group-theory.lagda.md
  src/group-theory/perfect-subgroups.lagda.md
Labels: group-theory

#849 add myself as contributor
  CONTRIBUTORS.toml
Labels: website

#845 The simplex precategory
  src/category-theory.lagda.md
  src/category-theory/augmented-simplex-category.lagda.md
  src/category-theory/embedding-maps-precategories.lagda.md
  src/category-theory/embeddings-precategories.lagda.md
  src/category-theory/faithful-functors-precategories.lagda.md
  src/category-theory/faithful-maps-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/simplex-category.lagda.md
  src/category-theory/subprecategories.lagda.md
  src/finite-group-theory/finite-semigroups.lagda.md
  src/order-theory.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/finite-posets.lagda.md
  src/order-theory/finite-preorders.lagda.md
  src/order-theory/finite-total-orders.lagda.md
  src/order-theory/inhabited-finite-total-orders.lagda.md
  src/order-theory/posets.lagda.md
  src/order-theory/precategory-of-decidable-total-orders.lagda.md
  src/order-theory/precategory-of-finite-posets.lagda.md
  src/order-theory/precategory-of-finite-total-orders.lagda.md
  src/order-theory/precategory-of-inhabited-finite-total-orders.lagda.md
  src/order-theory/precategory-of-posets.lagda.md
  src/order-theory/precategory-of-total-orders.lagda.md
  src/order-theory/preorders.lagda.md
  src/univalent-combinatorics/equivalences-standard-finite-types.lagda.md
  src/univalent-combinatorics/finite-types.lagda.md
  src/univalent-combinatorics/inhabited-finite-types.lagda.md
  src/univalent-combinatorics/sequences-finite-types.lagda.md
  tables/precategories.md
Labels: category-theory, order-theory, univalent-combinatorics

#850 The perfect core of a group
  src/group-theory.lagda.md
  src/group-theory/perfect-cores.lagda.md
Labels: group-theory

#854 Adjunctions of large categories and some minor refactoring
  src/category-theory.lagda.md
  src/category-theory/adjunctions-large-categories.lagda.md
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/category-theory/equivalences-of-large-precategories.lagda.md
  src/category-theory/functors-large-categories.lagda.md
  src/category-theory/functors-large-precategories.lagda.md
  src/category-theory/homotopies-natural-transformations-large-precategories.lagda.md
  src/category-theory/natural-isomorphisms-functors-large-precategories.lagda.md
  src/category-theory/natural-transformations-functors-large-categories.lagda.md
  src/category-theory/natural-transformations-functors-large-precategories.lagda.md
  src/category-theory/representable-functors-large-precategories.lagda.md
  src/commutative-algebra/groups-of-units-commutative-rings.lagda.md
  src/group-theory.lagda.md
  src/group-theory/category-of-abelian-groups.lagda.md
  src/group-theory/cores-monoids.lagda.md
  src/group-theory/precategory-of-abelian-groups.lagda.md
  src/group-theory/substitution-functor-group-actions.lagda.md
  src/ring-theory/groups-of-units-rings.lagda.md
  tables/categories.md
  tables/precategories.md
Labels: group-theory, category-theory

#857 If a map is an epimorphism, then its codagional is an equivalence.
  src/foundation/epimorphisms.lagda.md
Labels: foundation, synthetic-homotopy-theory

#858 A map is an embedding if and only if it has contractible fibers at values
  src/foundation/embeddings.lagda.md
Labels: foundation

#859 Fix broken links in `MIXFIX-OPERATORS.md`
  CODINGSTYLE.md
  MIXFIX-OPERATORS.md
Labels: website, fix

#852 Classifying invertible maps
  src/foundation/invertible-maps.lagda.md
Labels: foundation

#862 Level-universe compatibility patch
  src/category-theory/functors-large-categories.lagda.md
  src/category-theory/functors-large-precategories.lagda.md
  src/commutative-algebra/groups-of-units-commutative-rings.lagda.md
  src/commutative-algebra/poset-of-radical-ideals-commutative-rings.lagda.md
  src/commutative-algebra/radicals-of-ideals-commutative-rings.lagda.md
  src/foundation-core/functoriality-function-types.lagda.md
  src/foundation/connected-components-universes.lagda.md
  src/foundation/subuniverses.lagda.md
  src/group-theory/cores-monoids.lagda.md
  src/group-theory/normal-closures-subgroups.lagda.md
  src/group-theory/normal-cores-subgroups.lagda.md
  src/group-theory/normal-subgroups.lagda.md
  src/group-theory/subgroups-generated-by-subsets-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/substitution-functor-group-actions.lagda.md
  src/order-theory/closure-operators-large-locales.lagda.md
  src/order-theory/closure-operators-large-posets.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/order-theory/homomorphisms-large-meet-semilattices.lagda.md
  src/order-theory/homomorphisms-large-suplattices.lagda.md
  src/order-theory/nuclei-large-locales.lagda.md
  src/ring-theory/ideals-generated-by-subsets-rings.lagda.md
  src/ring-theory/left-ideals-generated-by-subsets-rings.lagda.md
  src/ring-theory/poset-of-ideals-rings.lagda.md
  src/ring-theory/poset-of-left-ideals-rings.lagda.md
  src/ring-theory/poset-of-right-ideals-rings.lagda.md
  src/ring-theory/right-ideals-generated-by-subsets-rings.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-products-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/coproducts-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-products-species-of-types-in-subuniverses.lagda.md
  src/species/exponentials-cauchy-series-of-types-in-subuniverses.lagda.md
  src/species/products-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/unit-cauchy-composition-species-of-types-in-subuniverses.lagda.md
Labels: repo-maintenance

#863 Characteristic subgroups
  src/commutative-algebra/isomorphisms-commutative-rings.lagda.md
  src/commutative-algebra/transporting-commutative-ring-structure-isomorphisms-abelian-groups.lagda.md
  src/finite-group-theory/finite-type-groups.lagda.md
  src/finite-group-theory/groups-of-order-2.lagda.md
  src/foundation/images-subtypes.lagda.md
  src/group-theory.lagda.md
  src/group-theory/category-of-groups.lagda.md
  src/group-theory/category-of-semigroups.lagda.md
  src/group-theory/characteristic-subgroups.lagda.md
  src/group-theory/conjugation.lagda.md
  src/group-theory/epimorphisms-groups.lagda.md
  src/group-theory/full-subgroups.lagda.md
  src/group-theory/generating-elements-groups.lagda.md
  src/group-theory/images-of-group-homomorphisms.lagda.md
  src/group-theory/isomorphisms-abelian-groups.lagda.md
  src/group-theory/isomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-groups.lagda.md
  src/group-theory/isomorphisms-semigroups.lagda.md
  src/group-theory/loop-groups-sets.lagda.md
  src/group-theory/monomorphisms-groups.lagda.md
  src/group-theory/opposite-groups.lagda.md
  src/group-theory/symmetric-groups.lagda.md
  src/group-theory/torsors.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
  src/ring-theory/transporting-ring-structure-along-isomorphisms-abelian-groups.lagda.md
  src/univalent-combinatorics/cyclic-finite-types.lagda.md
Labels: group-theory

#860 A map is an epimorphism if its codiagonal is an equivalence
  src/foundation/epimorphisms.lagda.md
  src/foundation/functoriality-function-types.lagda.md
Labels: foundation

#864 Nonunital precategories
  src/category-theory.lagda.md
  src/category-theory/augmented-simplex-category.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/dependent-products-of-categories.lagda.md
  src/category-theory/dependent-products-of-precategories.lagda.md
  src/category-theory/full-large-subcategories.lagda.md
  src/category-theory/full-large-subprecategories.lagda.md
  src/category-theory/full-subcategories.lagda.md
  src/category-theory/full-subprecategories.lagda.md
  src/category-theory/function-categories.lagda.md
  src/category-theory/function-precategories.lagda.md
  src/category-theory/isomorphism-induction-categories.lagda.md
  src/category-theory/isomorphism-induction-precategories.lagda.md
  src/category-theory/isomorphisms-in-categories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/isomorphisms-in-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
  src/category-theory/natural-isomorphisms-functors-categories.lagda.md
  src/category-theory/natural-isomorphisms-functors-precategories.lagda.md
  src/category-theory/natural-isomorphisms-maps-categories.lagda.md
  src/category-theory/natural-isomorphisms-maps-precategories.lagda.md
  src/category-theory/nonunital-precategories.lagda.md
  src/category-theory/one-object-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/precategory-of-functors.lagda.md
  src/category-theory/precategory-of-maps-precategories.lagda.md
  src/category-theory/preunivalent-categories.lagda.md
  src/category-theory/representing-arrow-category.lagda.md
  src/category-theory/simplex-category.lagda.md
  src/category-theory/subcategories.lagda.md
  src/category-theory/subprecategories.lagda.md
  src/foundation/equivalence-induction.lagda.md
  src/foundation/singleton-induction.lagda.md
  src/foundation/subsingleton-induction.lagda.md
  src/group-theory/isomorphisms-monoids.lagda.md
Labels: category-theory

#867 Strict categories
  src/category-theory.lagda.md
  src/category-theory/strict-categories.lagda.md
Labels: set-theory, category-theory

#866 Rename Axiom L to Preunivalence
  src/category-theory/categories.lagda.md
  src/category-theory/preunivalent-categories.lagda.md
  src/foundation-core/sets.lagda.md
  src/foundation-core/univalence.lagda.md
  src/foundation.lagda.md
  src/foundation/axiom-l.lagda.md
  src/foundation/preunivalence.lagda.md
  src/foundation/univalence.lagda.md
  src/foundation/universal-property-identity-types.lagda.md
Labels: foundation

#870 Formatting of postulates
  src/foundation/function-extensionality.lagda.md
  src/foundation/replacement.lagda.md
  src/foundation/univalence.lagda.md
  src/primitives/characters.lagda.md
  src/primitives/floats.lagda.md
  src/primitives/machine-integers.lagda.md
  src/primitives/strings.lagda.md
  src/reflection/metavariables.lagda.md
  src/reflection/names.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
Labels: formatting

#873 Improve computational behaviour of `iso-eq`
  src/category-theory/categories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/isomorphisms-in-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
  src/category-theory/large-categories.lagda.md
  src/category-theory/large-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/preunivalent-categories.lagda.md
  src/category-theory/strict-categories.lagda.md
  src/group-theory/isomorphisms-abelian-groups.lagda.md
Labels: category-theory, refactoring

#874 Preunivalence holds in univalent foundations
  src/foundation-core/univalence.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/preunivalence.lagda.md
  src/foundation/replacement.lagda.md
  src/foundation/small-types.lagda.md
  src/foundation/univalence.lagda.md
  src/foundation/universal-property-identity-types.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
Labels: foundation

#876 Peano arithmetic
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/addition-natural-numbers.lagda.md
  src/elementary-number-theory/based-strong-induction-natural-numbers.lagda.md
  src/elementary-number-theory/equality-natural-numbers.lagda.md
  src/elementary-number-theory/factorials.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/monoid-of-natural-numbers-with-addition.lagda.md
  src/elementary-number-theory/monoid-of-natural-numbers-with-maximum.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
  src/elementary-number-theory/multiplicative-monoid-of-natural-numbers.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/parity-natural-numbers.lagda.md
  src/elementary-number-theory/peano-arithmetic.lagda.md
  src/elementary-number-theory/poset-of-natural-numbers-ordered-by-divisibility.lagda.md
  src/elementary-number-theory/strong-induction-natural-numbers.lagda.md
  src/elementary-number-theory/type-arithmetic-natural-numbers.lagda.md
  src/lists/functoriality-lists.lagda.md
  src/lists/permutation-lists.lagda.md
  src/set-theory/baire-space.lagda.md
  src/set-theory/countable-sets.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: elementary-number-theory, refactoring

#797 Iterated type families
  src/category-theory/groupoids.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation.lagda.md
  src/foundation/binary-relations.lagda.md
  src/foundation/dependent-telescopes.lagda.md
  src/foundation/empty-types.lagda.md
  src/foundation/equality-coproduct-types.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/iterated-dependent-pair-types.lagda.md
  src/foundation/iterated-dependent-product-types.lagda.md
  src/foundation/multivariable-homotopies.lagda.md
  src/foundation/path-split-maps.lagda.md
  src/foundation/telescopes.lagda.md
  src/trees.lagda.md
  src/trees/bounded-multisets.lagda.md
  src/trees/empty-multisets.lagda.md
  src/trees/multiset-indexed-dependent-products-of-types.lagda.md
  src/trees/multisets.lagda.md
  src/trees/universal-tree.lagda.md
Labels: foundation, trees

#878 Refactor funext
  src/foundation-core/function-extensionality.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/homotopy-induction.lagda.md
  src/foundation/univalence-implies-function-extensionality.lagda.md
  src/foundation/weak-function-extensionality.lagda.md
Labels: foundation, refactoring

#654 Refactor synthetic homotopy theory
  src/foundation-core.lagda.md
  src/foundation-core/function-extensionality.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/propositions.lagda.md
  src/foundation-core/transport-along-identifications.lagda.md
  src/foundation.lagda.md
  src/foundation/action-on-identifications-functions.lagda.md
  src/foundation/cantors-diagonal-argument.lagda.md
  src/foundation/commuting-squares-of-identifications.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/dependent-homotopies.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/functoriality-propositional-truncation.lagda.md
  src/foundation/functoriality-truncation.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/homotopy-induction.lagda.md
  src/foundation/lawveres-fixed-point-theorem.lagda.md
  src/foundation/negated-equality.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/set-quotients.lagda.md
  src/foundation/transport-along-higher-identifications.lagda.md
  src/foundation/transport-along-homotopies.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/foundation/uniqueness-set-quotients.lagda.md
  src/foundation/univalence-implies-function-extensionality.lagda.md
  src/foundation/weak-function-extensionality.lagda.md
  src/group-theory/isomorphisms-semigroups.lagda.md
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/cavallos-trick.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/free-loops.lagda.md
  src/synthetic-homotopy-theory/functoriality-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/groups-of-loops-in-1-types.lagda.md
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
  src/synthetic-homotopy-theory/infinite-cyclic-types.lagda.md
  src/synthetic-homotopy-theory/interval-type.lagda.md
  src/synthetic-homotopy-theory/iterated-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
  src/synthetic-homotopy-theory/multiplication-circle.lagda.md
  src/synthetic-homotopy-theory/plus-principle.lagda.md
  src/synthetic-homotopy-theory/powers-of-loops.lagda.md
  src/synthetic-homotopy-theory/pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/pushouts-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/smash-products-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/triple-loop-spaces.lagda.md
Labels: cleanup, synthetic-homotopy-theory, refactoring

#841 Sequential colimits
  src/foundation/universal-property-sequential-limits.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/27-sequences.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/equivalences-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
Labels: synthetic-homotopy-theory

#883 Extending pushouts by equivalences
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#891 Implicit function extensionality
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation.lagda.md
  src/foundation/equality-dependent-function-types.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/implicit-function-types.lagda.md
  src/foundation/iterated-dependent-product-types.lagda.md
  src/foundation/multivariable-homotopies.lagda.md
  src/foundation/type-theoretic-principle-of-choice.lagda.md
Labels: foundation

#887 Characterizing the fibers of cogap as a pushout of fibers
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#892 Codiagonal is fiberwise suspension
  src/synthetic-homotopy-theory/codiagonals-of-maps.lagda.md
Labels: synthetic-homotopy-theory

#894 The acyclic maps are exactly the epimorphisms
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
Labels: synthetic-homotopy-theory

#889 Equivalence between spans and relations
  src/foundation/spans.lagda.md
  src/foundation/universal-property-dependent-pair-types.lagda.md
Labels: foundation
