Repository UniMath/agda-unimath, pull requests merged in 2023-08, with the labels that each got.

#680 Small constructions from large ones in order theory
  src/foundation/univalence-implies-function-extensionality.lagda.md
  src/foundation/universe-levels.lagda.md
  src/foundation/weak-function-extensionality.lagda.md
  src/group-theory/large-semigroups.lagda.md
  src/group-theory/semigroups.lagda.md
  src/order-theory/large-frames.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
  src/order-theory/large-subframes.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/least-upper-bounds-large-posets.lagda.md
  src/order-theory/posets.lagda.md
Labels: order-theory

#687 Adding comments to the style guides that (subsection) titles should be on one line
  CONTRIBUTING.md
  FILE-CONVENTIONS.md
  book.toml
Labels: guides

#688 suspension loop space adjunction
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
Labels: synthetic-homotopy-theory

#691 Recommend cloning shallow library
  HOWTO-INSTALL.md
Labels: guides

#692 Guidelines for forking the repository and creating branches within clone
  HOWTO-INSTALL.md
Labels: guides

#693 Normalizers, normal closures, normal cores, and centralizers
  HOWTO-INSTALL.md
  src/finite-group-theory/finite-groups.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation-core/sections.lagda.md
  src/foundation/decidable-equality.lagda.md
  src/foundation/intersections-subtypes.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/sections.lagda.md
  src/group-theory.lagda.md
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/central-elements-groups.lagda.md
  src/group-theory/centralizer-subgroups.lagda.md
  src/group-theory/congruence-relations-groups.lagda.md
  src/group-theory/conjugation.lagda.md
  src/group-theory/groups.lagda.md
  src/group-theory/normal-closures-subgroups.lagda.md
  src/group-theory/normal-cores-subgroups.lagda.md
  src/group-theory/normal-subgroups.lagda.md
  src/group-theory/normalizer-subgroups.lagda.md
  src/group-theory/subgroups-generated-by-subsets-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/univalent-combinatorics/counting-dependent-pair-types.lagda.md
  src/univalent-combinatorics/dependent-pair-types.lagda.md
  src/univalent-combinatorics/fibers-of-maps.lagda.md
Labels: group-theory, guides

#695 adding overview to installation guide
  HOWTO-INSTALL.md
Labels: guides

#698 Compatibility patch agda-mode
  .vscode/settings.json
Labels: vscode

#690 Dependent Universal Property of Suspensions
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
Labels: synthetic-homotopy-theory

#697 Cyclic groups
  src/commutative-algebra/intersections-radical-ideals-commutative-rings.lagda.md
  src/commutative-algebra/powers-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/powers-of-elements-commutative-semirings.lagda.md
  src/foundation/decidable-equivalence-relations.lagda.md
  src/foundation/equivalence-classes.lagda.md
  src/foundation/full-subtypes.lagda.md
  src/foundation/functoriality-set-truncation.lagda.md
  src/foundation/images.lagda.md
  src/foundation/set-quotients.lagda.md
  src/foundation/set-truncations.lagda.md
  src/foundation/uniqueness-image.lagda.md
  src/foundation/universal-property-image.lagda.md
  src/foundation/universal-property-set-quotients.lagda.md
  src/group-theory.lagda.md
  src/group-theory/conjugation.lagda.md
  src/group-theory/cyclic-groups.lagda.md
  src/group-theory/free-groups-with-one-generator.lagda.md
  src/group-theory/full-subgroups.lagda.md
  src/group-theory/generating-elements-groups.lagda.md
  src/group-theory/homomorphisms-groups.lagda.md
  src/group-theory/images-of-group-homomorphisms.lagda.md
  src/group-theory/kernels.lagda.md
  src/group-theory/multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/normal-subgroups.lagda.md
  src/group-theory/orders-of-elements-groups.lagda.md
  src/group-theory/powers-of-elements-groups.lagda.md
  src/group-theory/powers-of-elements-monoids.lagda.md
  src/group-theory/quotient-groups.lagda.md
  src/group-theory/subgroups-generated-by-elements-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/surjective-group-homomorphisms.lagda.md
  src/group-theory/trivial-group-homomorphisms.lagda.md
  src/higher-group-theory/cyclic-higher-groups.lagda.md
  src/ring-theory/binomial-theorem-semirings.lagda.md
  src/ring-theory/powers-of-elements-rings.lagda.md
  src/ring-theory/powers-of-elements-semirings.lagda.md
  src/structured-types.lagda.md
  src/structured-types/cyclic-pointed-types.lagda.md
Labels: group-theory

#710 Allow misc. binary operators over max line length
  scripts/max_line_length_conventions.py
Labels: pre-commit

#709 Extending infrastructure for working with descent data for the circle
  flake.lock
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/universal-property-integers.lagda.md
  src/foundation/equivalences.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/descent-circle-constant-families.lagda.md
  src/synthetic-homotopy-theory/descent-circle-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-equivalence-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-function-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-subtypes.lagda.md
  src/synthetic-homotopy-theory/descent-circle.lagda.md
  src/synthetic-homotopy-theory/sections-descent-circle.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
  src/synthetic-homotopy-theory/universal-property-circle.lagda.md
Labels: synthetic-homotopy-theory

#700 Suspension reorganization
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/spheres.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
Labels: synthetic-homotopy-theory

#703 Eckmann-Hilton in the Universe
  src/foundation/homotopies.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/transport.lagda.md
Labels: foundation, synthetic-homotopy-theory

#717 Check for broken links in the CI
  .github/workflows/ci.yaml
  Makefile
Labels: enhancement, CI, website

#708 Construct ring congruence from two sided ideal
  src/group-theory/abelian-groups.lagda.md
  src/ring-theory/congruence-relations-rings.lagda.md
  src/ring-theory/congruence-relations-semirings.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  src/ring-theory/quotient-rings.lagda.md
  src/ring-theory/rings.lagda.md
Labels: ring-theory
