Repository UniMath/agda-unimath, pull requests merged in 2023-09, with the labels that each got.

#720 Add agda-unimath as a Nix package
  flake.nix
Labels: repo-maintenance

#719 The statement of the flattening lemma
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#718 Dependent universal property of suspensions
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
Labels: synthetic-homotopy-theory

#726 Informal writeup of the proof that group homomorphisms are epi iff surjective
  src/group-theory/epimorphisms-groups.lagda.md
Labels: group-theory

#729 `mixfix operation` -> `mixfix operator`
  MIXFIX-OPERATORS.md
  scripts/generate_main_index_file.py
Labels: fix

#730 Rename `inv-con` and `con-inv` to `left/right-transpose-eq-concat`
  src/elementary-number-theory/universal-property-integers.lagda.md
  src/foundation-core/coherently-invertible-maps.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/unital-binary-operations.lagda.md
  src/structured-types/initial-pointed-type-equipped-with-automorphism.lagda.md
  src/structured-types/pointed-equivalences.lagda.md
  src/structured-types/pointed-homotopies.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/multiplication-circle.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
Labels: foundation, refactoring

#732 Link issues to unfinished sections
  src/commutative-algebra/maximal-ideals-commutative-rings.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/partial-elements.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/group-theory/isomorphisms-concrete-groups.lagda.md
  src/group-theory/symmetric-concrete-groups.lagda.md
  src/orthogonal-factorization-systems/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/raise-modalities.lagda.md
  src/orthogonal-factorization-systems/zero-modality.lagda.md
  src/ring-theory/algebras-rings.lagda.md
  src/ring-theory/maximal-ideals-rings.lagda.md
  src/species/unlabeled-structures-species.lagda.md
  src/synthetic-homotopy-theory/infinite-complex-projective-space.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/complements-isolated-points.lagda.md
  src/univalent-combinatorics/decidable-equivalence-relations.lagda.md
  src/univalent-combinatorics/ferrers-diagrams.lagda.md
  src/univalent-combinatorics/partitions.lagda.md
  src/univalent-combinatorics/repetitions-of-values.lagda.md
  src/univalent-combinatorics/unlabeled-rooted-trees.lagda.md
Labels: good first issue

#727 Refactor shift, pointed identity types are loop spaces
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/functoriality-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/loop-spaces.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
Labels: synthetic-homotopy-theory

#723 Cyclic groups
  src/category-theory/isomorphisms-large-precategories.lagda.md
  src/commutative-algebra.lagda.md
  src/commutative-algebra/commutative-rings.lagda.md
  src/commutative-algebra/homomorphisms-commutative-rings.lagda.md
  src/commutative-algebra/integer-multiples-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/isomorphisms-commutative-rings.lagda.md
  src/commutative-algebra/multiples-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/transporting-commutative-ring-structure-isomorphisms-abelian-groups.lagda.md
  src/finite-algebra/finite-groups.lagda.md
  src/finite-algebra/homomorphisms-commutative-finite-rings.lagda.md
  src/finite-algebra/homomorphisms-finite-rings.lagda.md
  src/group-theory.lagda.md
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/addition-homomorphisms-abelian-groups.lagda.md
  src/group-theory/commutators-groups.lagda.md
  src/group-theory/commuting-elements-groups.lagda.md
  src/group-theory/commuting-elements-monoids.lagda.md
  src/group-theory/commuting-elements-semigroups.lagda.md
  src/group-theory/conjugation.lagda.md
  src/group-theory/cyclic-groups.lagda.md
  src/group-theory/endomorphism-rings-abelian-groups.lagda.md
  src/group-theory/free-groups-with-one-generator.lagda.md
  src/group-theory/generating-elements-groups.lagda.md
  src/group-theory/groups.lagda.md
  src/group-theory/homomorphisms-groups.lagda.md
  src/group-theory/integer-multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/integer-powers-of-elements-groups.lagda.md
  src/group-theory/isomorphisms-abelian-groups.lagda.md
  src/group-theory/isomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-groups.lagda.md
  src/group-theory/isomorphisms-semigroups.lagda.md
  src/group-theory/monoids.lagda.md
  src/group-theory/multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/powers-of-elements-groups.lagda.md
  src/group-theory/semigroups.lagda.md
  src/group-theory/subgroups-generated-by-elements-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/commuting-elements-rings.lagda.md
  src/ring-theory/homomorphisms-rings.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  src/ring-theory/integer-multiples-of-elements-rings.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
  src/ring-theory/localizations-rings.lagda.md
  src/ring-theory/modules-rings.lagda.md
  src/ring-theory/multiples-of-elements-rings.lagda.md
  src/ring-theory/precategory-of-rings.lagda.md
  src/ring-theory/rings.lagda.md
  src/ring-theory/transporting-ring-structure-along-isomorphisms-abelian-groups.lagda.md
Labels: group-theory, commutative-algebra, ring-theory, refactoring

#750 The categories of rings and commutative rings
  src/category-theory.lagda.md
  src/commutative-algebra.lagda.md
  src/commutative-algebra/category-of-commutative-rings.lagda.md
  src/commutative-algebra/isomorphisms-commutative-rings.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/category-of-rings.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
Labels: commutative-algebra, ring-theory, category-theory

#752 `check-merge-conflict` after file generation
  .pre-commit-config.yaml
Labels: CI, fix, pre-commit

#724 Commutativity of pasting squares and transposing by precomposition
  src/foundation-core/homotopies.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/function-extensionality.lagda.md
Labels: foundation

#725 Horizontal pasting of pushout squares
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: foundation, synthetic-homotopy-theory

#755 Vertical pasting of cocones and pushouts
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#758 Finish pushout pasting properties
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: synthetic-homotopy-theory

#751 Beyond foundation
  src/finite-group-theory/cartier-delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/simpson-delooping-sign-homomorphism.lagda.md
  src/foundation.lagda.md
  src/foundation/action-on-equivalences-families-over-subuniverses.lagda.md
  src/foundation/action-on-equivalences-functions-out-of-subuniverses.lagda.md
  src/foundation/action-on-equivalences-functions.lagda.md
  src/foundation/action-on-equivalences-type-families-over-subuniverses.lagda.md
  src/foundation/action-on-equivalences-type-families.lagda.md
  src/foundation/axiom-of-choice.lagda.md
  src/foundation/binary-relations.lagda.md
  src/foundation/commuting-triangles-of-maps.lagda.md
  src/foundation/decidable-propositions.lagda.md
  src/foundation/equivalence-extensionality.lagda.md
  src/foundation/equivalence-induction.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/identity-systems.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/symmetric-binary-relations.lagda.md
  src/foundation/symmetric-operations.lagda.md
  src/foundation/transport-along-equivalences.lagda.md
  src/foundation/universal-property-identity-systems.lagda.md
  src/foundation/unordered-pairs-of-types.lagda.md
  src/foundation/unordered-pairs.lagda.md
  src/group-theory/commuting-elements-groups.lagda.md
  src/group-theory/endomorphism-rings-abelian-groups.lagda.md
  src/group-theory/free-groups-with-one-generator.lagda.md
  src/group-theory/images-of-group-homomorphisms.lagda.md
  src/group-theory/integer-multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/integer-powers-of-elements-groups.lagda.md
  src/group-theory/multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/powers-of-elements-groups.lagda.md
  src/group-theory/subgroups-generated-by-elements-groups.lagda.md
  src/higher-group-theory/cyclic-higher-groups.lagda.md
  src/orthogonal-factorization-systems/local-families.lagda.md
  src/orthogonal-factorization-systems/local-maps.lagda.md
  src/ring-theory/category-of-rings.lagda.md
  src/ring-theory/integer-multiples-of-elements-rings.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
  src/ring-theory/powers-of-elements-semirings.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/descent-circle-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-function-types.lagda.md
  src/synthetic-homotopy-theory/pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
  src/univalent-combinatorics/pigeonhole-principle.lagda.md
Labels: foundation

#760 guide for anonymous modules across multiple code blocks
  CODINGSTYLE.md
Labels: documentation, guides

#764 Flattening lemma for pushouts
  src/foundation/dependent-identifications.lagda.md
  src/foundation/equality-dependent-pair-types.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/function-types.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/foundation/univalence.lagda.md
  src/foundation/universal-property-dependent-pair-types.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
Labels: foundation, synthetic-homotopy-theory, 🏆 milestone 🏆

#766 The one-object precategory of a monoid
  src/group-theory/monoids.lagda.md
Labels: category-theory

#754 Symmetric core of a relation
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation-core/functoriality-function-types.lagda.md
  src/foundation.lagda.md
  src/foundation/descent-equivalences.lagda.md
  src/foundation/equivalence-extensionality.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/global-choice.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/law-of-excluded-middle.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/symmetric-cores-binary-relations.lagda.md
  src/foundation/universal-property-identity-systems.lagda.md
  src/foundation/universal-property-propositional-truncation.lagda.md
  src/foundation/unordered-pairs.lagda.md
  src/orthogonal-factorization-systems/extensions-of-maps.lagda.md
  src/orthogonal-factorization-systems/local-types.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/universal-property-standard-finite-types.lagda.md
Labels: foundation

#765 Define representations of monoids
  src/category-theory.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/dependent-products-of-categories.lagda.md
  src/category-theory/dependent-products-of-precategories.lagda.md
  src/category-theory/function-categories.lagda.md
  src/category-theory/function-precategories.lagda.md
  src/category-theory/isomorphisms-in-categories.lagda.md
  src/category-theory/isomorphisms-in-precategories.lagda.md
  src/category-theory/one-object-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/precategory-of-functors.lagda.md
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation.lagda.md
  src/foundation/action-on-equivalences-functions-out-of-subuniverses.lagda.md
  src/foundation/action-on-equivalences-functions.lagda.md
  src/foundation/action-on-equivalences-type-families-over-subuniverses.lagda.md
  src/foundation/action-on-equivalences-type-families.lagda.md
  src/foundation/cospans.lagda.md
  src/foundation/equivalence-induction.lagda.md
  src/foundation/function-types.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/homotopies.lagda.md
  src/foundation/preidempotent-maps.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/spans.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/transport-along-equivalences.lagda.md
  src/foundation/universal-property-propositional-truncation.lagda.md
  src/foundation/unordered-pairs.lagda.md
  src/group-theory.lagda.md
  src/group-theory/concrete-group-actions.lagda.md
  src/group-theory/concrete-groups.lagda.md
  src/group-theory/concrete-monoids.lagda.md
  src/group-theory/cores-monoids.lagda.md
  src/group-theory/homomorphisms-monoids.lagda.md
  src/group-theory/invertible-elements-monoids.lagda.md
  src/group-theory/iterated-cartesian-products-concrete-groups.lagda.md
  src/group-theory/monoid-actions.lagda.md
  src/group-theory/monoids.lagda.md
  src/group-theory/representations-monoids-precategories.lagda.md
  src/group-theory/representations-monoids.lagda.md
  src/group-theory/torsors.lagda.md
  src/group-theory/trivial-concrete-groups.lagda.md
  src/group-theory/trivial-subgroups.lagda.md
  src/group-theory/wild-representations-monoids.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/cartesian-products-higher-groups.lagda.md
  src/higher-group-theory/cyclic-higher-groups.lagda.md
  src/higher-group-theory/higher-group-actions.lagda.md
  src/higher-group-theory/higher-groups.lagda.md
  src/higher-group-theory/integers-higher-group.lagda.md
  src/higher-group-theory/iterated-cartesian-products-higher-groups.lagda.md
  src/higher-group-theory/trivial-higher-groups.lagda.md
  src/orthogonal-factorization-systems/extensions-of-maps.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
Labels: group-theory, category-theory, foundation, higher-group-theory, structured-types

#776 Equivalence between the first sphere and the circle
  src/foundation-core/homotopies.lagda.md
  src/foundation/path-algebra.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/spheres.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
Labels: synthetic-homotopy-theory

#778 Fancy title on repo page
  README.md
Labels: repo-maintenance

#782 Moving file about hexagons of identifications
  src/foundation-core.lagda.md
  src/foundation-core/commuting-cubes-of-maps.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/commuting-hexagons-of-identifications.lagda.md
  src/foundation/cones-over-cospans.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/pullbacks.lagda.md
Labels: cleanup, foundation

#783 Yoneda's lemma for categories
  src/category-theory.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/natural-transformations-categories.lagda.md
  src/category-theory/natural-transformations-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/representable-functors-categories.lagda.md
  src/category-theory/representable-functors-precategories.lagda.md
  src/category-theory/yoneda-lemma-categories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
Labels: category-theory

#789 Add the universal property of identity systems to the overview tables
  src/foundation-core/identity-types.lagda.md
  src/foundation/identity-types.lagda.md
Labels: website

#790 Add a dot after the sentence "Content created by..."
  scripts/preprocessor_git_metadata.py
Labels: website

#791 Isomorphisms in large categories and large precategories
  src/category-theory.lagda.md
  src/category-theory/epimorphisms-in-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/isomorphisms-in-large-precategories.lagda.md
  src/category-theory/large-categories.lagda.md
  src/category-theory/large-precategories.lagda.md
  src/category-theory/monomorphisms-in-large-precategories.lagda.md
  src/category-theory/natural-isomorphisms-large-precategories.lagda.md
  src/group-theory/isomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-groups.lagda.md
  src/group-theory/isomorphisms-semigroups.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
Labels: category-theory

#795 Add docs on adding oneself as a contributor
  CONTRIBUTING.md
  CONTRIBUTORS.toml
  Makefile
  scripts/generate_contributors.py
  scripts/utils/contributors.py
Labels: website, guides

#796 The Legendre symbol
  CONTRIBUTORS.toml
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/legendre-symbol.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
  src/elementary-number-theory/pythagorean-triples.lagda.md
  src/elementary-number-theory/square-free-natural-numbers.lagda.md
  src/elementary-number-theory/squares-integers.lagda.md
  src/elementary-number-theory/squares-modular-arithmetic.lagda.md
  src/elementary-number-theory/squares-natural-numbers.lagda.md
  src/elementary-number-theory/unit-elements-standard-finite-types.lagda.md
Labels: elementary-number-theory

#788 Refactor Eckmann-Hilton
  src/foundation-core/identity-types.lagda.md
  src/foundation.lagda.md
  src/foundation/dependent-identifications.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/transport-along-higher-identifications.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
  src/synthetic-homotopy-theory/loop-spaces.lagda.md
Labels: foundation, synthetic-homotopy-theory, refactoring

#799 Define the Jacobi symbol and prove the Legendre symbol is periodic
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/jacobi-symbol.lagda.md
  src/elementary-number-theory/legendre-symbol.lagda.md
  src/elementary-number-theory/squares-integers.lagda.md
  src/elementary-number-theory/squares-natural-numbers.lagda.md
Labels: elementary-number-theory

#798 The inverse Eckmann-Hilton argument
  src/foundation/path-algebra.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
Labels: synthetic-homotopy-theory

#801 Presheaf categories
  src/category-theory.lagda.md
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/category-theory/category-of-functors-from-small-to-large-categories.lagda.md
  src/category-theory/category-of-functors.lagda.md
  src/category-theory/category-of-maps-categories.lagda.md
  src/category-theory/category-of-maps-from-small-to-large-categories.lagda.md
  src/category-theory/commuting-squares-of-morphisms-in-large-precategories.lagda.md
  src/category-theory/commuting-squares-of-morphisms-in-precategories.lagda.md
  src/category-theory/equivalences-of-large-precategories.lagda.md
  src/category-theory/equivalences-of-precategories.lagda.md
  src/category-theory/functors-categories.lagda.md
  src/category-theory/functors-from-small-to-large-categories.lagda.md
  src/category-theory/functors-from-small-to-large-precategories.lagda.md
  src/category-theory/functors-large-precategories.lagda.md
  src/category-theory/functors-precategories.lagda.md
  src/category-theory/groupoids.lagda.md
  src/category-theory/homotopies-natural-transformations-large-precategories.lagda.md
  src/category-theory/isomorphisms-in-categories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/large-categories.lagda.md
  src/category-theory/maps-categories.lagda.md
  src/category-theory/maps-from-small-to-large-categories.lagda.md
  src/category-theory/maps-from-small-to-large-precategories.lagda.md
  src/category-theory/maps-precategories.lagda.md
  src/category-theory/natural-isomorphisms-functors-categories.lagda.md
  src/category-theory/natural-isomorphisms-functors-large-precategories.lagda.md
  src/category-theory/natural-isomorphisms-functors-precategories.lagda.md
  src/category-theory/natural-transformations-functors-categories.lagda.md
  src/category-theory/natural-transformations-functors-from-small-to-large-precategories.lagda.md
  src/category-theory/natural-transformations-functors-large-precategories.lagda.md
  src/category-theory/natural-transformations-functors-precategories.lagda.md
  src/category-theory/natural-transformations-maps-from-small-to-large-precategories.lagda.md
  src/category-theory/opposite-precategories.lagda.md
  src/category-theory/precategory-of-functors-from-small-to-large-precategories.lagda.md
  src/category-theory/precategory-of-functors.lagda.md
  src/category-theory/precategory-of-maps-from-small-to-large-precategories.lagda.md
  src/category-theory/precategory-of-maps-precategories.lagda.md
  src/category-theory/pregroupoids.lagda.md
  src/category-theory/presheaf-categories.lagda.md
  src/category-theory/products-in-precategories.lagda.md
  src/category-theory/pullbacks-in-precategories.lagda.md
  src/category-theory/representable-functors-categories.lagda.md
  src/category-theory/representable-functors-large-precategories.lagda.md
  src/category-theory/representable-functors-precategories.lagda.md
  src/category-theory/representing-arrow-category.lagda.md
  src/category-theory/sieves-in-categories.lagda.md
  src/category-theory/slice-precategories.lagda.md
  src/category-theory/yoneda-lemma-categories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
  src/foundation-core/embeddings.lagda.md
  src/foundation/sections.lagda.md
Labels: category-theory

#800 Cyclic types
  src/category-theory.lagda.md
  src/category-theory/dependent-products-of-categories.lagda.md
  src/category-theory/dependent-products-of-large-categories.lagda.md
  src/category-theory/dependent-products-of-large-precategories.lagda.md
  src/category-theory/dependent-products-of-precategories.lagda.md
  src/category-theory/full-large-subcategories.lagda.md
  src/category-theory/full-large-subprecategories.lagda.md
  src/category-theory/function-categories.lagda.md
  src/category-theory/function-precategories.lagda.md
  src/category-theory/isomorphisms-in-large-categories.lagda.md
  src/category-theory/large-function-categories.lagda.md
  src/category-theory/large-function-precategories.lagda.md
  src/category-theory/large-subcategories.lagda.md
  src/category-theory/large-subprecategories.lagda.md
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
  src/elementary-number-theory/multiplicative-monoid-of-natural-numbers.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/poset-of-natural-numbers-ordered-by-divisibility.lagda.md
  src/foundation-core/empty-types.lagda.md
  src/foundation.lagda.md
  src/foundation/category-of-families-of-sets.lagda.md
  src/foundation/extended-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/iterating-functions.lagda.md
  src/foundation/separated-types.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/structured-types.lagda.md
  src/structured-types/cyclic-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/category-of-connected-set-bundles-circle.lagda.md
  src/synthetic-homotopy-theory/connected-set-bundles-circle.lagda.md
Labels: foundation, synthetic-homotopy-theory

#803 The Regensburg extension of the fundamental theorem
  src/foundation-core/identity-types.lagda.md
  src/foundation.lagda.md
  src/foundation/0-connected-types.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/coproduct-decompositions.lagda.md
  src/foundation/extended-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/fundamental-theorem-of-identity-types.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/propositions.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/structured-types/cyclic-types.lagda.md
Labels: foundation, structured-types

#804 Fix support for `open import foundation` and an automatic line wrap misplacement
  scripts/fix_imports.py
  scripts/wrap_long_lines_simple.py
Labels: bug, fix, pre-commit

#805 The ring `ℤ/n` is cyclic for any natural number `n`
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/elementary-number-theory/rings-of-modular-arithmetic.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/ring-theory/integer-multiples-of-elements-rings.lagda.md
  src/ring-theory/rings.lagda.md
Labels: group-theory, elementary-number-theory, foundation

#806 Extract tables
  FILE-CONVENTIONS.md
  Makefile
  src/category-theory.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation/identity-types.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/synthetic-homotopy-theory/loop-spaces.lagda.md
  tables/categories.md
  tables/galois-connections.md
  tables/higher-modalities.md
  tables/identity-types.md
  tables/loop-spaces-concepts.md
  tables/precategories.md
Labels: repo-maintenance, website

#807 Free and transitive higher group actions
  src/foundation-core/transport-along-identifications.lagda.md
  src/foundation/decidable-embeddings.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/free-higher-group-actions.lagda.md
  src/higher-group-theory/transitive-higher-group-actions.lagda.md
Labels: foundation, higher-group-theory
