Repository UniMath/agda-unimath, pull requests merged in 2023-05, with the labels that each got.

#591 cleaning up order theory
  src/lists/quicksort-lists.lagda.md
  src/lists/sort-by-insertion-vectors.lagda.md
  src/lists/sorted-lists.lagda.md
  src/lists/sorted-vectors.lagda.md
  src/lists/sorting-algorithms-vectors.lagda.md
  src/order-theory.lagda.md
  src/order-theory/chains-posets.lagda.md
  src/order-theory/chains-preorders.lagda.md
  src/order-theory/decidable-posets.lagda.md
  src/order-theory/decidable-preorders.lagda.md
  src/order-theory/decidable-subposets.lagda.md
  src/order-theory/decidable-subpreorders.lagda.md
  src/order-theory/directed-complete-posets.lagda.md
  src/order-theory/directed-families.lagda.md
  src/order-theory/finite-posets.lagda.md
  src/order-theory/finite-preorders.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
  src/order-theory/frames.lagda.md
  src/order-theory/galois-connections.lagda.md
  src/order-theory/greatest-lower-bounds-posets.lagda.md
  src/order-theory/homomorphisms-frames.lagda.md
  src/order-theory/homomorphisms-meet-sup-lattices.lagda.md
  src/order-theory/homomorphisms-sup-lattices.lagda.md
  src/order-theory/infinite-distributive-law.lagda.md
  src/order-theory/interval-subposets.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/largest-elements-posets.lagda.md
  src/order-theory/largest-elements-preorders.lagda.md
  src/order-theory/lattices.lagda.md
  src/order-theory/least-elements-posets.lagda.md
  src/order-theory/least-elements-preorders.lagda.md
  src/order-theory/least-upper-bounds-posets.lagda.md
  src/order-theory/locally-finite-posets.lagda.md
  src/order-theory/maximal-chains-posets.lagda.md
  src/order-theory/maximal-chains-preorders.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/order-preserving-maps-posets.lagda.md
  src/order-theory/order-preserving-maps-preorders.lagda.md
  src/order-theory/posets.lagda.md
  src/order-theory/preorders.lagda.md
  src/order-theory/subposets.lagda.md
  src/order-theory/subpreorders.lagda.md
  src/order-theory/sup-lattices.lagda.md
  src/order-theory/suplattices.lagda.md
  src/order-theory/total-decidable-posets.lagda.md
  src/order-theory/total-decidable-preorders.lagda.md
  src/order-theory/total-posets.lagda.md
  src/order-theory/total-preorders.lagda.md
  src/order-theory/upper-bounds-posets.lagda.md
  src/polytopes/abstract-polytopes.lagda.md
Labels: cleanup, order-theory

#592 Cleaning up order theory 2
  src/lists/quicksort-lists.lagda.md
  src/lists/sort-by-insertion-vectors.lagda.md
  src/lists/sorted-lists.lagda.md
  src/lists/sorted-vectors.lagda.md
  src/lists/sorting-algorithms-vectors.lagda.md
  src/order-theory.lagda.md
  src/order-theory/decidable-posets.lagda.md
  src/order-theory/decidable-preorders.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/decidable-total-preorders.lagda.md
  src/order-theory/distributive-lattices.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
  src/order-theory/frames.lagda.md
  src/order-theory/infinite-distributive-law.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/lattices.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/posets.lagda.md
  src/order-theory/preorders.lagda.md
  src/order-theory/suplattices.lagda.md
  src/order-theory/total-decidable-posets.lagda.md
  src/order-theory/total-decidable-preorders.lagda.md
  src/order-theory/total-orders.lagda.md
  src/order-theory/total-posets.lagda.md
  src/order-theory/total-preorders.lagda.md
Labels: cleanup, order-theory

#597 Big cleanup continued
  src/category-theory.lagda.md
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/category-theory/anafunctors.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/endomorphisms-of-objects-categories.lagda.md
  src/category-theory/epimorphisms-large-precategories.lagda.md
  src/category-theory/equivalences-categories.lagda.md
  src/category-theory/equivalences-large-precategories.lagda.md
  src/category-theory/examples-of-categories.lagda.md
  src/category-theory/functors-categories.lagda.md
  src/category-theory/functors-large-precategories.lagda.md
  src/category-theory/groupoids.lagda.md
  src/category-theory/homotopies-natural-transformations-large-precategories.lagda.md
  src/category-theory/isomorphisms-categories.lagda.md
  src/category-theory/isomorphisms-large-precategories.lagda.md
  src/category-theory/large-categories.lagda.md
  src/category-theory/large-precategories.lagda.md
  src/category-theory/monomorphisms-large-precategories.lagda.md
  src/category-theory/natural-isomorphisms-categories.lagda.md
  src/category-theory/natural-isomorphisms-large-precategories.lagda.md
  src/category-theory/natural-transformations-categories.lagda.md
  src/category-theory/natural-transformations-large-precategories.lagda.md
  src/category-theory/sieves-categories.lagda.md
  src/foundation.lagda.md
  src/foundation/category-of-sets.lagda.md
  src/group-theory.lagda.md
  src/group-theory/category-of-groups.lagda.md
  src/group-theory/category-of-semigroups.lagda.md
  src/group-theory/epimorphisms-groups.lagda.md
  src/group-theory/homomorphisms-abelian-groups.lagda.md
  src/group-theory/isomorphisms-concrete-groups.lagda.md
  src/group-theory/isomorphisms-group-actions.lagda.md
  src/group-theory/isomorphisms-groups.lagda.md
  src/group-theory/isomorphisms-semigroups.lagda.md
  src/group-theory/monomorphisms-groups.lagda.md
  src/group-theory/precategory-of-abelian-groups.lagda.md
  src/group-theory/precategory-of-concrete-groups.lagda.md
  src/group-theory/precategory-of-group-actions.lagda.md
  src/group-theory/precategory-of-groups.lagda.md
  src/group-theory/precategory-of-semigroups.lagda.md
  src/group-theory/representations-monoids.lagda.md
  src/group-theory/substitution-functor-group-actions.lagda.md
  src/species/precategory-of-finite-species.lagda.md
Labels: cleanup, category-theory

#598 Collecting some easily defined precategories
  src/category-theory.lagda.md
  src/category-theory/examples-of-categories.lagda.md
  src/category-theory/large-precategories.lagda.md
  src/commutative-algebra.lagda.md
  src/commutative-algebra/homomorphisms-commutative-rings.lagda.md
  src/commutative-algebra/homomorphisms-commutative-semirings.lagda.md
  src/commutative-algebra/precategory-of-commutative-rings.lagda.md
  src/commutative-algebra/precategory-of-commutative-semirings.lagda.md
  src/elementary-number-theory.lagda.md
  src/finite-group-theory.lagda.md
  src/foundation-core.lagda.md
  src/foundation.lagda.md
  src/graph-theory.lagda.md
  src/group-theory.lagda.md
  src/group-theory/category-of-semigroups.lagda.md
  src/group-theory/homomorphisms-abelian-groups.lagda.md
  src/group-theory/homomorphisms-commutative-monoids.lagda.md
  src/group-theory/homomorphisms-monoids.lagda.md
  src/group-theory/precategory-of-commutative-monoids.lagda.md
  src/group-theory/precategory-of-monoids.lagda.md
  src/higher-group-theory.lagda.md
  src/linear-algebra.lagda.md
  src/lists.lagda.md
  src/online-encyclopedia-of-integer-sequences.lagda.md
  src/order-theory.lagda.md
  src/organic-chemistry.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/polytopes.lagda.md
  src/primitives.lagda.md
  src/real-numbers.lagda.md
  src/reflection.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/homomorphisms-rings.lagda.md
  src/ring-theory/homomorphisms-semirings.lagda.md
  src/ring-theory/isomorphisms-rings.lagda.md
  src/ring-theory/localizations-rings.lagda.md
  src/ring-theory/modules-rings.lagda.md
  src/ring-theory/precategory-of-rings.lagda.md
  src/ring-theory/precategory-of-semirings.lagda.md
  src/ring-theory/rings.lagda.md
  src/set-theory.lagda.md
  src/species.lagda.md
  src/structured-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/type-theories.lagda.md
  src/univalent-combinatorics.lagda.md
  src/universal-algebra.lagda.md
Labels: cleanup, group-theory, ring-theory, category-theory

#600 Fix: content width, arrows and toc
  theme/css/chrome.css
  theme/css/general.css
  theme/pagetoc.css
Labels: repo-maintenance

#599 Cleaning up order theory some more
  src/elementary-number-theory/maximum-natural-numbers.lagda.md
  src/elementary-number-theory/maximum-standard-finite-types.lagda.md
  src/elementary-number-theory/minimum-natural-numbers.lagda.md
  src/elementary-number-theory/minimum-standard-finite-types.lagda.md
  src/group-theory.lagda.md
  src/group-theory/large-semigroups.lagda.md
  src/order-theory.lagda.md
  src/order-theory/distributive-lattices.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
  src/order-theory/frames.lagda.md
  src/order-theory/galois-connections.lagda.md
  src/order-theory/greatest-lower-bounds-posets.lagda.md
  src/order-theory/homomorphisms-frames.lagda.md
  src/order-theory/homomorphisms-meet-semilattices.lagda.md
  src/order-theory/homomorphisms-meet-sup-lattices.lagda.md
  src/order-theory/homomorphisms-sup-lattices.lagda.md
  src/order-theory/ideals-preorders.lagda.md
  src/order-theory/infinite-distributive-law.lagda.md
  src/order-theory/interval-subposets.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
  src/order-theory/largest-elements-posets.lagda.md
  src/order-theory/largest-elements-preorders.lagda.md
  src/order-theory/lattices.lagda.md
  src/order-theory/least-elements-posets.lagda.md
  src/order-theory/least-elements-preorders.lagda.md
  src/order-theory/least-upper-bounds-posets.lagda.md
  src/order-theory/locally-finite-posets.lagda.md
  src/order-theory/lower-bounds-posets.lagda.md
  src/order-theory/lower-types-preorders.lagda.md
  src/order-theory/maximal-chains-posets.lagda.md
  src/order-theory/maximal-chains-preorders.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/order-preserving-maps-posets.lagda.md
  src/order-theory/order-preserving-maps-preorders.lagda.md
  src/order-theory/posets.lagda.md
  src/order-theory/preorders.lagda.md
  src/order-theory/subposets.lagda.md
  src/order-theory/subpreorders.lagda.md
  src/order-theory/total-orders.lagda.md
  src/order-theory/total-preorders.lagda.md
  src/order-theory/upper-bounds-posets.lagda.md
Labels: cleanup, order-theory

#607 Opposite precategory
  src/category-theory.lagda.md
  src/category-theory/opposite-precategories.lagda.md
Labels: category-theory

#605 Locales
  src/foundation.lagda.md
  src/foundation/conjunction.lagda.md
  src/foundation/existential-quantification.lagda.md
  src/foundation/large-locale-of-propositions.lagda.md
  src/order-theory.lagda.md
  src/order-theory/frames.lagda.md
  src/order-theory/homomorphisms-meet-sup-lattices.lagda.md
  src/order-theory/infinite-distributive-law.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/locales.lagda.md
Labels: foundation, order-theory

#606 Some half-finished additions to modalities
  src/foundation/large-locale-of-propositions.lagda.md
  src/foundation/propositional-resizing.lagda.md
  src/foundation/pullback-squares.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/locales.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/factorization-operations-function-classes.lagda.md
  src/orthogonal-factorization-systems/factorization-operations.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/orthogonal-factorization-systems/local-types.lagda.md
  src/orthogonal-factorization-systems/modal-operators.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
  src/orthogonal-factorization-systems/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
  src/orthogonal-factorization-systems/sigma-closed-reflective-subuniverses.lagda.md
  src/orthogonal-factorization-systems/stable-orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/uniquely-eliminating-modalities.lagda.md
Labels: orthogonal-factorization-systems

#608 fix broken link
  src/foundation/pullback-squares.lagda.md
Labels: fix

#609 dependent products of large locales
  src/foundation-core/logical-equivalences.lagda.md
  src/foundation.lagda.md
  src/foundation/intersections-subtypes.lagda.md
  src/foundation/large-locale-of-propositions.lagda.md
  src/foundation/large-locale-of-subtypes.lagda.md
  src/foundation/mere-embeddings.lagda.md
  src/foundation/powersets.lagda.md
  src/foundation/unions-subtypes.lagda.md
  src/group-theory/normal-subgroups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/order-theory.lagda.md
  src/order-theory/dependent-products-large-locales.lagda.md
  src/order-theory/dependent-products-large-meet-semilattices.lagda.md
  src/order-theory/dependent-products-large-posets.lagda.md
  src/order-theory/dependent-products-large-preorders.lagda.md
  src/order-theory/dependent-products-large-suplattices.lagda.md
  src/order-theory/greatest-lower-bounds-large-posets.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/least-upper-bounds-large-posets.lagda.md
  src/order-theory/lower-bounds-large-posets.lagda.md
  src/order-theory/powers-of-large-locales.lagda.md
  src/order-theory/upper-bounds-large-posets.lagda.md
Labels: foundation, order-theory

#610 large galois connections, nuclei, order preserving maps, and update o…
  src/foundation/large-locale-of-propositions.lagda.md
  src/order-theory.lagda.md
  src/order-theory/dependent-products-large-locales.lagda.md
  src/order-theory/dependent-products-large-meet-semilattices.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/order-theory/homomorphisms-large-meet-semilattices.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/largest-elements-large-posets.lagda.md
  src/order-theory/nuclei-large-locales.lagda.md
  src/order-theory/order-preserving-maps-large-posets.lagda.md
  src/order-theory/order-preserving-maps-large-preorders.lagda.md
  src/order-theory/powers-of-large-locales.lagda.md
Labels: order-theory

#611 small typo
  src/order-theory/nuclei-large-locales.lagda.md
Labels: typo

#566 Iterated cartesian products of concrete groups
  src/foundation.lagda.md
  src/foundation/0-connected-types.lagda.md
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/foundation/set-truncations.lagda.md
  src/group-theory.lagda.md
  src/group-theory/cartesian-products-concrete-groups.lagda.md
  src/group-theory/concrete-groups.lagda.md
  src/group-theory/iterated-cartesian-products-concrete-groups.lagda.md
  src/group-theory/torsors.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/cartesian-products-higher-groups.lagda.md
  src/higher-group-theory/higher-groups.lagda.md
  src/higher-group-theory/iterated-cartesian-products-higher-groups.lagda.md
  src/structured-types.lagda.md
  src/structured-types/cartesian-products-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/iterated-cartesian-products-types-equipped-with-endomorphisms.lagda.md
  src/structured-types/iterated-pointed-cartesian-product-types.lagda.md
  src/structured-types/types-equipped-with-endomorphisms.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/cycle-decomposition-natural-numbers.lagda.md
Labels: group-theory, foundation, higher-group-theory, structured-types

#615 Prime cycle decomposition
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/cycle-decomposition-natural-numbers.lagda.md
  src/univalent-combinatorics/cycle-prime-decomposition-natural-numbers.lagda.md
  src/univalent-combinatorics/cyclic-types.lagda.md
Labels: univalent-combinatorics

#617 Iterated cartesian product is closed by permutation
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/lists/arrays.lagda.md
  src/lists/permutation-lists.lagda.md
Labels: lists

#613 Subframes and quotient locales via nuclei
  src/foundation/large-locale-of-propositions.lagda.md
  src/order-theory.lagda.md
  src/order-theory/bottom-elements-posets.lagda.md
  src/order-theory/bottom-elements-preorders.lagda.md
  src/order-theory/dependent-products-large-frames.lagda.md
  src/order-theory/dependent-products-large-locales.lagda.md
  src/order-theory/dependent-products-large-meet-semilattices.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
  src/order-theory/homomorphisms-large-frames.lagda.md
  src/order-theory/homomorphisms-large-locales.lagda.md
  src/order-theory/homomorphisms-large-suplattices.lagda.md
  src/order-theory/large-frames.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-meet-subsemilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
  src/order-theory/large-quotient-locales.lagda.md
  src/order-theory/large-subframes.lagda.md
  src/order-theory/large-subposets.lagda.md
  src/order-theory/large-subpreorders.lagda.md
  src/order-theory/large-subsuplattices.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/largest-elements-posets.lagda.md
  src/order-theory/largest-elements-preorders.lagda.md
  src/order-theory/least-elements-posets.lagda.md
  src/order-theory/least-elements-preorders.lagda.md
  src/order-theory/nuclei-large-locales.lagda.md
  src/order-theory/powers-of-large-locales.lagda.md
  src/order-theory/top-elements-large-posets.lagda.md
  src/order-theory/top-elements-posets.lagda.md
  src/order-theory/top-elements-preorders.lagda.md
  src/polytopes/abstract-polytopes.lagda.md
Labels: cleanup, order-theory

#618 Define binary operator notations for `mul-ℕ`, `mul-ℤ`, and `exp-ℕ`.
  src/elementary-number-theory/absolute-value-integers.lagda.md
  src/elementary-number-theory/exponentiation-natural-numbers.lagda.md
  src/elementary-number-theory/multiplication-integers.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
Labels: elementary-number-theory

#621 Remove unused imports and fix some unaddressed comments
  .vscode/tasks.json
  src/category-theory/large-precategories.lagda.md
  src/commutative-algebra/homomorphisms-commutative-rings.lagda.md
  src/commutative-algebra/homomorphisms-commutative-semirings.lagda.md
  src/commutative-algebra/ideals-generated-by-subsets-commutative-rings.lagda.md
  src/finite-group-theory/permutations-standard-finite-types.lagda.md
  src/finite-group-theory/permutations.lagda.md
  src/foundation/0-connected-types.lagda.md
  src/foundation/category-of-sets.lagda.md
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/foundation/large-locale-of-propositions.lagda.md
  src/foundation/large-locale-of-subtypes.lagda.md
  src/foundation/type-duality.lagda.md
  src/foundation/unit-type.lagda.md
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/equivalences-directed-graphs.lagda.md
  src/group-theory/homomorphisms-abelian-groups.lagda.md
  src/linear-algebra/vectors.lagda.md
  src/lists/lists.lagda.md
  src/lists/permutation-vectors.lagda.md
  src/lists/predicates-on-lists.lagda.md
  src/lists/quicksort-lists.lagda.md
  src/lists/sort-by-insertion-vectors.lagda.md
  src/lists/sorted-lists.lagda.md
  src/lists/sorted-vectors.lagda.md
  src/lists/sorting-algorithms-vectors.lagda.md
  src/order-theory/decidable-posets.lagda.md
  src/order-theory/decidable-subposets.lagda.md
  src/order-theory/decidable-subpreorders.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/decidable-total-preorders.lagda.md
  src/order-theory/directed-complete-posets.lagda.md
  src/order-theory/homomorphisms-meet-semilattices.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/total-orders.lagda.md
  src/ring-theory/homomorphisms-rings.lagda.md
  src/ring-theory/precategory-of-rings.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans-of-pointed-types.lagda.md
  src/trees/algebras-polynomial-endofunctors.lagda.md
  src/trees/coalgebra-of-directed-trees.lagda.md
  src/trees/coalgebra-of-enriched-directed-trees.lagda.md
  src/trees/combinator-directed-trees.lagda.md
  src/trees/combinator-enriched-directed-trees.lagda.md
  src/trees/directed-trees.lagda.md
  src/trees/elementhood-relation-coalgebras-polynomial-endofunctors.lagda.md
  src/trees/elementhood-relation-w-types.lagda.md
  src/trees/equivalences-directed-trees.lagda.md
  src/trees/functoriality-combinator-directed-trees.lagda.md
  src/trees/functoriality-fiber-directed-tree.lagda.md
  src/trees/morphisms-coalgebras-polynomial-endofunctors.lagda.md
  src/trees/morphisms-enriched-directed-trees.lagda.md
  src/trees/rooted-morphisms-directed-trees.lagda.md
  src/trees/underlying-trees-elements-coalgebras-polynomial-endofunctors.lagda.md
  src/trees/underlying-trees-of-elements-of-w-types.lagda.md
  src/univalent-combinatorics/cycle-prime-decomposition-natural-numbers.lagda.md
Labels: cleanup, fix, univalent-combinatorics, lists

#602 Enable TOC and fix minor warnings
  .github/workflows/pages.yaml
  HOME.md
  Makefile
  book.toml
  theme/agda-logo.css
  theme/images/agda-unimath-logo.svg
  theme/index.hbs
  theme/pagetoc.css
Labels: repo-maintenance, website

#624 Cycle prime decomposition is closed under cartesian product
  src/elementary-number-theory/fundamental-theorem-of-arithmetic.lagda.md
  src/elementary-number-theory/inequality-natural-numbers.lagda.md
  src/elementary-number-theory/multiplication-lists-of-natural-numbers.lagda.md
  src/finite-group-theory/permutations-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions.lagda.md
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/linear-algebra/functoriality-vectors.lagda.md
  src/linear-algebra/vectors.lagda.md
  src/lists.lagda.md
  src/lists/arrays.lagda.md
  src/lists/functoriality-lists.lagda.md
  src/lists/permutation-lists.lagda.md
  src/lists/permutation-vectors.lagda.md
  src/lists/sort-by-insertion-lists.lagda.md
  src/lists/sort-by-insertion-vectors.lagda.md
  src/lists/sorted-lists.lagda.md
  src/lists/sorting-algorithms-lists.lagda.md
  src/lists/sorting-algorithms-vectors.lagda.md
  src/univalent-combinatorics/cycle-prime-decomposition-natural-numbers.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: elementary-number-theory, univalent-combinatorics

#629 fix broken links
  src/finite-group-theory/transpositions-standard-finite-types.lagda.md
  src/lists/sort-by-insertion-lists.lagda.md
Labels: fix

#630 Update cargo
  .github/workflows/pages.yaml
Labels: CI, website

#631 Towards Hasse-Weil species
  src/commutative-algebra.lagda.md
  src/commutative-algebra/products-commutative-rings.lagda.md
  src/finite-algebra.lagda.md
  src/finite-algebra/commutative-finite-rings.lagda.md
  src/finite-algebra/dependent-products-commutative-finite-rings.lagda.md
  src/finite-algebra/dependent-products-finite-rings.lagda.md
  src/finite-algebra/finite-abelian-groups.lagda.md
  src/finite-algebra/finite-commutative-monoids.lagda.md
  src/finite-algebra/finite-fields.lagda.md
  src/finite-algebra/finite-groups.lagda.md
  src/finite-algebra/finite-monoids.lagda.md
  src/finite-algebra/finite-rings.lagda.md
  src/finite-algebra/finite-semigroups.lagda.md
  src/finite-algebra/homomorphisms-commutative-finite-rings.lagda.md
  src/finite-algebra/homomorphisms-finite-rings.lagda.md
  src/finite-algebra/products-commutative-finite-rings.lagda.md
  src/finite-algebra/products-finite-rings.lagda.md
  src/finite-algebra/semisimple-commutative-finite-rings.lagda.md
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/groups.lagda.md
  src/group-theory/semigroups.lagda.md
  src/ring-theory/rings.lagda.md
  src/species.lagda.md
  src/species/hasse-weil-species.lagda.md
  src/univalent-combinatorics/equality-finite-types.lagda.md
Labels: finite-group-theory, univalent-combinatorics, species, finite-algebra

#632 Yoneda
  src/category-theory.lagda.md
  src/category-theory/representable-functors-precategories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
Labels: category-theory
