Repository UniMath/agda-unimath, pull requests merged in 2023-03, with the labels that each got.

#501 Generate module indexes
  .pre-commit-config.yaml
  MODULE-INDEX.md
  SUMMARY.md
  hooks/generate_main_index_file.py
  hooks/generate_namespace_index_modules.py
  hooks/utils.py
  src/category-theory.lagda.md
  src/category-theory/exponential-objects-precategories.lagda.md
  src/elementary-number-theory.lagda.md
  src/finite-group-theory.lagda.md
  src/foundation-core.lagda.md
  src/foundation.lagda.md
  src/foundation/dependent-paths.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/group-theory.lagda.md
  src/linear-algebra.lagda.md
  src/order-theory.lagda.md
  src/organic-chemistry.lagda.md
  src/organic-chemistry/alkenes.lagda.md
  src/polytopes.lagda.md
  src/ring-theory.lagda.md
  src/structured-types.lagda.md
  src/synthetic-homotopy-theory/24-pushouts.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/27-sequences.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
  src/trees.lagda.md
  src/type-theories.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/steiner-systems.lagda.md
Labels: CI, repo-maintenance

#504 Small fix and ignore some metafiles
  .github/workflows/ci.yaml
  .github/workflows/pages.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  MODULE-INDEX.md
  Makefile
  SUMMARY.md
  scripts/README.md
  scripts/__init__.py
  scripts/fix-imports.py
  scripts/generate_main_index_file.py
  scripts/generate_namespace_index_modules.py
  scripts/remove-extra-blank.py
  scripts/requirements.txt
  scripts/update_contributors.py
  scripts/utils.py
Labels: repo-maintenance, fix

#505 Products of semigroups, monoids, commutative monoids, groups, abelian groups, semirings, rings, commutative semirings, and commutative rings
  src/commutative-algebra.lagda.md
  src/commutative-algebra/commutative-rings.lagda.md
  src/commutative-algebra/commutative-semirings.lagda.md
  src/commutative-algebra/dependent-products-commutative-rings.lagda.md
  src/commutative-algebra/dependent-products-commutative-semirings.lagda.md
  src/commutative-algebra/function-commutative-rings.lagda.md
  src/commutative-algebra/function-commutative-semirings.lagda.md
  src/group-theory.lagda.md
  src/group-theory/dependent-products-abelian-groups.lagda.md
  src/group-theory/dependent-products-commutative-monoids.lagda.md
  src/group-theory/dependent-products-groups.lagda.md
  src/group-theory/dependent-products-monoids.lagda.md
  src/group-theory/dependent-products-semigroups.lagda.md
  src/group-theory/function-abelian-groups.lagda.md
  src/group-theory/function-commutative-monoids.lagda.md
  src/group-theory/function-groups.lagda.md
  src/group-theory/function-monoids.lagda.md
  src/group-theory/function-semigroups.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/dependent-products-rings.lagda.md
  src/ring-theory/dependent-products-semirings.lagda.md
  src/ring-theory/function-rings.lagda.md
  src/ring-theory/function-semirings.lagda.md
  src/ring-theory/invariant-basis-property-rings.lagda.md
  src/ring-theory/rings.lagda.md
  src/structured-types.lagda.md
  src/structured-types/function-magmas.lagda.md
Labels: group-theory, commutative-algebra, ring-theory

#510 Add VSCode workspace files
  .gitignore
  .vscode/agda.code-snippets
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement, tooling

#509 Restore CONTRIBUTORS.md while finding a CI fix
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  Makefile
  scripts/max_line_length.py
  scripts/spaces_convention.py
  scripts/update_contributors.py
Labels: repo-maintenance, pre-commit

#516 Central elements in semigroups, monoids, groups, semirings, and rings; ideals; nilpotent elements in semirings, rings, commutative semirings, and commutative rings; the nilradical of a commutative ring
  src/commutative-algebra.lagda.md
  src/commutative-algebra/commutative-rings.lagda.md
  src/commutative-algebra/commutative-semirings.lagda.md
  src/commutative-algebra/ideals-commutative-rings.lagda.md
  src/commutative-algebra/ideals-commutative-semirings.lagda.md
  src/commutative-algebra/nilradical-commutative-rings.lagda.md
  src/commutative-algebra/nilradicals-commutative-semirings.lagda.md
  src/commutative-algebra/powers-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/powers-of-elements-commutative-semirings.lagda.md
  src/commutative-algebra/subsets-commutative-semirings.lagda.md
  src/commutative-algebra/sums-commutative-rings.lagda.md
  src/commutative-algebra/sums-commutative-semirings.lagda.md
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/distance-natural-numbers.lagda.md
  src/elementary-number-theory/divisibility-natural-numbers.lagda.md
  src/elementary-number-theory/goldbach-conjecture.lagda.md
  src/elementary-number-theory/modular-arithmetic-standard-finite-types.lagda.md
  src/elementary-number-theory/parity-natural-numbers.lagda.md
  src/finite-group-theory/subgroups-finite-groups.lagda.md
  src/foundation/lesser-limited-principle-of-omniscience.lagda.md
  src/group-theory.lagda.md
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/centers-groups.lagda.md
  src/group-theory/centers-monoids.lagda.md
  src/group-theory/centers-semigroups.lagda.md
  src/group-theory/central-elements-groups.lagda.md
  src/group-theory/central-elements-monoids.lagda.md
  src/group-theory/central-elements-semigroups.lagda.md
  src/group-theory/decidable-subgroups.lagda.md
  src/group-theory/embeddings-groups.lagda.md
  src/group-theory/full-subgroups.lagda.md
  src/group-theory/homomorphisms-monoids.lagda.md
  src/group-theory/kernels.lagda.md
  src/group-theory/monoid-actions.lagda.md
  src/group-theory/normal-submonoids.lagda.md
  src/group-theory/representations-monoids.lagda.md
  src/group-theory/subgroups-abelian-groups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/submonoids.lagda.md
  src/group-theory/subsemigroups.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/central-elements-rings.lagda.md
  src/ring-theory/central-elements-semirings.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  src/ring-theory/ideals-semirings.lagda.md
  src/ring-theory/nilpotent-elements-rings.lagda.md
  src/ring-theory/nilpotent-elements-semirings.lagda.md
  src/ring-theory/powers-of-elements-rings.lagda.md
  src/ring-theory/powers-of-elements-semirings.lagda.md
  src/ring-theory/rings.lagda.md
  src/ring-theory/semirings.lagda.md
  src/ring-theory/subsets-rings.lagda.md
  src/ring-theory/subsets-semirings.lagda.md
  src/ring-theory/sums-rings.lagda.md
  src/ring-theory/sums-semirings.lagda.md
  src/univalent-combinatorics/coproduct-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: group-theory, commutative-algebra, ring-theory, elementary-number-theory

#518 Cumulative hierarchy
  src/set-theory/cumulative-hierarchy.lagda.md
Labels: set-theory

#520 Format `CITATION.cff` as a `.cff` file
  CITATION.cff
  HOME.md
  README.md
Labels: bug, documentation

#512 Make `unused_imports_remover` faster and safer
  .gitignore
  Makefile
  scripts/demote_foundation_imports.py
  scripts/foundation_demoter.py
  scripts/generate_namespace_index_modules.py
  scripts/remove_extra_blank_lines.py
  scripts/remove_unused_imports.py
  scripts/unused_import_remover.py
  scripts/utils/__init__.py
  scripts/utils/multithread.py
  src/commutative-algebra/dependent-products-commutative-rings.lagda.md
  src/commutative-algebra/dependent-products-commutative-semirings.lagda.md
  src/commutative-algebra/function-commutative-rings.lagda.md
  src/commutative-algebra/function-commutative-semirings.lagda.md
  src/elementary-number-theory/parity-natural-numbers.lagda.md
  src/group-theory/centers-groups.lagda.md
  src/group-theory/centers-monoids.lagda.md
  src/group-theory/centers-semigroups.lagda.md
  src/group-theory/central-elements-groups.lagda.md
  src/group-theory/central-elements-monoids.lagda.md
  src/group-theory/central-elements-semigroups.lagda.md
  src/group-theory/dependent-products-abelian-groups.lagda.md
  src/group-theory/dependent-products-commutative-monoids.lagda.md
  src/group-theory/dependent-products-groups.lagda.md
  src/group-theory/dependent-products-monoids.lagda.md
  src/group-theory/dependent-products-semigroups.lagda.md
  src/group-theory/function-abelian-groups.lagda.md
  src/group-theory/function-commutative-monoids.lagda.md
  src/group-theory/function-groups.lagda.md
  src/group-theory/function-monoids.lagda.md
  src/group-theory/function-semigroups.lagda.md
  src/ring-theory/central-elements-rings.lagda.md
  src/ring-theory/central-elements-semirings.lagda.md
  src/ring-theory/dependent-products-rings.lagda.md
  src/ring-theory/dependent-products-semirings.lagda.md
  src/ring-theory/function-rings.lagda.md
  src/ring-theory/function-semirings.lagda.md
  src/structured-types/function-magmas.lagda.md
  src/synthetic-homotopy-theory/24-pushouts.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
Labels: repo-maintenance

#514 Updated installation guide and some additions to the VSCode workspace
  .gitignore
  .vscode/agda.code-snippets
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  CODINGSTYLE.md
  DESIGN-PRINCIPLES.md
  HOWTO-INSTALL.md
  USERS.md
  scripts/README.md
  scripts/requirements.txt
  src/foundation-core/identity-types.lagda.md
Labels: documentation, tooling

#519 Update Nix shell, fix generating SUMMARY.md
  Makefile
  flake.nix
  scripts/generate_main_index_file.py
  scripts/requirements.txt
Labels: bug, tooling

#525 Refactoring ideals in semirings, rings, commutative semirings, and commutative rings; refactoring a corollary of the binomial theorem; constructing the nilradical of an ideal in a commutative ring
  src/commutative-algebra.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-rings.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-semirings.lagda.md
  src/commutative-algebra/ideals-commutative-rings.lagda.md
  src/commutative-algebra/ideals-commutative-semirings.lagda.md
  src/commutative-algebra/nilradical-commutative-rings.lagda.md
  src/commutative-algebra/prime-ideals-commutative-rings.lagda.md
  src/commutative-algebra/radical-ideals-commutative-rings.lagda.md
  src/commutative-algebra/radicals-of-ideals-commutative-rings.lagda.md
  src/commutative-algebra/subsets-commutative-rings.lagda.md
  src/commutative-algebra/subsets-commutative-semirings.lagda.md
  src/elementary-number-theory/binomial-theorem-integers.lagda.md
  src/elementary-number-theory/binomial-theorem-natural-numbers.lagda.md
  src/foundation/russells-paradox.lagda.md
  src/ring-theory/binomial-theorem-rings.lagda.md
  src/ring-theory/binomial-theorem-semirings.lagda.md
  src/ring-theory/ideals-generated-by-subsets-rings.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  src/ring-theory/ideals-semirings.lagda.md
  src/ring-theory/nil-ideals-rings.lagda.md
  src/ring-theory/nilpotent-elements-semirings.lagda.md
  src/ring-theory/quotient-rings.lagda.md
  src/ring-theory/radical-ideals-rings.lagda.md
  src/ring-theory/subsets-rings.lagda.md
  src/ring-theory/subsets-semirings.lagda.md
Labels: commutative-algebra, ring-theory

#522 Universal algebra first commit
  src/foundation/set-quotients.lagda.md
  src/universal-algebra.lagda.md
  src/universal-algebra/abstract-equations-over-signatures.lagda.md
  src/universal-algebra/algebraic-theories.lagda.md
  src/universal-algebra/algebraic-theory-of-groups.lagda.md
  src/universal-algebra/algebras-of-theories.lagda.md
  src/universal-algebra/congruences.lagda.md
  src/universal-algebra/homomorphisms-of-algebras.lagda.md
  src/universal-algebra/models-of-signatures.lagda.md
  src/universal-algebra/quotient-algebras.lagda.md
  src/universal-algebra/signatures.lagda.md
  src/universal-algebra/terms-over-signatures.lagda.md
Labels: universal-algebra

#527 Recording OEIS sequences that are formalized in the library
  src/online-encyclopedia-of-integer-sequences.lagda.md
  src/online-encyclopedia-of-integer-sequences/oeis.lagda.md
Labels: enhancement, elementary-number-theory

#526 Improvements to file conventions and other documentation
  CONVENTIONS.md
  FILE-CONVENTIONS.md
  HOME.md
  HOWTO-INSTALL.md
  Makefile
  scripts/generate_main_index_file.py
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  template.lagda.md
  theme/js/custom.js
Labels: documentation, repo-maintenance

#537 Improvements to file conventions and other documentation
  CONVENTIONS.md
  FILE-CONVENTIONS.md
  HOME.md
  HOWTO-INSTALL.md
  Makefile
  TEMPLATE.lagda.md
  scripts/generate_main_index_file.py
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  src/group-theory/normal-submonoids.lagda.md
  theme/js/custom.js
Labels: documentation, repo-maintenance

#521 Refactorization for the delooping of the sign homomorphism
  src/finite-group-theory/cartier-delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/simpson-delooping-sign-homomorphism.lagda.md
  src/foundation.lagda.md
  src/foundation/equivalence-relations.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/univalence-action-on-equivalences.lagda.md
  src/univalent-combinatorics/orientations-complete-undirected-graph.lagda.md
Labels: finite-group-theory, univalent-combinatorics

#529 Some additions to and refactoring large types
  scripts/demote_foundation_imports.py
  scripts/remove_unused_imports.py
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/category-theory/equivalences-large-precategories.lagda.md
  src/category-theory/functors-large-precategories.lagda.md
  src/category-theory/homotopies-natural-transformations-large-precategories.lagda.md
  src/category-theory/large-categories.lagda.md
  src/category-theory/large-precategories.lagda.md
  src/elementary-number-theory/inequality-integers.lagda.md
  src/foundation-core/dependent-pair-types.lagda.md
  src/foundation-core/functions.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation-core/sections.lagda.md
  src/foundation.lagda.md
  src/foundation/large-dependent-pair-types.lagda.md
  src/foundation/large-homotopies.lagda.md
  src/foundation/large-identity-types.lagda.md
  src/foundation/raising-universe-levels.lagda.md
  src/foundation/sections.lagda.md
  src/group-theory/category-of-semigroups.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
Labels: category-theory, foundation

#538 Kolakoski sequence
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/kolakoski-sequence.lagda.md
  src/online-encyclopedia-of-integer-sequences/oeis.lagda.md
  src/univalent-combinatorics/lists.lagda.md
Labels: oeis

#540 Commutativity and unit laws for cauchy products and dirichlet products of species
  src/foundation/coproduct-decompositions.lagda.md
  src/foundation/empty-types.lagda.md
  src/foundation/product-decompositions.lagda.md
  src/foundation/subuniverses.lagda.md
  src/species/cauchy-product-species-of-subuniverse.lagda.md
  src/species/dirichlet-product-species-of-subuniverse.lagda.md
Labels: species

#542 Sort on module name
  scripts/generate_main_index_file.py
Labels: CI, website

#543 Normal (commutative) submonoids and saturated congruence relations
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/initial-segments-natural-numbers.lagda.md
  src/elementary-number-theory/maximum-natural-numbers.lagda.md
  src/elementary-number-theory/minimum-natural-numbers.lagda.md
  src/elementary-number-theory/monoid-of-natural-numbers-with-maximum.lagda.md
  src/group-theory.lagda.md
  src/group-theory/congruence-relations-commutative-monoids.lagda.md
  src/group-theory/congruence-relations-monoids.lagda.md
  src/group-theory/congruence-relations-semigroups.lagda.md
  src/group-theory/homomorphisms-commutative-monoids.lagda.md
  src/group-theory/normal-submonoids-commutative-monoids.lagda.md
  src/group-theory/normal-submonoids.lagda.md
  src/group-theory/saturated-congruence-relations-commutative-monoids.lagda.md
  src/group-theory/saturated-congruence-relations-monoids.lagda.md
  src/group-theory/submonoids-commutative-monoids.lagda.md
  src/group-theory/submonoids.lagda.md
  src/group-theory/subsets-commutative-monoids.lagda.md
  src/group-theory/subsets-monoids.lagda.md
Labels: group-theory, elementary-number-theory

#528 First definitions towards n-ary functoriality of set quotients
  src/foundation-core/equivalence-relations.lagda.md
  src/foundation.lagda.md
  src/foundation/binary-homotopies.lagda.md
  src/foundation/cartesian-products-set-quotients.lagda.md
  src/foundation/multivariable-functoriality-set-quotients.lagda.md
  src/foundation/multivariable-operations.lagda.md
  src/foundation/products-binary-relations.lagda.md
  src/foundation/products-equivalence-relations.lagda.md
  src/foundation/set-quotients.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/vectors-set-quotients.lagda.md
  src/linear-algebra/vectors.lagda.md
Labels: foundation, universal-algebra
