Repository UniMath/agda-unimath, pull requests merged in 2024-05, with the labels that each got.

#1088 Null maps, null types and null type families
  src/foundation-core/retracts-of-types.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/diagonal-maps-of-types.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/local-families-of-types.lagda.md
  src/orthogonal-factorization-systems/local-maps.lagda.md
  src/orthogonal-factorization-systems/local-types.lagda.md
  src/orthogonal-factorization-systems/null-families-of-types.lagda.md
  src/orthogonal-factorization-systems/null-maps.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
  src/orthogonal-factorization-systems/orthogonal-maps.lagda.md
Labels: orthogonal-factorization-systems

#1128 Add reference to MRR88 in files about apartness relations
  src/foundation/apartness-relations.lagda.md
  src/foundation/standard-apartness-relations.lagda.md
  src/foundation/tight-apartness-relations.lagda.md
Labels: foundation

#1143 Fix citation tag configuration for some references
  references.bib
  src/set-theory/cumulative-hierarchy.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/functoriality-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
Labels: repo-maintenance, website, fix, formatting

#1129 Zigzags of sequential diagrams
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/commuting-triangles-of-maps.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/shifts-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/zigzags-sequential-diagrams.lagda.md
Labels: enhancement, synthetic-homotopy-theory

#1145 Refactor the descent property of pushouts
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/descent-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/equivalences-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/families-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
  src/synthetic-homotopy-theory/morphisms-descent-data-pushouts.lagda.md
Labels: synthetic-homotopy-theory, refactoring
