Repository UniMath/agda-unimath, pull requests merged in 2024-04, with the labels that each got.

#1098 Rebase infrastructure for coequalizers to double arrows
  src/foundation.lagda.md
  src/foundation/double-arrows.lagda.md
  src/foundation/equivalences-double-arrows.lagda.md
  src/foundation/morphisms-double-arrows.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/coequalizers.lagda.md
  src/synthetic-homotopy-theory/coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-coforks.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/equivalences-coforks.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/morphisms-coforks.lagda.md
  src/synthetic-homotopy-theory/sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
Labels: enhancement, synthetic-homotopy-theory, refactoring

#1100 The additive group of rational numbers
  src/commutative-algebra/integer-multiples-of-elements-commutative-rings.lagda.md
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/addition-integer-fractions.lagda.md
  src/elementary-number-theory/addition-integers.lagda.md
  src/elementary-number-theory/addition-natural-numbers.lagda.md
  src/elementary-number-theory/addition-positive-and-negative-integers.lagda.md
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/bezouts-lemma-integers.lagda.md
  src/elementary-number-theory/cross-multiplication-difference-integer-fractions.lagda.md
  src/elementary-number-theory/difference-integers.lagda.md
  src/elementary-number-theory/difference-rational-numbers.lagda.md
  src/elementary-number-theory/greatest-common-divisor-integers.lagda.md
  src/elementary-number-theory/group-of-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-integer-fractions.lagda.md
  src/elementary-number-theory/inequality-integers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/integer-fractions.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/elementary-number-theory/multiplication-integer-fractions.lagda.md
  src/elementary-number-theory/multiplication-integers.lagda.md
  src/elementary-number-theory/multiplication-positive-and-negative-integers.lagda.md
  src/elementary-number-theory/multiplication-rational-numbers.lagda.md
  src/elementary-number-theory/negative-integers.lagda.md
  src/elementary-number-theory/nonzero-integers.lagda.md
  src/elementary-number-theory/positive-and-negative-integers.lagda.md
  src/elementary-number-theory/positive-integers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/elementary-number-theory/reduced-integer-fractions.lagda.md
  src/elementary-number-theory/ring-of-integers.lagda.md
  src/elementary-number-theory/strict-inequality-integer-fractions.lagda.md
  src/elementary-number-theory/strict-inequality-integers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/group-theory/integer-multiples-of-elements-abelian-groups.lagda.md
  src/group-theory/integer-powers-of-elements-groups.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  src/ring-theory/integer-multiples-of-elements-rings.lagda.md
Labels: elementary-number-theory

#1070 Shifts and unshifts of concepts around sequential colimits
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/morphisms-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/shifts-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/total-sequential-diagrams.lagda.md
Labels: documentation, synthetic-homotopy-theory

#1025 Strict symmetrizations of binary relations
  src/category-theory/large-precategories.lagda.md
  src/foundation-core/equivalence-relations.lagda.md
  src/foundation-core/torsorial-type-families.lagda.md
  src/foundation.lagda.md
  src/foundation/binary-relations-with-extensions.lagda.md
  src/foundation/binary-relations-with-lifts.lagda.md
  src/foundation/binary-relations.lagda.md
  src/foundation/discrete-reflexive-relations.lagda.md
  src/foundation/discrete-relations.lagda.md
  src/foundation/exclusive-disjunction.lagda.md
  src/foundation/large-binary-relations.lagda.md
  src/foundation/large-locale-of-subtypes.lagda.md
  src/foundation/reflexive-relations.lagda.md
  src/foundation/strict-symmetrization-binary-relations.lagda.md
  src/foundation/torsorial-type-families.lagda.md
  src/graph-theory.lagda.md
  src/graph-theory/discrete-graphs.lagda.md
  src/graph-theory/large-higher-directed-graphs.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
  src/group-theory/subgroups.lagda.md
  src/order-theory/accessible-elements-relations.lagda.md
  src/order-theory/closure-operators-large-locales.lagda.md
  src/order-theory/closure-operators-large-posets.lagda.md
  src/order-theory/dependent-products-large-frames.lagda.md
  src/order-theory/dependent-products-large-locales.lagda.md
  src/order-theory/dependent-products-large-meet-semilattices.lagda.md
  src/order-theory/dependent-products-large-posets.lagda.md
  src/order-theory/dependent-products-large-preorders.lagda.md
  src/order-theory/dependent-products-large-suplattices.lagda.md
  src/order-theory/large-frames.lagda.md
  src/order-theory/large-locales.lagda.md
  src/order-theory/large-meet-semilattices.lagda.md
  src/order-theory/large-meet-subsemilattices.lagda.md
  src/order-theory/large-posets.lagda.md
  src/order-theory/large-preorders.lagda.md
  src/order-theory/large-quotient-locales.lagda.md
  src/order-theory/large-subframes.lagda.md
  src/order-theory/large-subposets.lagda.md
  src/order-theory/large-subpreorders.lagda.md
  src/order-theory/large-subsuplattices.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/nuclei-large-locales.lagda.md
  src/order-theory/powers-of-large-locales.lagda.md
  src/order-theory/well-founded-relations.lagda.md
Labels: foundation, wild-category-theory

#1096 Refactor diagonals
  src/elementary-number-theory/sums-of-natural-numbers.lagda.md
  src/foundation-core.lagda.md
  src/foundation-core/constant-maps.lagda.md
  src/foundation-core/diagonal-maps-cartesian-products-of-types.lagda.md
  src/foundation-core/diagonal-maps-of-types.lagda.md
  src/foundation-core/pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/action-on-equivalences-functions.lagda.md
  src/foundation/action-on-equivalences-type-families.lagda.md
  src/foundation/action-on-higher-identifications-functions.lagda.md
  src/foundation/action-on-identifications-functions.lagda.md
  src/foundation/booleans.lagda.md
  src/foundation/cartesian-morphisms-arrows.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/contractible-types.lagda.md
  src/foundation/dependent-binomial-theorem.lagda.md
  src/foundation/diagonal-maps-cartesian-products-of-types.lagda.md
  src/foundation/diagonal-maps-of-types.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/standard-pullbacks.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
  src/foundation/universal-property-unit-type.lagda.md
  src/foundation/weakly-constant-maps.lagda.md
  src/linear-algebra/multiplication-matrices.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
  src/structured-types/constant-pointed-maps.lagda.md
  src/structured-types/involutive-type-of-h-space-structures.lagda.md
  src/synthetic-homotopy-theory/1-acyclic-types.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
Labels: foundation, refactoring

#1107 The commutative ring of rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-integer-fractions.lagda.md
  src/elementary-number-theory/multiplication-rational-numbers.lagda.md
  src/elementary-number-theory/ring-of-rational-numbers.lagda.md
Labels: elementary-number-theory

#1095 Adding explicit zero algebras
  CONTRIBUTORS.toml
  src/commutative-algebra/trivial-commutative-rings.lagda.md
  src/group-theory/trivial-groups.lagda.md
Labels: group-theory, commutative-algebra

#1108 chore: Rename `universal-property-surj` to `universal-property-surjection`
  src/foundation/0-connected-types.lagda.md
  src/foundation/binary-functoriality-set-quotients.lagda.md
  src/foundation/decidable-equivalence-relations.lagda.md
  src/foundation/set-quotients.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/universal-property-image.lagda.md
  src/foundation/universal-property-set-quotients.lagda.md
  src/foundation/universal-property-truncation.lagda.md
Labels: foundation, improve naming

#1110 Plane trees
  src/trees.lagda.md
  src/trees/full-binary-trees.lagda.md
  src/trees/planar-binary-trees.lagda.md
  src/trees/plane-trees.lagda.md
Labels: trees

#1113 Acyclic maps are closed under retracts
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
Labels: synthetic-homotopy-theory

#1112 Hereditary W-types
  src/trees.lagda.md
  src/trees/binary-w-types.lagda.md
  src/trees/hereditary-w-types.lagda.md
  src/trees/indexed-w-types.lagda.md
Labels: trees

#1105 Splitting idempotents
  references.bib
  src/elementary-number-theory/natural-numbers.lagda.md
  src/foundation-core.lagda.md
  src/foundation-core/coherently-invertible-maps.lagda.md
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation-core/invertible-maps.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation-core/retracts-of-types.lagda.md
  src/foundation-core/small-types.lagda.md
  src/foundation-core/truncated-types.lagda.md
  src/foundation.lagda.md
  src/foundation/coherently-invertible-maps.lagda.md
  src/foundation/commuting-prisms-of-maps.lagda.md
  src/foundation/commuting-squares-of-homotopies.lagda.md
  src/foundation/commuting-triangles-of-homotopies.lagda.md
  src/foundation/commuting-triangles-of-identifications.lagda.md
  src/foundation/commuting-triangles-of-morphisms-arrows.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/decidable-equality.lagda.md
  src/foundation/decidable-types.lagda.md
  src/foundation/equivalence-induction.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/fixed-points-endofunctions.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/functoriality-truncation.lagda.md
  src/foundation/fundamental-theorem-of-identity-types.lagda.md
  src/foundation/idempotent-maps.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/involutions.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/preidempotent-maps.lagda.md
  src/foundation/quasicoherently-idempotent-maps.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/foundation/retracts-of-types.lagda.md
  src/foundation/sections.lagda.md
  src/foundation/sequential-limits.lagda.md
  src/foundation/small-maps.lagda.md
  src/foundation/small-types.lagda.md
  src/foundation/split-idempotent-maps.lagda.md
  src/foundation/strictly-right-unital-concatenation-identifications.lagda.md
  src/foundation/universal-property-propositional-truncation-into-sets.lagda.md
  src/foundation/weakly-constant-maps.lagda.md
  src/foundation/whiskering-homotopies-composition.lagda.md
  src/foundation/whiskering-homotopies-concatenation.lagda.md
  src/set-theory/cumulative-hierarchy.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
Labels: foundation, formalization-target, low-priority

#1117 Equivalences are closed under "transfinite composition"
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
Labels: synthetic-homotopy-theory

#1021 Rewrite rules for pushouts
  Makefile
  agda-unimath.agda-lib
  src/foundation/constant-type-families.lagda.md
  src/foundation/dependent-identifications.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/reflection.lagda.md
  src/reflection/erasing-equality.lagda.md
  src/reflection/rewriting.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/induction-principle-pushouts.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/recursion-principle-pushouts.lagda.md
  src/synthetic-homotopy-theory/rewriting-pushouts.lagda.md
Labels: synthetic-homotopy-theory, reflection, computational-behavior

#1121 Rename `canonical-coequalizer` to `standard-coequalizer`
  src/synthetic-homotopy-theory/coequalizers.lagda.md
  src/synthetic-homotopy-theory/sequential-colimits.lagda.md
Labels: synthetic-homotopy-theory, improve naming

#1125 chore: Remove redundant parentheses in universe level expressions
  src/commutative-algebra/subsets-commutative-rings.lagda.md
  src/commutative-algebra/subsets-commutative-semirings.lagda.md
  src/foundation-core/equivalence-relations.lagda.md
  src/foundation/binary-relations.lagda.md
  src/foundation/large-locale-of-subtypes.lagda.md
  src/foundation/subuniverses.lagda.md
  src/group-theory/decidable-subgroups.lagda.md
  src/group-theory/embeddings-abelian-groups.lagda.md
  src/group-theory/embeddings-groups.lagda.md
  src/group-theory/subgroups-abelian-groups.lagda.md
  src/group-theory/subsets-abelian-groups.lagda.md
  src/group-theory/subsets-groups.lagda.md
  src/ring-theory/ideals-rings.lagda.md
  src/ring-theory/ideals-semirings.lagda.md
  src/ring-theory/left-ideals-rings.lagda.md
  src/ring-theory/right-ideals-rings.lagda.md
  src/ring-theory/subsets-rings.lagda.md
  src/ring-theory/subsets-semirings.lagda.md
  src/synthetic-homotopy-theory/universal-property-circle.lagda.md
Labels: refactoring

#1115 The loop of any circle is nontrivial
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
Labels: synthetic-homotopy-theory

#1126 chore: Universal properties of colimits quantify over all universe levels
  src/foundation/epimorphisms.lagda.md
  src/synthetic-homotopy-theory/26-descent.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/circle.lagda.md
  src/synthetic-homotopy-theory/cocartesian-morphisms-arrows.lagda.md
  src/synthetic-homotopy-theory/codiagonals-of-maps.lagda.md
  src/synthetic-homotopy-theory/coequalizers.lagda.md
  src/synthetic-homotopy-theory/cofibers.lagda.md
  src/synthetic-homotopy-theory/dependent-pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/descent-circle-equivalence-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-function-types.lagda.md
  src/synthetic-homotopy-theory/descent-circle-subtypes.lagda.md
  src/synthetic-homotopy-theory/descent-circle.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
  src/synthetic-homotopy-theory/induction-principle-pushouts.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
  src/synthetic-homotopy-theory/pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
  src/synthetic-homotopy-theory/sections-descent-circle.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/universal-cover-circle.lagda.md
  src/synthetic-homotopy-theory/universal-property-circle.lagda.md
  src/synthetic-homotopy-theory/universal-property-coequalizers.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/universal-property-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
Labels: synthetic-homotopy-theory, refactoring

#1119 Postulate components of coherent two-sided inverses for function extensionality and univalence
  src/foundation-core/contractible-types.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/identity-systems.lagda.md
  src/foundation/univalence.lagda.md
Labels: foundation, computational-behavior

#1111 The discrete field of rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/additive-group-of-rational-numbers.lagda.md
  src/elementary-number-theory/cross-multiplication-difference-integer-fractions.lagda.md
  src/elementary-number-theory/field-of-rational-numbers.lagda.md
  src/elementary-number-theory/group-of-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-integer-fractions.lagda.md
  src/elementary-number-theory/multiplication-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-group-of-positive-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-group-of-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-inverses-positive-integer-fractions.lagda.md
  src/elementary-number-theory/multiplicative-monoid-of-rational-numbers.lagda.md
  src/elementary-number-theory/nonzero-rational-numbers.lagda.md
  src/elementary-number-theory/positive-integer-fractions.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/elementary-number-theory/ring-of-rational-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-integer-fractions.lagda.md
  src/elementary-number-theory/strict-inequality-integers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/ring-theory/invertible-elements-rings.lagda.md
  src/ring-theory/trivial-rings.lagda.md
Labels: elementary-number-theory

#1131 Pin macOS version to one with Intel runners
  .github/workflows/ci.yaml
  .github/workflows/pages.yaml
Labels: CI, fix

#1135 Fixing a link
  src/category-theory/precategories.lagda.md
Labels: category-theory, typo
