Repository UniMath/agda-unimath, pull requests merged in 2024-01, with the labels that each got.

#977 small addendum to copartial elements, and proposal of erased -> denied
  src/foundation/copartial-elements.lagda.md
  src/foundation/copartial-functions.lagda.md
  src/synthetic-homotopy-theory/joins-of-types.lagda.md
Labels: foundation

#991 Deduplicate singleton-induction
  src/foundation-core.lagda.md
  src/foundation-core/singleton-induction.lagda.md
  src/foundation/homotopy-induction.lagda.md
  src/foundation/singleton-induction.lagda.md
  src/foundation/singleton-subtypes.lagda.md
  src/foundation/subsingleton-induction.lagda.md
  src/foundation/type-arithmetic-dependent-pair-types.lagda.md
  src/foundation/universal-property-contractible-types.lagda.md
Labels: repo-maintenance

#993 Make type argument explicit for `terminal-map`
  src/foundation/dependent-towers.lagda.md
  src/foundation/discrete-relaxed-sigma-decompositions.lagda.md
  src/foundation/discrete-sigma-decompositions.lagda.md
  src/foundation/fiber-inclusions.lagda.md
  src/foundation/fibers-of-maps.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/foundation/sigma-decompositions.lagda.md
  src/foundation/subterminal-types.lagda.md
  src/foundation/towers.lagda.md
  src/foundation/trivial-relaxed-sigma-decompositions.lagda.md
  src/foundation/trivial-sigma-decompositions.lagda.md
  src/foundation/type-arithmetic-dependent-function-types.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/foundation/universal-property-propositional-truncation.lagda.md
  src/species/small-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/synthetic-homotopy-theory/0-acyclic-types.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/codiagonals-of-maps.lagda.md
  src/synthetic-homotopy-theory/cofibers.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-suspensions.lagda.md
  src/synthetic-homotopy-theory/premanifolds.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-types.lagda.md
  src/synthetic-homotopy-theory/tangent-spheres.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions.lagda.md
Labels: refactoring

#994 Use `point x` instead of `const unit X x`
  src/foundation/booleans.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/fibers-of-maps.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/foundation/isolated-elements.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/unit-type.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/cofibers.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
Labels: refactoring

#996 Rename `3-simplex` to `tetrahedron`
  src/foundation.lagda.md
  src/foundation/commuting-tetrahedra-of-homotopies.lagda.md
  src/foundation/commuting-tetrahedra-of-maps.lagda.md
  src/orthogonal-factorization-systems/lifting-squares.lagda.md
Labels: foundation, refactoring

#997 Rename `is-prop-Π'` to `is-prop-implicit-Π` and `Π-Prop'` to `implicit-Π-Prop`
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/natural-transformations-maps-from-small-to-large-precategories.lagda.md
  src/category-theory/natural-transformations-maps-precategories.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation-core/propositions.lagda.md
  src/foundation/binary-functoriality-set-quotients.lagda.md
  src/foundation/binary-reflecting-maps-equivalence-relations.lagda.md
  src/foundation/functoriality-set-quotients.lagda.md
  src/foundation/iterated-dependent-product-types.lagda.md
  src/foundation/reflecting-maps-equivalence-relations.lagda.md
  src/group-theory/congruence-relations-semigroups.lagda.md
  src/group-theory/homomorphisms-semigroups.lagda.md
  src/group-theory/normalizer-subgroups.lagda.md
  src/group-theory/subgroups.lagda.md
  src/group-theory/subsemigroups.lagda.md
  src/order-theory/frames.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/uniquely-eliminating-modalities.lagda.md
  src/ring-theory/homomorphisms-rings.lagda.md
Labels: refactoring

#990 Rename "towers" to "inverse sequential diagrams"
  src/foundation-core/pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/composite-maps-in-inverse-sequential-diagrams.lagda.md
  src/foundation/composite-maps-in-towers.lagda.md
  src/foundation/cones-over-inverse-sequential-diagrams.lagda.md
  src/foundation/cones-over-towers.lagda.md
  src/foundation/dependent-inverse-sequential-diagrams.lagda.md
  src/foundation/dependent-towers.lagda.md
  src/foundation/equivalences-inverse-sequential-diagrams.lagda.md
  src/foundation/equivalences-towers.lagda.md
  src/foundation/functoriality-sequential-limits.lagda.md
  src/foundation/inverse-sequential-diagrams.lagda.md
  src/foundation/morphisms-inverse-sequential-diagrams.lagda.md
  src/foundation/morphisms-towers.lagda.md
  src/foundation/sequential-limits.lagda.md
  src/foundation/towers.lagda.md
  src/foundation/transfinite-cocomposition-of-maps.lagda.md
  src/foundation/universal-property-sequential-limits.lagda.md
  src/synthetic-homotopy-theory/cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-sequential-diagrams.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/functoriality-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/sequential-diagrams.lagda.md
  tables/sequential-limits.md
Labels: foundation, refactoring

#998 Make type arguments implicit for `eq-equiv`
  src/finite-group-theory/delooping-sign-homomorphism.lagda.md
  src/finite-group-theory/transpositions.lagda.md
  src/foundation/action-on-equivalences-functions.lagda.md
  src/foundation/action-on-equivalences-type-families.lagda.md
  src/foundation/coproduct-decompositions-subuniverse.lagda.md
  src/foundation/empty-types.lagda.md
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/foundation/mere-equivalences.lagda.md
  src/foundation/product-decompositions-subuniverse.lagda.md
  src/foundation/structure.lagda.md
  src/foundation/subuniverses.lagda.md
  src/foundation/transport-along-equivalences.lagda.md
  src/foundation/univalence.lagda.md
  src/group-theory/loop-groups-sets.lagda.md
  src/organic-chemistry/ethane.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-composition-species-of-types.lagda.md
  src/species/cauchy-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-products-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-products-species-of-types-in-subuniverses.lagda.md
  src/species/small-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/species-of-types.lagda.md
  src/univalent-combinatorics/2-element-decidable-subtypes.lagda.md
Labels: refactoring

#989 Exponentiating retracts of maps
  src/elementary-number-theory/based-strong-induction-natural-numbers.lagda.md
  src/elementary-number-theory/hardy-ramanujan-number.lagda.md
  src/foundation-core.lagda.md
  src/foundation-core/commuting-prisms-of-maps.lagda.md
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/function-extensionality.lagda.md
  src/foundation-core/functoriality-function-types.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/postcomposition-functions.lagda.md
  src/foundation-core/precomposition-functions.lagda.md
  src/foundation-core/universal-property-pullbacks.lagda.md
  src/foundation-core/whiskering-homotopies.lagda.md
  src/foundation.lagda.md
  src/foundation/0-maps.lagda.md
  src/foundation/action-on-identifications-binary-functions.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/commuting-prisms-of-maps.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/commuting-triangles-of-maps.lagda.md
  src/foundation/composition-algebra.lagda.md
  src/foundation/double-negation-modality.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/functoriality-function-types.lagda.md
  src/foundation/identity-systems.lagda.md
  src/foundation/logical-equivalences.lagda.md
  src/foundation/morphisms-arrows.lagda.md
  src/foundation/partial-functions.lagda.md
  src/foundation/partial-sequences.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/postcomposition-dependent-functions.lagda.md
  src/foundation/postcomposition-functions.lagda.md
  src/foundation/propositional-extensionality.lagda.md
  src/foundation/propositional-maps.lagda.md
  src/foundation/propositions.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/foundation/retracts-of-types.lagda.md
  src/foundation/set-truncations.lagda.md
  src/foundation/symmetric-cores-binary-relations.lagda.md
  src/foundation/total-partial-functions.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/foundation/universal-property-equivalences.lagda.md
  src/foundation/universal-property-sequential-limits.lagda.md
  src/foundation/universal-property-unit-type.lagda.md
  src/foundation/unordered-pairs.lagda.md
  src/foundation/unordered-tuples.lagda.md
  src/foundation/whiskering-homotopies.lagda.md
  src/modal-type-theory/flat-dependent-function-types.lagda.md
  src/orthogonal-factorization-systems/function-classes.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/local-types.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types.lagda.md
  src/species/unit-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/synthetic-homotopy-theory/joins-of-maps.lagda.md
  tables/composition.md
Labels: foundation, orthogonal-factorization-systems

#1000 Universal property of contractible types w.r.t. pointed types and maps
  src/foundation/universal-property-contractible-types.lagda.md
  src/structured-types.lagda.md
  src/structured-types/pointed-universal-property-contractible-types.lagda.md
Labels: structured-types

#1004 Reformatting commented blocks of code
  src/elementary-number-theory/sums-of-natural-numbers.lagda.md
  src/finite-algebra/semisimple-commutative-finite-rings.lagda.md
  src/finite-group-theory/groups-of-order-2.lagda.md
  src/foundation/partitions.lagda.md
  src/foundation/strongly-extensional-maps.lagda.md
  src/group-theory/category-of-concrete-groups.lagda.md
  src/lists/lists-discrete-types.lagda.md
  src/species/hasse-weil-species.lagda.md
  src/synthetic-homotopy-theory/infinite-cyclic-types.lagda.md
  src/trees/undirected-trees.lagda.md
  src/univalent-combinatorics/repetitions-of-values-sequences.lagda.md
  src/univalent-combinatorics/repetitions-of-values.lagda.md
Labels: formatting

#1003 Hatcher's acyclic type is acyclic
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
Labels: synthetic-homotopy-theory

#999 Extensions of types
  src/foundation.lagda.md
  src/foundation/extensions-types.lagda.md
Labels: foundation

#1001 Lifts of types
  src/foundation.lagda.md
  src/foundation/lifts-types.lagda.md
Labels: foundation

#1010 Fix "The predicate of" section headers
  src/category-theory/embedding-maps-precategories.lagda.md
  src/category-theory/embeddings-precategories.lagda.md
  src/category-theory/faithful-functors-precategories.lagda.md
  src/category-theory/faithful-maps-precategories.lagda.md
  src/category-theory/full-functors-precategories.lagda.md
  src/category-theory/full-maps-precategories.lagda.md
  src/category-theory/fully-faithful-functors-precategories.lagda.md
  src/category-theory/fully-faithful-maps-precategories.lagda.md
  src/category-theory/functors-categories.lagda.md
  src/category-theory/functors-from-small-to-large-categories.lagda.md
  src/category-theory/functors-from-small-to-large-precategories.lagda.md
  src/category-theory/functors-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/category-theory/pregroupoids.lagda.md
  src/category-theory/subcategories.lagda.md
  src/category-theory/subprecategories.lagda.md
  src/category-theory/subterminal-precategories.lagda.md
  src/category-theory/wide-subcategories.lagda.md
  src/category-theory/wide-subprecategories.lagda.md
  src/elementary-number-theory/greatest-common-divisor-integers.lagda.md
  src/foundation/global-subuniverses.lagda.md
  src/order-theory/large-posets.lagda.md
  src/orthogonal-factorization-systems/factorizations-of-maps.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/wide-function-classes.lagda.md
  src/ring-theory/homomorphisms-rings.lagda.md
Labels: fix, category-theory, orthogonal-factorization-systems

#1011 Inline `pair`
  src/foundation/dependent-pair-types.lagda.md
Labels: repo-maintenance

#1013 Transport-split and preunivalent type families
  src/foundation-core/contractible-maps.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation-core/path-split-maps.lagda.md
  src/foundation-core/sets.lagda.md
  src/foundation-core/transport-along-identifications.lagda.md
  src/foundation.lagda.md
  src/foundation/category-of-sets.lagda.md
  src/foundation/contractible-maps.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/equivalences-maybe.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/fundamental-theorem-of-identity-types.lagda.md
  src/foundation/identity-systems.lagda.md
  src/foundation/isomorphisms-of-sets.lagda.md
  src/foundation/path-split-maps.lagda.md
  src/foundation/preunivalence.lagda.md
  src/foundation/preunivalent-type-families.lagda.md
  src/foundation/set-truncations.lagda.md
  src/foundation/sets.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/foundation/transport-split-type-families.lagda.md
  src/foundation/truncated-types.lagda.md
  src/foundation/univalent-type-families.lagda.md
  src/foundation/universal-property-identity-systems.lagda.md
  src/group-theory/equivalences-concrete-group-actions.lagda.md
  src/group-theory/symmetric-concrete-groups.lagda.md
  src/univalent-combinatorics/2-element-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: foundation
