Repository UniMath/agda-unimath, pull requests merged in 2024-10, with the labels that each got.

#1187 chore: a few typos in algebra
  src/commutative-algebra/boolean-rings.lagda.md
  src/commutative-algebra/category-of-commutative-rings.lagda.md
  src/finite-algebra/semisimple-commutative-finite-rings.lagda.md
  src/ring-theory/category-of-rings.lagda.md
Labels: commutative-algebra, ring-theory, typo, finite-algebra

#1177 Throw error when `{{#bibliography}}` is invoked with empty reference list
  book.toml
  references.bib
  scripts/preprocessor_citations.py
Labels: CI, fix

#1138 Add interactive library explorer
  CONTRIBUTORS.toml
  Makefile
  VISUALIZATION.md
  book.toml
  scripts/generate_main_index_file.py
  website/js/custom.js
Labels: enhancement, website

#1191 Add citation — computational identity types
  src/foundation/computational-identity-types.lagda.md
  src/foundation/strictly-involutive-identity-types.lagda.md
  src/foundation/yoneda-identity-types.lagda.md
Labels: documentation, foundation

#1192 Enable smart punctuation
  book.toml
Labels: enhancement, website

#1190 Extensionality of globular types
  DESIGN-PRINCIPLES.md
  src/structured-types.lagda.md
  src/structured-types/equality-globular-types.lagda.md
  src/structured-types/equivalences-globular-types.lagda.md
Labels: structured-types

#1189 Idea text `set-theory`
  references.bib
  src/elementary-number-theory/falling-factorials.lagda.md
  src/elementary-number-theory/multiset-coefficients.lagda.md
  src/elementary-number-theory/peano-arithmetic.lagda.md
  src/foundation.lagda.md
  src/foundation/axiom-of-choice.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/multivariable-correspondences.lagda.md
  src/foundation/singleton-subtypes.lagda.md
  src/foundation/small-universes.lagda.md
  src/foundation/truncation-equivalences.lagda.md
  src/graph-theory/polygons.lagda.md
  src/group-theory/dihedral-groups.lagda.md
  src/online-encyclopedia-of-integer-sequences/oeis.lagda.md
  src/set-theory.lagda.md
  src/set-theory/russells-paradox.lagda.md
  src/trees/multisets.lagda.md
  src/trees/small-multisets.lagda.md
  src/trees/universal-multiset.lagda.md
  src/univalent-combinatorics/presented-pi-finite-types.lagda.md
Labels: set-theory, foundation

#1193 Add link to containers project
  Makefile
  PROJECTS.md
  book.toml
  scripts/generate_main_index_file.py
  website/js/custom.js
Labels: website

#1197 Minor search engine optimizations
  CITE-THIS-LIBRARY.md
  CITING-SOURCES.md
  CODINGSTYLE.md
  DESIGN-PRINCIPLES.md
  GRANT-ACKNOWLEDGEMENTS.md
  HOME.md
  HOWTO-INSTALL.md
  PROJECTS.md
  README.md
  scripts/generate_main_index_file.py
  src/foundation/global-choice.lagda.md
  src/foundation/whiskering-operations.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  theme/index.hbs
Labels: enhancement, website

#1198 Define double negation sheaves
  references.bib
  scripts/utils/__init__.py
  src/foundation.lagda.md
  src/foundation/decidable-types.lagda.md
  src/foundation/double-negation-stable-propositions.lagda.md
  src/foundation/irrefutable-propositions.lagda.md
  src/foundation/law-of-excluded-middle.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/double-negation-sheaves.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
Labels: orthogonal-factorization-systems, logic

#1201 100 Theorems
  HOWTO-INSTALL.md
  references.bib
  src/elementary-number-theory/integer-fractions.lagda.md
  src/elementary-number-theory/positive-integers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  src/foundation/injective-maps.lagda.md
  src/foundation/maybe.lagda.md
  src/literature.lagda.md
  src/literature/100-theorems.lagda.md
  src/set-theory/countable-sets.lagda.md
Labels: website, elementary-number-theory, 100-theorems

#1202 Bezout's lemma – 100 theorems
  src/literature/100-theorems.lagda.md
Labels: 100-theorems

#1178 Abelian ∞-groups
  references.bib
  src/foundation/connected-types.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/abelian-higher-groups.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/connective-prespectra.lagda.md
  src/synthetic-homotopy-theory/connective-spectra.lagda.md
Labels: synthetic-homotopy-theory, higher-group-theory

#1205 Order theory from @spcfox's modal logic
  src/order-theory.lagda.md
  src/order-theory/chains-posets.lagda.md
  src/order-theory/chains-preorders.lagda.md
  src/order-theory/finite-preorders.lagda.md
  src/order-theory/finitely-graded-posets.lagda.md
  src/order-theory/maximal-chains-preorders.lagda.md
  src/order-theory/subposets.lagda.md
  src/order-theory/subpreorders.lagda.md
  src/order-theory/top-elements-large-posets.lagda.md
  src/order-theory/top-elements-posets.lagda.md
  src/order-theory/top-elements-preorders.lagda.md
  src/order-theory/upper-bounds-chains-posets.lagda.md
  src/order-theory/zorns-lemma.lagda.md
Labels: order-theory

#1207 The Euclid-Mullin sequence
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/euclid-mullin-sequence.lagda.md
  src/elementary-number-theory/fundamental-theorem-of-arithmetic.lagda.md
  src/elementary-number-theory/products-of-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/online-encyclopedia-of-integer-sequences/oeis.lagda.md
Labels: elementary-number-theory, oeis

#1208 Move OEIS to literature
  references.bib
  src/elementary-number-theory/ackermann-function.lagda.md
  src/elementary-number-theory/euclid-mullin-sequence.lagda.md
  src/elementary-number-theory/fermat-numbers.lagda.md
  src/literature.lagda.md
  src/literature/oeis.lagda.md
  src/online-encyclopedia-of-integer-sequences.lagda.md
Labels: oeis

#1209 Fix euclid-mullin
  src/elementary-number-theory/euclid-mullin-sequence.lagda.md
Labels: elementary-number-theory

#1210 Sylvester's sequence
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/sylvesters-sequence.lagda.md
  src/foundation/sequences.lagda.md
  src/literature/oeis.lagda.md
Labels: elementary-number-theory, oeis

#922 Displayed precategories
  references.bib
  src/category-theory.lagda.md
  src/category-theory/dependent-composition-operations-over-precategories.lagda.md
  src/category-theory/displayed-precategories.lagda.md
  src/category-theory/precategories.lagda.md
  src/foundation/dependent-identifications.lagda.md
  src/type-theories/simple-type-theories.lagda.md
Labels: category-theory, low-priority

#1130 Functoriality of morphisms of arrows
  src/foundation-core/coherently-invertible-maps.lagda.md
  src/foundation-core/pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/bicomposition-functions.lagda.md
  src/foundation/commuting-cubes-of-maps.lagda.md
  src/foundation/cospan-diagrams.lagda.md
  src/foundation/cospans.lagda.md
  src/foundation/dependent-products-pullbacks.lagda.md
  src/foundation/dependent-sums-pullbacks.lagda.md
  src/foundation/functoriality-morphisms-arrows.lagda.md
  src/foundation/functoriality-pullbacks.lagda.md
  src/foundation/homotopies-morphisms-cospan-diagrams.lagda.md
  src/foundation/morphisms-arrows.lagda.md
  src/foundation/morphisms-cospan-diagrams.lagda.md
  src/foundation/pullback-cones.lagda.md
  src/foundation/standard-pullbacks.lagda.md
  src/foundation/universal-property-cartesian-product-types.lagda.md
  src/foundation/universal-property-fiber-products.lagda.md
  src/modal-type-theory/crisp-pullbacks.lagda.md
  src/orthogonal-factorization-systems/functoriality-pullback-hom.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  tables/pullbacks.md
Labels: foundation, orthogonal-factorization-systems

#1212 The number of decidable subtypes of a finite type
  src/elementary-number-theory/exponentiation-natural-numbers.lagda.md
  src/foundation/booleans.lagda.md
  src/foundation/decidable-propositions.lagda.md
  src/literature/100-theorems.lagda.md
  src/univalent-combinatorics/cartesian-product-types.lagda.md
  src/univalent-combinatorics/decidable-equivalence-relations.lagda.md
  src/univalent-combinatorics/decidable-propositions.lagda.md
  src/univalent-combinatorics/decidable-subtypes.lagda.md
  src/univalent-combinatorics/dependent-function-types.lagda.md
  src/univalent-combinatorics/finite-types.lagda.md
  src/univalent-combinatorics/function-types.lagda.md
Labels: univalent-combinatorics, 100-theorems

#1213 Formula for the number of combinations
  src/commutative-algebra/binomial-theorem-commutative-rings.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-semirings.lagda.md
  src/elementary-number-theory/bezouts-lemma-integers.lagda.md
  src/elementary-number-theory/bezouts-lemma-natural-numbers.lagda.md
  src/elementary-number-theory/binomial-theorem-integers.lagda.md
  src/elementary-number-theory/binomial-theorem-natural-numbers.lagda.md
  src/elementary-number-theory/fundamental-theorem-of-arithmetic.lagda.md
  src/elementary-number-theory/greatest-common-divisor-natural-numbers.lagda.md
  src/elementary-number-theory/infinitude-of-primes.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  src/foundation/cantors-theorem.lagda.md
  src/literature/100-theorems.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/ring-theory/binomial-theorem-rings.lagda.md
  src/ring-theory/binomial-theorem-semirings.lagda.md
  src/univalent-combinatorics/binomial-types.lagda.md
  src/univalent-combinatorics/decidable-subtypes.lagda.md
Labels: univalent-combinatorics, 100-theorems

#1215 chore: Replace strange whitespace
  scripts/markdown_conventions.py
  src/elementary-number-theory/fundamental-theorem-of-arithmetic.lagda.md
  src/elementary-number-theory/prime-numbers.lagda.md
  src/finite-algebra/commutative-finite-rings.lagda.md
  src/finite-group-theory/transpositions-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions.lagda.md
  src/foundation/coproduct-decompositions-subuniverse.lagda.md
  src/foundation/coproduct-decompositions.lagda.md
  src/foundation/iterated-cartesian-product-types.lagda.md
  src/lists/functoriality-lists.lagda.md
  src/lists/permutation-lists.lagda.md
  src/lists/permutation-vectors.lagda.md
  src/lists/quicksort-lists.lagda.md
  src/lists/sort-by-insertion-vectors.lagda.md
  src/order-theory/decidable-preorders.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
Labels: CI, pre-commit

#1217 chore: some fixes to links
  CONTRIBUTORS.toml
  HOME.md
  README.md
  references.bib
  src/elementary-number-theory/greatest-common-divisor-natural-numbers.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
  src/literature/100-theorems.lagda.md
Labels: website, fix

#1218 Adding an acknowledgement
  GRANT-ACKNOWLEDGEMENTS.md
Labels: website
