Repository UniMath/agda-unimath, pull requests merged in 2024-09, with the labels that each got.

#1172 Some definitions about precategories
  src/category-theory/copresheaf-categories.lagda.md
  src/category-theory/functors-precategories.lagda.md
  src/category-theory/precategory-of-functors.lagda.md
  src/category-theory/representable-functors-precategories.lagda.md
Labels: category-theory

#1171 Cisinski's Formalization of Higher Categories
  CITING-SOURCES.md
  references.bib
  src/structured-types/globular-types.lagda.md
  src/structured-types/large-globular-types.lagda.md
  src/synthetic-category-theory.lagda.md
  src/synthetic-category-theory/synthetic-categories.lagda.md
Labels: synthetic-category-theory

#1173 fix typo in binary-relations.lagda.md
  src/foundation/binary-relations.lagda.md
Labels: foundation, typo

#1176 Some infrastructure for dependent globular types
  src/structured-types.lagda.md
  src/structured-types/dependent-globular-types.lagda.md
  src/structured-types/dependent-reflexive-globular-types.lagda.md
  src/structured-types/globular-types.lagda.md
  src/structured-types/maps-globular-types.lagda.md
  src/structured-types/reflexive-globular-types.lagda.md
  src/synthetic-category-theory.lagda.md
  src/synthetic-category-theory/synthetic-categories.lagda.md
Labels: structured-types

#1174 Initial and terminal copresheaves
  src/category-theory/copresheaf-categories.lagda.md
  src/foundation/empty-types.lagda.md
Labels: category-theory

#1078 Basic properties of the flat modality
  references.bib
  src/modal-type-theory.lagda.md
  src/modal-type-theory/action-on-homotopies-flat-modality.lagda.md
  src/modal-type-theory/action-on-identifications-crisp-functions.lagda.md
  src/modal-type-theory/action-on-identifications-flat-modality.lagda.md
  src/modal-type-theory/crisp-cartesian-product-types.lagda.md
  src/modal-type-theory/crisp-coproduct-types.lagda.md
  src/modal-type-theory/crisp-dependent-function-types.lagda.md
  src/modal-type-theory/crisp-dependent-pair-types.lagda.md
  src/modal-type-theory/crisp-function-types.lagda.md
  src/modal-type-theory/crisp-identity-types.lagda.md
  src/modal-type-theory/crisp-law-of-excluded-middle.lagda.md
  src/modal-type-theory/crisp-pullbacks.lagda.md
  src/modal-type-theory/crisp-types.lagda.md
  src/modal-type-theory/dependent-universal-property-flat-discrete-crisp-types.lagda.md
  src/modal-type-theory/flat-dependent-function-types.lagda.md
  src/modal-type-theory/flat-dependent-pair-types.lagda.md
  src/modal-type-theory/flat-discrete-crisp-types.lagda.md
  src/modal-type-theory/flat-discrete-types.lagda.md
  src/modal-type-theory/flat-modality.lagda.md
  src/modal-type-theory/flat-sharp-adjunction.lagda.md
  src/modal-type-theory/functoriality-flat-modality.lagda.md
  src/modal-type-theory/functoriality-sharp-modality.lagda.md
  src/modal-type-theory/sharp-codiscrete-maps.lagda.md
  src/modal-type-theory/sharp-codiscrete-types.lagda.md
  src/modal-type-theory/sharp-modality.lagda.md
  src/modal-type-theory/transport-along-crisp-identifications.lagda.md
  src/modal-type-theory/universal-property-flat-discrete-crisp-types.lagda.md
Labels: modal-type-theory

#1089 Colocal types
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-empty-type.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/types-colocal-at-maps.lagda.md
Labels: orthogonal-factorization-systems, low-priority

#1179 Define the noncoherent wild precategory of pointed types
  src/foundation/function-types.lagda.md
  src/structured-types.lagda.md
  src/structured-types/pointed-homotopies.lagda.md
  src/structured-types/wild-category-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/functoriality-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/maps-of-prespectra.lagda.md
  src/wild-category-theory.lagda.md
  tables/wild-categories.md
Labels: structured-types, wild-category-theory

#1180 Feature additions – unused imports
  .vscode/tasks.json
  scripts/remove_unused_imports.py
  scripts/utils/__init__.py
Labels: enhancement, CI

#1184 Some closure properties of decidable maps and embeddings
  src/foundation-core/empty-types.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation/decidable-embeddings.lagda.md
  src/foundation/decidable-maps.lagda.md
  src/foundation/decidable-propositions.lagda.md
  src/foundation/decidable-subtypes.lagda.md
  src/foundation/decidable-types.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/equality-coproduct-types.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/foundation/propositions.lagda.md
  src/univalent-combinatorics/binomial-types.lagda.md
  src/univalent-combinatorics/embeddings.lagda.md
Labels: foundation

#1185 Cantor's theorem and diagonal argument
  references.bib
  src/elementary-number-theory/divisibility-integers.lagda.md
  src/elementary-number-theory/divisibility-natural-numbers.lagda.md
  src/elementary-number-theory/equality-natural-numbers.lagda.md
  src/foundation-core/decidable-propositions.lagda.md
  src/foundation-core/discrete-types.lagda.md
  src/foundation-core/negation.lagda.md
  src/foundation-core/subtypes.lagda.md
  src/foundation-core/type-theoretic-principle-of-choice.lagda.md
  src/foundation.lagda.md
  src/foundation/booleans.lagda.md
  src/foundation/cantors-diagonal-argument.lagda.md
  src/foundation/cantors-theorem.lagda.md
  src/foundation/decidable-equality.lagda.md
  src/foundation/decidable-propositions.lagda.md
  src/foundation/decidable-types.lagda.md
  src/foundation/discrete-types.lagda.md
  src/foundation/equivalences-maybe.lagda.md
  src/foundation/existential-quantification.lagda.md
  src/foundation/lawveres-fixed-point-theorem.lagda.md
  src/foundation/logical-equivalences.lagda.md
  src/foundation/maybe.lagda.md
  src/foundation/negation.lagda.md
  src/foundation/powersets.lagda.md
  src/foundation/set-quotients.lagda.md
  src/foundation/split-surjective-maps.lagda.md
  src/foundation/subtypes.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/type-theoretic-principle-of-choice.lagda.md
  src/foundation/universal-property-maybe.lagda.md
  src/set-theory.lagda.md
  src/set-theory/baire-space.lagda.md
  src/set-theory/cantor-space.lagda.md
  src/set-theory/cantors-diagonal-argument.lagda.md
  src/set-theory/cardinalities.lagda.md
  src/set-theory/countable-sets.lagda.md
  src/set-theory/cumulative-hierarchy.lagda.md
  src/set-theory/infinite-sets.lagda.md
  src/set-theory/uncountable-sets.lagda.md
  src/univalent-combinatorics/decidable-equivalence-relations.lagda.md
  src/univalent-combinatorics/maybe.lagda.md
Labels: set-theory, fix, foundation

#1186 Some typos, wording improvements, and brief prose additions
  scripts/fix_imports.py
  src/category-theory.lagda.md
  src/commutative-algebra.lagda.md
  src/elementary-number-theory.lagda.md
  src/finite-algebra.lagda.md
  src/finite-group-theory.lagda.md
  src/foundation-core.lagda.md
  src/foundation.lagda.md
  src/foundation/telescopes.lagda.md
  src/graph-theory.lagda.md
  src/group-theory.lagda.md
  src/higher-group-theory.lagda.md
  src/linear-algebra.lagda.md
  src/lists.lagda.md
  src/modal-type-theory.lagda.md
  src/modal-type-theory/action-on-homotopies-flat-modality.lagda.md
  src/modal-type-theory/action-on-identifications-crisp-functions.lagda.md
  src/modal-type-theory/action-on-identifications-flat-modality.lagda.md
  src/modal-type-theory/crisp-dependent-pair-types.lagda.md
  src/modal-type-theory/crisp-law-of-excluded-middle.lagda.md
  src/modal-type-theory/crisp-types.lagda.md
  src/modal-type-theory/flat-discrete-crisp-types.lagda.md
  src/modal-type-theory/flat-modality.lagda.md
  src/modal-type-theory/flat-sharp-adjunction.lagda.md
  src/modal-type-theory/functoriality-flat-modality.lagda.md
  src/modal-type-theory/sharp-codiscrete-types.lagda.md
  src/modal-type-theory/sharp-modality.lagda.md
  src/modal-type-theory/universal-property-flat-discrete-crisp-types.lagda.md
  src/online-encyclopedia-of-integer-sequences.lagda.md
  src/order-theory.lagda.md
  src/order-theory/large-suplattices.lagda.md
  src/order-theory/precategory-of-decidable-total-orders.lagda.md
  src/order-theory/precategory-of-posets.lagda.md
  src/order-theory/precategory-of-total-orders.lagda.md
  src/organic-chemistry.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/polytopes.lagda.md
  src/primitives.lagda.md
  src/real-numbers.lagda.md
  src/reflection.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/precategory-of-rings.lagda.md
  src/set-theory.lagda.md
  src/species.lagda.md
  src/structured-types.lagda.md
  src/structured-types/wild-category-of-pointed-types.lagda.md
  src/synthetic-category-theory.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
  src/type-theories.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/dedekind-finite-sets.lagda.md
  src/univalent-combinatorics/kuratowski-finite-sets.lagda.md
  src/universal-algebra.lagda.md
  src/wild-category-theory.lagda.md
Labels: documentation, typo, modal-type-theory

#1183 Pullbacks of synthetic categories
  src/synthetic-category-theory.lagda.md
  src/synthetic-category-theory/cone-diagrams-synthetic-categories.lagda.md
  src/synthetic-category-theory/cospans-synthetic-categories.lagda.md
  src/synthetic-category-theory/equivalence-of-synthetic-categories.lagda.md
  src/synthetic-category-theory/equivalences-synthetic-categories.lagda.md
  src/synthetic-category-theory/invertible-functors-synthetic-categories.lagda.md
  src/synthetic-category-theory/pullbacks-synthetic-categories.lagda.md
  src/synthetic-category-theory/retractions-synthetic-categories.lagda.md
  src/synthetic-category-theory/sections-synthetic-categories.lagda.md
  src/synthetic-category-theory/synthetic-categories.lagda.md
Labels: synthetic-category-theory

#1162 Metric spaces
  references.bib
  src/elementary-number-theory/inequality-integer-fractions.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/maximum-natural-numbers.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/foundation-core/univalence.lagda.md
  src/foundation/binary-relations.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/category-of-metric-spaces-and-isometries.lagda.md
  src/metric-spaces/category-of-metric-spaces-and-short-functions.lagda.md
  src/metric-spaces/cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/cauchy-approximations-premetric-spaces.lagda.md
  src/metric-spaces/closed-premetric-structures.lagda.md
  src/metric-spaces/complete-metric-spaces.lagda.md
  src/metric-spaces/convergent-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/dependent-products-metric-spaces.lagda.md
  src/metric-spaces/discrete-premetric-structures.lagda.md
  src/metric-spaces/equality-of-metric-spaces.lagda.md
  src/metric-spaces/equality-of-premetric-spaces.lagda.md
  src/metric-spaces/extensional-premetric-structures.lagda.md
  src/metric-spaces/functions-metric-spaces.lagda.md
  src/metric-spaces/functor-category-set-functions-isometry-metric-spaces.lagda.md
  src/metric-spaces/functor-category-short-isometry-metric-spaces.lagda.md
  src/metric-spaces/induced-premetric-structures-on-preimages.lagda.md
  src/metric-spaces/isometric-equivalences-premetric-spaces.lagda.md
  src/metric-spaces/isometries-metric-spaces.lagda.md
  src/metric-spaces/isometries-premetric-spaces.lagda.md
  src/metric-spaces/limits-of-cauchy-approximations-in-premetric-spaces.lagda.md
  src/metric-spaces/metric-space-of-cauchy-approximations-in-a-metric-space.lagda.md
  src/metric-spaces/metric-space-of-convergent-cauchy-approximations-in-a-metric-space.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers-with-open-neighborhoods.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
  src/metric-spaces/metric-spaces.lagda.md
  src/metric-spaces/metric-structures.lagda.md
  src/metric-spaces/monotonic-premetric-structures.lagda.md
  src/metric-spaces/ordering-premetric-structures.lagda.md
  src/metric-spaces/precategory-of-metric-spaces-and-functions.lagda.md
  src/metric-spaces/precategory-of-metric-spaces-and-isometries.lagda.md
  src/metric-spaces/precategory-of-metric-spaces-and-short-functions.lagda.md
  src/metric-spaces/premetric-spaces.lagda.md
  src/metric-spaces/premetric-structures.lagda.md
  src/metric-spaces/pseudometric-spaces.lagda.md
  src/metric-spaces/pseudometric-structures.lagda.md
  src/metric-spaces/reflexive-premetric-structures.lagda.md
  src/metric-spaces/saturated-metric-spaces.lagda.md
  src/metric-spaces/short-functions-metric-spaces.lagda.md
  src/metric-spaces/short-functions-premetric-spaces.lagda.md
  src/metric-spaces/subspaces-metric-spaces.lagda.md
  src/metric-spaces/symmetric-premetric-structures.lagda.md
  src/metric-spaces/triangular-premetric-structures.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  tables/categories.md
  tables/metric-spaces.md
  tables/precategories.md
Labels: elementary-number-theory, real-numbers, metric-spaces
