Repository UniMath/agda-unimath, pull requests merged in 2024-08, with the labels that each got.

#1136 Define null-homotopic maps
  src/foundation.lagda.md
  src/foundation/homotopy-induction.lagda.md
  src/foundation/null-homotopic-maps.lagda.md
  src/foundation/type-arithmetic-dependent-pair-types.lagda.md
  src/foundation/universal-property-empty-type.lagda.md
Labels: foundation

#1142 Horizontal fiber condition for pullbacks
  src/foundation-core/pullbacks.lagda.md
  src/foundation/cartesian-morphisms-arrows.lagda.md
  src/foundation/dependent-sums-pullbacks.lagda.md
  src/foundation/functoriality-fibers-of-maps.lagda.md
Labels: foundation

#1163 Maps in subuniverses
  src/foundation.lagda.md
  src/foundation/cartesian-morphisms-arrows.lagda.md
  src/foundation/global-subuniverses.lagda.md
  src/foundation/maps-in-global-subuniverses.lagda.md
  src/foundation/maps-in-subuniverses.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/subuniverses.lagda.md
Labels: foundation

#1160 Literature – Idempotents in Intensional Type Theory
  references.bib
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation-core/sets.lagda.md
  src/foundation.lagda.md
  src/foundation/coherently-idempotent-maps.lagda.md
  src/foundation/quasicoherently-idempotent-maps.lagda.md
  src/foundation/retracts-of-types.lagda.md
  src/literature.lagda.md
  src/literature/idempotents-in-intensional-type-theory.lagda.md
Labels: documentation, foundation

#1166 Cleanup of finite types
  references.bib
  src/finite-group-theory/finite-groups.lagda.md
  src/finite-group-theory/finite-monoids.lagda.md
  src/finite-group-theory/finite-semigroups.lagda.md
  src/foundation/0-connected-types.lagda.md
  src/foundation/0-images-of-maps.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/null-homotopic-maps.lagda.md
  src/foundation/set-presented-types.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/dedekind-finite-sets.lagda.md
  src/univalent-combinatorics/finite-connected-components.lagda.md
  src/univalent-combinatorics/finite-types.lagda.md
  src/univalent-combinatorics/finitely-many-connected-components.lagda.md
  src/univalent-combinatorics/finitely-presented-types.lagda.md
  src/univalent-combinatorics/kuratowski-finite-sets.lagda.md
  src/univalent-combinatorics/kuratowsky-finite-sets.lagda.md
  src/univalent-combinatorics/locally-finite-types.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
Labels: cleanup, foundation, univalent-combinatorics

#1169 Fermat numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/fermat-numbers.lagda.md
  src/elementary-number-theory/strong-induction-natural-numbers.lagda.md
  src/online-encyclopedia-of-integer-sequences/oeis.lagda.md
Labels: elementary-number-theory, oeis
