Repository UniMath/agda-unimath, pull requests merged in 2024-11, with the labels that each got.

#1219 Strict inequality in standard finite types
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/strict-inequality-standard-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: elementary-number-theory, univalent-combinatorics

#1157 Continuation modalities and Lawvere–Tierney topologies
  references.bib
  src/foundation.lagda.md
  src/foundation/continuations.lagda.md
  src/foundation/double-negation-modality.lagda.md
  src/foundation/raising-universe-levels.lagda.md
  src/foundation/unit-type.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/continuation-modalities.lagda.md
  src/orthogonal-factorization-systems/large-lawvere-tierney-topologies.lagda.md
  src/orthogonal-factorization-systems/lawvere-tierney-topologies.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
  tables/higher-modalities.md
Labels: foundation, orthogonal-factorization-systems

#1167 Some results about path-cosplit maps
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation.lagda.md
  src/foundation/equality-coproduct-types.lagda.md
  src/foundation/equivalences-arrows.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/exclusive-disjunction.lagda.md
  src/foundation/functoriality-action-on-identifications-functions.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/maybe.lagda.md
  src/foundation/mere-path-cosplit-maps.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/path-cosplit-maps.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/foundation/truncation-levels.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
  src/univalent-combinatorics/skipping-element-standard-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: foundation

#1221 Incidence algebras
  src/order-theory.lagda.md
  src/order-theory/incidence-algebras.lagda.md
  src/order-theory/interval-subposets.lagda.md
Labels: commutative-algebra, order-theory

#1223 chore: Moving files about globular types to a new namespace
  DESIGN-PRINCIPLES.md
  src/foundation/wild-category-of-types.lagda.md
  src/globular-types.lagda.md
  src/globular-types/dependent-globular-types.lagda.md
  src/globular-types/dependent-reflexive-globular-types.lagda.md
  src/globular-types/equality-globular-types.lagda.md
  src/globular-types/globular-equivalences.lagda.md
  src/globular-types/globular-maps.lagda.md
  src/globular-types/globular-types.lagda.md
  src/globular-types/large-globular-maps.lagda.md
  src/globular-types/large-globular-types.lagda.md
  src/globular-types/large-reflexive-globular-types.lagda.md
  src/globular-types/large-symmetric-globular-types.lagda.md
  src/globular-types/large-transitive-globular-types.lagda.md
  src/globular-types/reflexive-globular-types.lagda.md
  src/globular-types/symmetric-globular-types.lagda.md
  src/globular-types/transitive-globular-types.lagda.md
  src/structured-types.lagda.md
  src/structured-types/wild-category-of-pointed-types.lagda.md
  src/synthetic-category-theory/cone-diagrams-synthetic-categories.lagda.md
  src/synthetic-category-theory/cospans-synthetic-categories.lagda.md
  src/synthetic-category-theory/equivalences-synthetic-categories.lagda.md
  src/synthetic-category-theory/invertible-functors-synthetic-categories.lagda.md
  src/synthetic-category-theory/pullbacks-synthetic-categories.lagda.md
  src/synthetic-category-theory/retractions-synthetic-categories.lagda.md
  src/synthetic-category-theory/sections-synthetic-categories.lagda.md
  src/synthetic-category-theory/synthetic-categories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-wild-higher-precategories.lagda.md
Labels: globular-types

#1224 Fix building the website when a file has only chore commits
  scripts/preprocessor_git_metadata.py
Labels: CI, website, fix

#1188 Renamings and rewordings OFS
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation-core/propositions.lagda.md
  src/foundation-core/truncated-types.lagda.md
  src/foundation.lagda.md
  src/foundation/continuations.lagda.md
  src/foundation/contractible-types.lagda.md
  src/foundation/double-negation-modality.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/global-subuniverses.lagda.md
  src/foundation/inhabited-types.lagda.md
  src/foundation/precomposition-dependent-functions.lagda.md
  src/foundation/precomposition-functions.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/separated-types-subuniverses.lagda.md
  src/foundation/universal-property-dependent-pair-types.lagda.md
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/continuation-modalities.lagda.md
  src/orthogonal-factorization-systems/extensions-of-maps.lagda.md
  src/orthogonal-factorization-systems/families-of-types-local-at-maps.lagda.md
  src/orthogonal-factorization-systems/fiberwise-orthogonal-maps.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/orthogonal-factorization-systems/identity-modality.lagda.md
  src/orthogonal-factorization-systems/localizations-at-maps.lagda.md
  src/orthogonal-factorization-systems/localizations-at-subuniverses.lagda.md
  src/orthogonal-factorization-systems/maps-local-at-maps.lagda.md
  src/orthogonal-factorization-systems/null-maps.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
  src/orthogonal-factorization-systems/orthogonal-maps.lagda.md
  src/orthogonal-factorization-systems/raise-modalities.lagda.md
  src/orthogonal-factorization-systems/reflective-modalities.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
  src/orthogonal-factorization-systems/sigma-closed-modalities.lagda.md
  src/orthogonal-factorization-systems/types-colocal-at-maps.lagda.md
  src/orthogonal-factorization-systems/types-local-at-maps.lagda.md
  src/orthogonal-factorization-systems/types-separated-at-maps.lagda.md
  src/orthogonal-factorization-systems/uniquely-eliminating-modalities.lagda.md
  src/orthogonal-factorization-systems/zero-modality.lagda.md
Labels: foundation, orthogonal-factorization-systems, improve naming

#1222 Correcting an incorrect definition of discrete relations and discrete graphs
  src/foundation-core/torsorial-type-families.lagda.md
  src/foundation.lagda.md
  src/foundation/discrete-binary-relations.lagda.md
  src/foundation/discrete-reflexive-relations.lagda.md
  src/foundation/functional-correspondences.lagda.md
  src/foundation/torsorial-type-families.lagda.md
  src/graph-theory.lagda.md
  src/graph-theory/discrete-directed-graphs.lagda.md
  src/graph-theory/discrete-graphs.lagda.md
  src/graph-theory/discrete-reflexive-graphs.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
Labels: foundation, graph-theory
