Repository UniMath/agda-unimath, pull requests merged in 2024-03, with the labels that each got.

#1046 Self-host GoatCounter script
  book.toml
  theme/index.hbs
  website/js/goatcounter.js
Labels: website

#1047 chore: Fix markdown list formatting
  FILE-CONVENTIONS.md
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/conservative-functors-precategories.lagda.md
  src/category-theory/replete-subprecategories.lagda.md
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation-core/functoriality-dependent-pair-types.lagda.md
  src/foundation/equality-dependent-function-types.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/foundation/inhabited-types.lagda.md
  src/foundation/type-arithmetic-cartesian-product-types.lagda.md
  src/foundation/type-arithmetic-coproduct-types.lagda.md
  src/foundation/type-arithmetic-dependent-function-types.lagda.md
  src/foundation/type-arithmetic-dependent-pair-types.lagda.md
  src/structured-types/central-h-spaces.lagda.md
  src/structured-types/pointed-types.lagda.md
  src/synthetic-homotopy-theory/1-acyclic-types.lagda.md
Labels: cleanup, website, fix

#1051 Add initial heap size for Agda
  Makefile
Labels: enhancement, repo-maintenance

#1057 Disable navigation buttons
  theme/index.hbs
Labels: website

#1054 Associativity of pullbacks
  src/foundation-core/pullbacks.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/standard-pullbacks.lagda.md
  src/foundation/universal-property-pullbacks.lagda.md
  src/orthogonal-factorization-systems/orthogonal-maps.lagda.md
  src/synthetic-homotopy-theory/universal-property-pushouts.lagda.md
Labels: foundation

#1064 Add NodeJS to the devshell
  flake.nix
Labels: fix, tooling

#1066 Fail the website build on unparsed concept macro invocations
  scripts/preprocessor_concepts.py
  src/foundation-core/identity-types.lagda.md
  src/foundation/whiskering-higher-homotopies-composition.lagda.md
Labels: CI, fix

#1056 Refactoring pointed types
  src/foundation-core/commuting-squares-of-homotopies.lagda.md
  src/foundation-core/constant-maps.lagda.md
  src/foundation-core/homotopies.lagda.md
  src/foundation-core/identity-types.lagda.md
  src/foundation/commuting-triangles-of-identifications.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/higher-homotopies-morphisms-arrows.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/morphisms-twisted-arrows.lagda.md
  src/foundation/precomposition-functions.lagda.md
  src/foundation/spans.lagda.md
  src/foundation/whiskering-higher-homotopies-composition.lagda.md
  src/higher-group-theory/equivalences-higher-groups.lagda.md
  src/higher-group-theory/homomorphisms-higher-groups.lagda.md
  src/structured-types.lagda.md
  src/structured-types/commuting-squares-of-pointed-homotopies.lagda.md
  src/structured-types/commuting-squares-of-pointed-maps.lagda.md
  src/structured-types/commuting-triangles-of-pointed-maps.lagda.md
  src/structured-types/conjugation-pointed-types.lagda.md
  src/structured-types/constant-maps-pointed-types.lagda.md
  src/structured-types/constant-pointed-maps.lagda.md
  src/structured-types/equivalences-pointed-arrows.lagda.md
  src/structured-types/h-spaces.lagda.md
  src/structured-types/involutive-type-of-h-space-structures.lagda.md
  src/structured-types/morphisms-pointed-arrows.lagda.md
  src/structured-types/morphisms-twisted-pointed-arrows.lagda.md
  src/structured-types/opposite-pointed-spans.lagda.md
  src/structured-types/pointed-2-homotopies.lagda.md
  src/structured-types/pointed-equivalences.lagda.md
  src/structured-types/pointed-homotopies.lagda.md
  src/structured-types/pointed-isomorphisms.lagda.md
  src/structured-types/pointed-maps.lagda.md
  src/structured-types/pointed-retractions.lagda.md
  src/structured-types/pointed-sections.lagda.md
  src/structured-types/pointed-span-diagrams.lagda.md
  src/structured-types/pointed-spans.lagda.md
  src/structured-types/postcomposition-pointed-maps.lagda.md
  src/structured-types/precomposition-pointed-maps.lagda.md
  src/structured-types/transposition-pointed-span-diagrams.lagda.md
  src/structured-types/uniform-pointed-homotopies.lagda.md
  src/structured-types/universal-property-pointed-equivalences.lagda.md
  src/structured-types/whiskering-pointed-2-homotopies-concatenation.lagda.md
  src/structured-types/whiskering-pointed-homotopies-composition.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cavallos-trick.lagda.md
  src/synthetic-homotopy-theory/cocones-under-pointed-span-diagrams.lagda.md
  src/synthetic-homotopy-theory/conjugation-loops.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
  src/synthetic-homotopy-theory/functoriality-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/multiplication-circle.lagda.md
  src/synthetic-homotopy-theory/null-cocones-under-pointed-span-diagrams.lagda.md
  src/synthetic-homotopy-theory/pushouts-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/smash-products-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/spectra.lagda.md
  src/synthetic-homotopy-theory/wedges-of-pointed-types.lagda.md
Labels: structured-types, refactoring

#1074 Escape Agda definitions when translating them to regex
  scripts/preprocessor_concepts.py
Labels: CI, website, fix

#1065 Move torsoriality of the identity type to `foundation-core.torsorial-type-families`
  src/category-theory/groupoids.lagda.md
  src/category-theory/slice-precategories.lagda.md
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/torsorial-type-families.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/equality-dependent-function-types.lagda.md
  src/foundation/families-of-maps.lagda.md
  src/foundation/logical-equivalences.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/russells-paradox.lagda.md
  src/foundation/sections.lagda.md
  src/foundation/singleton-subtypes.lagda.md
  src/foundation/type-duality.lagda.md
  src/foundation/universal-property-identity-types.lagda.md
  src/foundation/universal-property-truncation.lagda.md
  src/foundation/weak-function-extensionality.lagda.md
  src/graph-theory/fibers-directed-graphs.lagda.md
  src/orthogonal-factorization-systems/closed-modalities.lagda.md
  src/structured-types/pointed-universal-property-contractible-types.lagda.md
  src/synthetic-homotopy-theory/codiagonals-of-maps.lagda.md
  src/synthetic-homotopy-theory/suspension-structures.lagda.md
  src/synthetic-homotopy-theory/truncated-acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/universal-property-suspensions-of-pointed-types.lagda.md
  src/trees/fibers-enriched-directed-trees.lagda.md
  src/univalent-combinatorics/2-element-subtypes.lagda.md
  src/univalent-combinatorics/cartesian-product-types.lagda.md
  src/univalent-combinatorics/counting-dependent-pair-types.lagda.md
  src/univalent-combinatorics/dependent-pair-types.lagda.md
  src/univalent-combinatorics/fibers-of-maps.lagda.md
Labels: foundation

#1083 chore: fix some typos in the library
  MIXFIX-OPERATORS.md
  src/foundation/injective-maps.lagda.md
  src/foundation/noncontractible-types.lagda.md
  src/linear-algebra/functoriality-matrices.lagda.md
  src/linear-algebra/functoriality-vectors.lagda.md
  src/linear-algebra/vectors-on-commutative-rings.lagda.md
  src/linear-algebra/vectors-on-commutative-semirings.lagda.md
  src/ring-theory/algebras-rings.lagda.md
  src/structured-types/noncoherent-h-spaces.lagda.md
Labels: fix

#1082 Families over telescopes
  src/foundation.lagda.md
  src/foundation/families-over-telescopes.lagda.md
  src/foundation/telescopes.lagda.md
Labels: foundation

#1085 Janitorial work on equivalences and embeddings
  src/elementary-number-theory/powers-of-two.lagda.md
  src/foundation-core.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation-core/invertible-maps.lagda.md
  src/foundation-core/postcomposition-dependent-functions.lagda.md
  src/foundation-core/postcomposition-functions.lagda.md
  src/foundation-core/retractions.lagda.md
  src/foundation-core/transport-along-identifications.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/mere-embeddings.lagda.md
  src/foundation/postcomposition-dependent-functions.lagda.md
  src/foundation/postcomposition-functions.lagda.md
  src/foundation/products-pullbacks.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/retracts-of-types.lagda.md
  src/orthogonal-factorization-systems/reflective-subuniverses.lagda.md
Labels: foundation

#1084 Globular types
  src/structured-types.lagda.md
  src/structured-types/globular-types.lagda.md
  src/structured-types/large-globular-types.lagda.md
  src/structured-types/large-reflexive-globular-types.lagda.md
  src/structured-types/large-symmetric-globular-types.lagda.md
  src/structured-types/large-transitive-globular-types.lagda.md
  src/structured-types/magmas.lagda.md
  src/structured-types/reflexive-globular-types.lagda.md
  src/structured-types/symmetric-globular-types.lagda.md
  src/structured-types/transitive-globular-types.lagda.md
Labels: structured-types

#1086 chore: Janitorial work in foundation
  src/foundation-core/coherently-invertible-maps.lagda.md
  src/foundation-core/functoriality-dependent-function-types.lagda.md
  src/foundation/action-on-equivalences-functions.lagda.md
  src/foundation/diagonals-of-maps.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/transport-along-equivalences.lagda.md
  src/foundation/universal-property-family-of-fibers-of-maps.lagda.md
  src/orthogonal-factorization-systems/global-function-classes.lagda.md
  src/orthogonal-factorization-systems/lifting-structures-on-squares.lagda.md
Labels: foundation

#1087 Additions to cartesian morphisms
  src/foundation-core/pullbacks.lagda.md
  src/foundation-core/universal-property-pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/cartesian-morphisms-arrows.lagda.md
  src/foundation/commuting-triangles-of-morphisms-arrows.lagda.md
  src/foundation/cones-over-cospan-diagrams.lagda.md
  src/foundation/equivalences-arrows.lagda.md
  src/foundation/function-extensionality.lagda.md
  src/foundation/functoriality-cartesian-product-types.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/foundation/functoriality-dependent-pair-types.lagda.md
  src/foundation/homotopies-morphisms-arrows.lagda.md
  src/foundation/morphisms-arrows.lagda.md
  src/foundation/retracts-of-maps.lagda.md
  src/foundation/retracts-of-types.lagda.md
  src/foundation/universal-property-pullbacks.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/synthetic-homotopy-theory/cocartesian-morphisms-arrows.lagda.md
Labels: foundation

#1093 Enhancements for the Concepts macro
  scripts/preprocessor_concepts.py
  src/graph-theory/acyclic-undirected-graphs.lagda.md
  src/graph-theory/circuits-undirected-graphs.lagda.md
  src/graph-theory/closed-walks-undirected-graphs.lagda.md
  src/graph-theory/complete-bipartite-graphs.lagda.md
  src/graph-theory/complete-multipartite-graphs.lagda.md
  src/graph-theory/complete-undirected-graphs.lagda.md
  src/graph-theory/cycles-undirected-graphs.lagda.md
  src/graph-theory/directed-graph-structures-on-standard-finite-sets.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
Labels: enhancement, CI, fix, pre-commit

#1079 Deloopings and Eilenberg-Mac Lane spaces
  src/foundation-core/small-types.lagda.md
  src/group-theory/groups.lagda.md
  src/group-theory/wild-representations-monoids.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/deloopable-groups.lagda.md
  src/higher-group-theory/deloopable-h-spaces.lagda.md
  src/higher-group-theory/deloopable-types.lagda.md
  src/higher-group-theory/eilenberg-mac-lane-spaces.lagda.md
  src/higher-group-theory/equivalences-higher-groups.lagda.md
  src/higher-group-theory/higher-groups.lagda.md
  src/higher-group-theory/iterated-deloopings-of-pointed-types.lagda.md
  src/higher-group-theory/small-higher-groups.lagda.md
  src/lists/universal-property-lists-wild-monoids.lagda.md
  src/structured-types.lagda.md
  src/structured-types/equivalences-h-spaces.lagda.md
  src/structured-types/h-spaces.lagda.md
  src/structured-types/morphisms-h-spaces.lagda.md
  src/structured-types/morphisms-wild-monoids.lagda.md
  src/structured-types/pointed-equivalences.lagda.md
  src/structured-types/small-pointed-types.lagda.md
  src/synthetic-homotopy-theory/iterated-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/loop-spaces.lagda.md
Labels: synthetic-homotopy-theory, higher-group-theory, structured-types

#1091 Some notions of graphs
  src/graph-theory.lagda.md
  src/graph-theory/displayed-large-reflexive-graphs.lagda.md
  src/graph-theory/higher-directed-graphs.lagda.md
  src/graph-theory/large-higher-directed-graphs.lagda.md
  src/graph-theory/large-reflexive-graphs.lagda.md
  src/graph-theory/morphisms-directed-graphs.lagda.md
  src/graph-theory/reflexive-graphs.lagda.md
  src/graph-theory/wide-displayed-large-reflexive-graphs.lagda.md
Labels: graph-theory

#1059 Refactoring positive integers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/absolute-value-integers.lagda.md
  src/elementary-number-theory/addition-integer-fractions.lagda.md
  src/elementary-number-theory/addition-integers.lagda.md
  src/elementary-number-theory/addition-positive-and-negative-integers.lagda.md
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/bezouts-lemma-integers.lagda.md
  src/elementary-number-theory/bezouts-lemma-natural-numbers.lagda.md
  src/elementary-number-theory/decidable-total-order-integers.lagda.md
  src/elementary-number-theory/decidable-total-order-rational-numbers.lagda.md
  src/elementary-number-theory/distance-integers.lagda.md
  src/elementary-number-theory/divisibility-integers.lagda.md
  src/elementary-number-theory/greatest-common-divisor-integers.lagda.md
  src/elementary-number-theory/inequality-integer-fractions.lagda.md
  src/elementary-number-theory/inequality-integers.lagda.md
  src/elementary-number-theory/inequality-natural-numbers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/integer-fractions.lagda.md
  src/elementary-number-theory/integers.lagda.md
  src/elementary-number-theory/mediant-integer-fractions.lagda.md
  src/elementary-number-theory/modular-arithmetic.lagda.md
  src/elementary-number-theory/multiplication-integer-fractions.lagda.md
  src/elementary-number-theory/multiplication-integers.lagda.md
  src/elementary-number-theory/multiplication-positive-and-negative-integers.lagda.md
  src/elementary-number-theory/multiplication-rational-numbers.lagda.md
  src/elementary-number-theory/negative-integers.lagda.md
  src/elementary-number-theory/nonnegative-integers.lagda.md
  src/elementary-number-theory/nonpositive-integers.lagda.md
  src/elementary-number-theory/nonzero-integers.lagda.md
  src/elementary-number-theory/positive-and-negative-integers.lagda.md
  src/elementary-number-theory/positive-integers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/elementary-number-theory/reduced-integer-fractions.lagda.md
  src/elementary-number-theory/squares-integers.lagda.md
  src/elementary-number-theory/squares-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-integer-fractions.lagda.md
  src/elementary-number-theory/strict-inequality-integers.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
Labels: elementary-number-theory, refactoring

#1101 Fix typo
  src/type-theories/dependent-type-theories.lagda.md
Labels: type-theories, typo
