Repository UniMath/agda-unimath, pull requests merged in 2024-06, with the labels that each got.

#1149 Characterize identity types of dependent sequential diagrams
  src/synthetic-homotopy-theory/equivalences-dependent-sequential-diagrams.lagda.md
Labels: enhancement, synthetic-homotopy-theory, low-priority

#1151 Change equiv-comp to comp-equiv
  src/foundation-core/equivalences.lagda.md
  src/synthetic-homotopy-theory/hatchers-acyclic-type.lagda.md
Labels: foundation, improve naming

#1152 Fiberwise orthogonal maps and closure properties of the right class
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/fiberwise-orthogonal-maps.lagda.md
  src/orthogonal-factorization-systems/orthogonal-maps.lagda.md
Labels: orthogonal-factorization-systems

#1148 Characterization of various families over pushouts
  src/foundation/commuting-triangles-of-maps.lagda.md
  src/foundation/equivalences.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/dependent-cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/descent-data-equivalence-types-over-pushouts.lagda.md
  src/synthetic-homotopy-theory/descent-data-function-types-over-pushouts.lagda.md
  src/synthetic-homotopy-theory/descent-data-identity-types-over-pushouts.lagda.md
  src/synthetic-homotopy-theory/equivalences-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/families-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/sections-descent-data-pushouts.lagda.md
Labels: enhancement, synthetic-homotopy-theory

#1153 Path-cosplit maps
  src/foundation-core/contractible-maps.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation.lagda.md
  src/foundation/inhabited-types.lagda.md
  src/foundation/injective-maps.lagda.md
  src/foundation/mere-path-cosplit-maps.lagda.md
  src/foundation/path-cosplit-maps.lagda.md
  src/foundation/path-split-maps.lagda.md
Labels: foundation

#1144 Overview of SvDR20 formalization
  src/papers.lagda.md
  src/papers/sequential-colimits-in-homotopy-type-theory.lagda.md
Labels: documentation, enhancement, synthetic-homotopy-theory

#1150 Identity systems of descent data for pushouts
  references.bib
  src/foundation/universal-property-identity-types.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/26-id-pushout.lagda.md
  src/synthetic-homotopy-theory/cocones-under-spans.lagda.md
  src/synthetic-homotopy-theory/dependent-universal-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/families-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-pushouts.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-sequential-colimits.lagda.md
  src/synthetic-homotopy-theory/identity-systems-descent-data-pushouts.lagda.md
  src/synthetic-homotopy-theory/pushouts.lagda.md
Labels: enhancement, synthetic-homotopy-theory, refactoring

#1154 Various website improvements
  scripts/generate_agda_css.py
  scripts/generate_main_index_file.py
  src/literature.lagda.md
  src/literature/sequential-colimits-in-homotopy-type-theory.lagda.md
  src/papers.lagda.md
  theme/css/chrome.css
  theme/css/variables.css
Labels: enhancement, website, fix

#1099 Noncoherent wild higher precategories
  src/foundation.lagda.md
  src/foundation/wild-category-of-types.lagda.md
  src/structured-types.lagda.md
  src/structured-types/globular-types.lagda.md
  src/structured-types/large-globular-types.lagda.md
  src/structured-types/large-reflexive-globular-types.lagda.md
  src/structured-types/large-transitive-globular-types.lagda.md
  src/structured-types/maps-globular-types.lagda.md
  src/structured-types/maps-large-globular-types.lagda.md
  src/structured-types/reflexive-globular-types.lagda.md
  src/structured-types/symmetric-globular-types.lagda.md
  src/structured-types/transitive-globular-types.lagda.md
  src/wild-category-theory.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-wild-higher-precategories.lagda.md
Labels: wild-category-theory
