Repository UniMath/agda-unimath, pull requests merged in 2024-02, with the labels that each got.

#1018 Definition of monads on precategories and categories (+ of whiskering and horizontal composition)
  src/category-theory.lagda.md
  src/category-theory/monads-on-categories.lagda.md
  src/category-theory/monads-on-precategories.lagda.md
  src/category-theory/natural-transformations-functors-precategories.lagda.md
Labels: category-theory

#1020 Redefine `equiv-eq` as `equiv-tr id`
  src/foundation-core/univalence.lagda.md
  src/foundation/preunivalent-type-families.lagda.md
  src/foundation/transport-along-identifications.lagda.md
  src/foundation/univalence.lagda.md
  src/foundation/univalent-type-families.lagda.md
  src/synthetic-homotopy-theory/descent-circle.lagda.md
Labels: foundation, computational-behavior

#1022 Deduplicate definitions
  Makefile
  src/finite-algebra.lagda.md
  src/finite-algebra/commutative-finite-rings.lagda.md
  src/finite-algebra/dependent-products-finite-rings.lagda.md
  src/finite-algebra/finite-groups.lagda.md
  src/finite-algebra/finite-monoids.lagda.md
  src/finite-algebra/finite-rings.lagda.md
  src/finite-algebra/finite-semigroups.lagda.md
  src/finite-algebra/products-finite-rings.lagda.md
  src/finite-algebra/semisimple-commutative-finite-rings.lagda.md
  src/finite-group-theory.lagda.md
  src/finite-group-theory/finite-abelian-groups.lagda.md
  src/finite-group-theory/finite-commutative-monoids.lagda.md
  src/finite-group-theory/finite-groups.lagda.md
  src/finite-group-theory/finite-monoids.lagda.md
  src/finite-group-theory/finite-semigroups.lagda.md
  src/foundation/path-algebra.lagda.md
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/groups.lagda.md
  src/group-theory/semigroups.lagda.md
  src/orthogonal-factorization-systems/higher-modalities.lagda.md
  src/orthogonal-factorization-systems/separated-types.lagda.md
  src/reflection/abstractions.lagda.md
  src/reflection/arguments.lagda.md
  src/reflection/definitions.lagda.md
  src/reflection/fixity.lagda.md
  src/reflection/group-solver.lagda.md
  src/reflection/literals.lagda.md
  src/reflection/metavariables.lagda.md
  src/reflection/names.lagda.md
  src/reflection/precategory-solver.lagda.md
  src/reflection/terms.lagda.md
  src/reflection/type-checking-monad.lagda.md
  src/ring-theory/rings.lagda.md
  src/species/hasse-weil-species.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
  src/univalent-combinatorics/inhabited-finite-types.lagda.md
Labels: CI, finite-group-theory, reflection, finite-algebra, refactoring

#1019 Refactor the definition of monads
  src/category-theory.lagda.md
  src/category-theory/monads-on-categories.lagda.md
  src/category-theory/monads-on-precategories.lagda.md
  src/category-theory/natural-transformations-functors-precategories.lagda.md
  src/category-theory/pointed-endofunctors-categories.lagda.md
  src/category-theory/pointed-endofunctors-precategories.lagda.md
Labels: category-theory, refactoring

#1026 Higher computational properties of computational identity types
  src/foundation/action-on-identifications-binary-functions.lagda.md
  src/foundation/computational-identity-types.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/strictly-involutive-identity-types.lagda.md
  src/foundation/yoneda-identity-types.lagda.md
  src/synthetic-homotopy-theory/double-loop-spaces.lagda.md
  src/synthetic-homotopy-theory/eckmann-hilton-argument.lagda.md
  src/synthetic-homotopy-theory/triple-loop-spaces.lagda.md
Labels: foundation, computational-behavior

#1033 Minor modifications to transpositions of identifications along equivalences
  src/foundation/transposition-identifications-along-equivalences.lagda.md
Labels: foundation

#1031 Profile typechecking performance
  .github/workflows/ci.yaml
  .github/workflows/clean-up.yaml
  .github/workflows/pages.yaml
  .github/workflows/profiling.yaml
  .gitignore
  Makefile
  scripts/typechecking_profile_parser.py
  website/benchmarks/index.html
Labels: enhancement, CI, repo-maintenance

#1036 Bugfix profiling workflow - `mkdir temp`
  .github/workflows/profiling.yaml
Labels: bug, CI

#1038 Another fix for the profiling workflow
  .github/workflows/profiling.yaml
Labels: bug, CI

#1039 Another fix to the profiling workflow
  .github/workflows/profiling.yaml
Labels: bug, CI, fix

#1028 Infinitely and finitely coherent equivalences and infinitely and finitely coherently invertible maps
  src/foundation-core/equivalences.lagda.md
  src/foundation.lagda.md
  src/foundation/equivalences.lagda.md
  src/foundation/finitely-coherent-equivalences.lagda.md
  src/foundation/finitely-coherently-invertible-maps.lagda.md
  src/foundation/infinitely-coherent-equivalences.lagda.md
  src/foundation/retractions.lagda.md
  src/foundation/sections.lagda.md
  src/foundation/strictly-right-unital-concatenation-identifications.lagda.md
  src/foundation/transposition-identifications-along-equivalences.lagda.md
  src/foundation/transposition-identifications-along-retractions.lagda.md
  src/foundation/transposition-identifications-along-sections.lagda.md
  src/group-theory/conjugation.lagda.md
Labels: foundation

#1035 Track user analytics for website
  theme/index.hbs
Labels: enhancement, website
