Repository UniMath/agda-unimath, pull requests merged in 2025-02, with the labels that each got.

#1228 Reflective global subuniverses
  src/foundation-core/contractible-types.lagda.md
  src/foundation-core/fibers-of-maps.lagda.md
  src/foundation-core/function-types.lagda.md
  src/foundation.lagda.md
  src/foundation/commuting-squares-of-maps.lagda.md
  src/foundation/composition-algebra.lagda.md
  src/foundation/continuations.lagda.md
  src/foundation/equality-fibers-of-maps.lagda.md
  src/foundation/extensions-types-global-subuniverses.lagda.md
  src/foundation/extensions-types-subuniverses.lagda.md
  src/foundation/extensions-types.lagda.md
  src/foundation/fundamental-theorem-of-identity-types.lagda.md
  src/foundation/global-subuniverses.lagda.md
  src/foundation/maps-in-global-subuniverses.lagda.md
  src/foundation/precomposition-dependent-functions.lagda.md
  src/foundation/precomposition-functions-into-subuniverses.lagda.md
  src/foundation/precomposition-functions.lagda.md
  src/foundation/pullback-cones.lagda.md
  src/foundation/pullbacks.lagda.md
  src/foundation/structure-identity-principle.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/unit-type.lagda.md
  src/foundation/universal-property-equivalences.lagda.md
  src/orthogonal-factorization-systems.lagda.md
  src/orthogonal-factorization-systems/double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-double-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/extensions-maps.lagda.md
  src/orthogonal-factorization-systems/functoriality-localizations-at-global-subuniverses.lagda.md
  src/orthogonal-factorization-systems/functoriality-reflective-global-subuniverses.lagda.md
  src/orthogonal-factorization-systems/lifting-structures-on-squares.lagda.md
  src/orthogonal-factorization-systems/lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/lifts-maps.lagda.md
  src/orthogonal-factorization-systems/localizations-at-global-subuniverses.lagda.md
  src/orthogonal-factorization-systems/null-types.lagda.md
  src/orthogonal-factorization-systems/orthogonal-maps.lagda.md
  src/orthogonal-factorization-systems/pullback-hom.lagda.md
  src/orthogonal-factorization-systems/reflective-global-subuniverses.lagda.md
  src/orthogonal-factorization-systems/types-local-at-maps.lagda.md
  src/orthogonal-factorization-systems/types-separated-at-maps.lagda.md
  src/orthogonal-factorization-systems/universal-property-localizations-at-global-subuniverses.lagda.md
Labels: orthogonal-factorization-systems

#1263 Lossy unification on arithmetically located cuts
  src/real-numbers/arithmetically-located-cuts.lagda.md
Labels: fix, real-numbers

#1266 Subtracting positive rationals is a strictly deflationary map
  src/elementary-number-theory/positive-rational-numbers.lagda.md
Labels: elementary-number-theory

#1261 Archimedean property of `fraction-ℤ`
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/archimedean-property-integer-fractions.lagda.md
Labels: elementary-number-theory

#1265 Inclusion of `ℤ` in `ℚ` preserves addition
  src/elementary-number-theory/addition-rational-numbers.lagda.md
Labels: elementary-number-theory

#1233 Rename wild higher categories
  references.bib
  src/foundation/globular-type-of-dependent-functions.lagda.md
  src/foundation/globular-type-of-functions.lagda.md
  src/foundation/wild-category-of-types.lagda.md
  src/globular-types/reflexive-globular-types.lagda.md
  src/globular-types/transitive-globular-types.lagda.md
  src/structured-types/wild-category-of-pointed-types.lagda.md
  src/wild-category-theory.lagda.md
  src/wild-category-theory/coinductive-isomorphisms-in-noncoherent-large-omega-precategories.lagda.md
  src/wild-category-theory/coinductive-isomorphisms-in-noncoherent-omega-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-large-omega-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-omega-precategories.lagda.md
  src/wild-category-theory/colax-functors-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/isomorphisms-in-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-large-omega-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-omega-precategories.lagda.md
  src/wild-category-theory/maps-noncoherent-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-large-omega-precategories.lagda.md
  src/wild-category-theory/noncoherent-large-wild-higher-precategories.lagda.md
  src/wild-category-theory/noncoherent-omega-precategories.lagda.md
  src/wild-category-theory/noncoherent-wild-higher-precategories.lagda.md
Labels: improve naming, wild-category-theory

#1246 Negation on real numbers
  src/elementary-number-theory/strict-inequality-integer-fractions.lagda.md
  src/elementary-number-theory/strict-inequality-integers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
Labels: real-numbers

#1268 Archimedean property of `ℚ`
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/archimedean-property-rational-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
Labels: elementary-number-theory

#1284 Concatenation laws for strict and nonstrict inequality on the reals
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1292 Rename min and max operations for decidable total orders
  src/order-theory/decidable-total-orders.lagda.md
Labels: order-theory, improve naming

#1297 Riffle shuffles
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/riffle-shuffles.lagda.md
Labels: univalent-combinatorics

#1294 If `q : ℚ` is in the lower cut of a real, `real-ℚ q` is less than that real, and analogously for the upper cut
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1298 Functorial action of existential quantifications, and applications in `real-numbers`
  src/logic.lagda.md
  src/logic/functoriality-existential-quantification.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/arithmetically-located-dedekind-cuts.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
Labels: real-numbers, refactoring, logic

#1288 Relationships between inequality, strict inequality, and their negations on reals
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1295 Similarity of subtypes is reflexive, transitive, and antisymmetric at the same universe level
  src/foundation/powersets.lagda.md
  src/foundation/subtypes.lagda.md
Labels: foundation

#1302 `q : ℚ` is in the lower cut of a real only if real-ℚ q is less than that real, and analogously for the upper cut
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1303 For `x y : ℚ`, `x ≤ y` if and only if `real-ℚ x ≤ real-ℚ y`
  src/real-numbers/inequality-real-numbers.lagda.md
Labels: real-numbers

#1299 Avoid escaped code in headers for min and max
  src/order-theory/decidable-total-orders.lagda.md
Labels: order-theory, refactoring

#1301 Similarity of real numbers
  src/real-numbers.lagda.md
  src/real-numbers/similarity-real-numbers.lagda.md
Labels: real-numbers

#1293 For `x y : ℚ`, `x < y` if and only if `real-ℚ x < real-ℚ y`
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1287 Real numbers are dense
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1304 Negation of rational reals
  src/real-numbers/negation-real-numbers.lagda.md
Labels: real-numbers

#1305 Rational reals are similar to the projection of their rational
  src/real-numbers/similarity-real-numbers.lagda.md
Labels: real-numbers

#1308 Strict preorders
  src/domain-theory/directed-families-posets.lagda.md
  src/foundation/binary-relations.lagda.md
  src/order-theory.lagda.md
  src/order-theory/chains-posets.lagda.md
  src/order-theory/deflationary-maps-posets.lagda.md
  src/order-theory/deflationary-maps-preorders.lagda.md
  src/order-theory/galois-connections.lagda.md
  src/order-theory/homomorphisms-large-suplattices.lagda.md
  src/order-theory/inflationary-maps-posets.lagda.md
  src/order-theory/inflationary-maps-preorders.lagda.md
  src/order-theory/opposite-preorders.lagda.md
  src/order-theory/order-preserving-maps-posets.lagda.md
  src/order-theory/order-preserving-maps-preorders.lagda.md
  src/order-theory/strict-order-preserving-maps.lagda.md
  src/order-theory/strict-preorders.lagda.md
  src/order-theory/strictly-inflationary-maps-strict-preorders.lagda.md
  src/order-theory/strictly-preordered-sets.lagda.md
Labels: order-theory

#1243 Some extensions of the fundamental theorem of identity types
  references.bib
  src/category-theory.lagda.md
  src/category-theory/categories.lagda.md
  src/category-theory/gaunt-categories.lagda.md
  src/category-theory/initial-category.lagda.md
  src/category-theory/opposite-strongly-preunivalent-categories.lagda.md
  src/category-theory/preunivalent-categories.lagda.md
  src/category-theory/strict-categories.lagda.md
  src/category-theory/strongly-preunivalent-categories.lagda.md
  src/category-theory/subterminal-precategories.lagda.md
  src/category-theory/terminal-category.lagda.md
  src/foundation-core/equality-dependent-pair-types.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation.lagda.md
  src/foundation/functoriality-dependent-function-types.lagda.md
  src/foundation/identity-types.lagda.md
  src/foundation/injective-maps.lagda.md
  src/foundation/maps-in-subuniverses.lagda.md
  src/foundation/preunivalence.lagda.md
  src/foundation/preunivalent-type-families.lagda.md
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
  src/foundation/strong-preunivalence.lagda.md
  src/foundation/structure.lagda.md
  src/foundation/structured-equality-duality.lagda.md
  src/foundation/univalent-type-families.lagda.md
  src/foundation/universal-property-identity-types.lagda.md
  src/orthogonal-factorization-systems/lifts-families-of-elements.lagda.md
  src/orthogonal-factorization-systems/precomposition-lifts-families-of-elements.lagda.md
  src/synthetic-homotopy-theory/flattening-lemma-coequalizers.lagda.md
Labels: foundation

#1313 A historical note on the extended fundamental theorem of identity types
  src/foundation/regensburg-extension-fundamental-theorem-of-identity-types.lagda.md
Labels: documentation, foundation

#1309 Minkowski multiplication for semigroups, monoids, and commutative monoids
  src/group-theory.lagda.md
  src/group-theory/minkowski-multiplication-commutative-monoids.lagda.md
  src/group-theory/minkowski-multiplication-monoids.lagda.md
  src/group-theory/minkowski-multiplication-semigroups.lagda.md
  src/group-theory/monoids.lagda.md
Labels: group-theory

#1137 Refactor coproduct equivalences
  src/elementary-number-theory/falling-factorials.lagda.md
  src/foundation/functoriality-coproduct-types.lagda.md
  src/univalent-combinatorics/binomial-types.lagda.md
  src/univalent-combinatorics/cartesian-product-types.lagda.md
  src/univalent-combinatorics/coproduct-types.lagda.md
Labels: foundation, univalent-combinatorics, refactoring

#1315 The Bell numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/bell-numbers.lagda.md
  src/literature/oeis.lagda.md
Labels: elementary-number-theory

#1296 Apartness for real numbers
  src/foundation.lagda.md
  src/foundation/large-apartness-relations.lagda.md
  src/foundation/large-binary-relations.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/apartness-real-numbers.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: real-numbers

#1300 Minimum and maximum are associative
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/greatest-lower-bounds-posets.lagda.md
  src/order-theory/least-upper-bounds-posets.lagda.md
  src/order-theory/meet-semilattices.lagda.md
Labels: order-theory

#1321 chore: Fix links in `100-theorems`
  src/commutative-algebra/binomial-theorem-commutative-rings.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-semirings.lagda.md
  src/elementary-number-theory/bezouts-lemma-integers.lagda.md
  src/elementary-number-theory/bezouts-lemma-natural-numbers.lagda.md
  src/elementary-number-theory/binomial-theorem-integers.lagda.md
  src/elementary-number-theory/binomial-theorem-natural-numbers.lagda.md
  src/elementary-number-theory/fundamental-theorem-of-arithmetic.lagda.md
  src/elementary-number-theory/greatest-common-divisor-natural-numbers.lagda.md
  src/elementary-number-theory/infinitude-of-primes.lagda.md
  src/elementary-number-theory/natural-numbers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  src/foundation/cantors-theorem.lagda.md
  src/literature/100-theorems.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/ring-theory/binomial-theorem-rings.lagda.md
  src/ring-theory/binomial-theorem-semirings.lagda.md
  src/univalent-combinatorics/binomial-types.lagda.md
  src/univalent-combinatorics/decidable-subtypes.lagda.md
Labels: website, fix

#1324 Page for 1000+ theorems
  src/category-theory/yoneda-lemma-categories.lagda.md
  src/category-theory/yoneda-lemma-precategories.lagda.md
  src/elementary-number-theory/infinitude-of-primes.lagda.md
  src/foundation-core/equivalence-relations.lagda.md
  src/foundation.lagda.md
  src/foundation/equivalence-relations.lagda.md
  src/foundation/fundamental-theorem-of-equivalence-relations.lagda.md
  src/group-theory/cayleys-theorem.lagda.md
  src/literature.lagda.md
  src/literature/100-theorems.lagda.md
  src/literature/1000plus-theorems.lagda.md
Labels: documentation, website, formalization-target, 100 theorems, 1000+ theorems

#1325 Adjustments 1000+ theorems
  src/literature/1000plus-theorems.lagda.md
Labels: 1000+ theorems

#1320 Define left half-smash products
  references.bib
  src/foundation/unit-type.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/cofibers-of-maps.lagda.md
  src/synthetic-homotopy-theory/cofibers-of-pointed-maps.lagda.md
  src/synthetic-homotopy-theory/cofibers.lagda.md
  src/synthetic-homotopy-theory/left-half-smash-products.lagda.md
  src/synthetic-homotopy-theory/pullback-property-pushouts.lagda.md
  src/synthetic-homotopy-theory/pushouts-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/smash-products-of-pointed-types.lagda.md
  src/synthetic-homotopy-theory/wedges-of-pointed-types.lagda.md
Labels: synthetic-homotopy-theory

#1314 Break the Dedekind reals into lower and upper Dedekind reals
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/arithmetically-located-dedekind-cuts.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/real-numbers/inequality-lower-dedekind-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/inequality-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/lower-dedekind-real-numbers.lagda.md
  src/real-numbers/negation-lower-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
  src/real-numbers/rational-lower-dedekind-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  src/real-numbers/rational-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/upper-dedekind-real-numbers.lagda.md
Labels: real-numbers

#1333 Literature overview for Introduction to Homotopy Type Theory
  src/elementary-number-theory/congruence-natural-numbers.lagda.md
  src/elementary-number-theory/distance-natural-numbers.lagda.md
  src/elementary-number-theory/modular-arithmetic-standard-finite-types.lagda.md
  src/elementary-number-theory/multiplication-integers.lagda.md
  src/elementary-number-theory/multiplication-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/lists/lists.lagda.md
  src/literature.lagda.md
  src/literature/introduction-to-homotopy-type-theory.lagda.md
  src/univalent-combinatorics/classical-finite-types.lagda.md
Labels: elementary-number-theory, foundation, logic, literature

#1337 Make group solver examples compile
  src/lists/concatenation-lists.lagda.md
  src/reflection/group-solver.lagda.md
Labels: reflection

#1306 Do syntax for propositional truncations, including application to strict real inequality
  src/foundation/existential-quantification.lagda.md
  src/foundation/propositional-truncations.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: experiment

#1349 Replace Mathswitch with Wikidata
  scripts/preprocessor_concepts.py
Labels: website, fix

#1348 An auto-updating dependency graph of the library
  ART.md
  Makefile
  flake.nix
  scripts/generate_dependency_graph_rendering.py
  scripts/requirements.txt
  scripts/utils/__init__.py
Labels: website, art

#1350 fix: Art/graph
  .github/workflows/pages.yaml
  HOWTO-INSTALL.md
  scripts/generate_dependency_graph_rendering.py
Labels: CI, website, fix, art

#1352 Generate the dependency graph before building the website
  .gitignore
  Makefile
Labels: website, fix

#1230 Observational equality of rationals
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/equality-rational-numbers.lagda.md
  src/elementary-number-theory/integer-fractions.lagda.md
Labels: elementary-number-theory

#836 Cleaning up for homotopy groups
  src/foundation/connected-components.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/iterating-functions.lagda.md
  src/foundation/mere-equality.lagda.md
  src/group-theory.lagda.md
  src/group-theory/automorphism-groups.lagda.md
  src/group-theory/concrete-groups.lagda.md
  src/group-theory/homotopy-automorphism-groups.lagda.md
  src/higher-group-theory.lagda.md
  src/higher-group-theory/automorphism-groups.lagda.md
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/homotopy-groups.lagda.md
  src/synthetic-homotopy-theory/iterated-loop-spaces.lagda.md
Labels: group-theory, synthetic-homotopy-theory, higher-group-theory

#1338 Similarity reasoning for real numbers
  src/foundation-core/identity-types.lagda.md
  src/foundation/powersets.lagda.md
  src/group-theory/minkowski-multiplication-commutative-monoids.lagda.md
  src/group-theory/minkowski-multiplication-monoids.lagda.md
  src/group-theory/minkowski-multiplication-semigroups.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/real-numbers/lower-dedekind-real-numbers.lagda.md
  src/real-numbers/negation-lower-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  src/real-numbers/similarity-real-numbers.lagda.md
  src/real-numbers/upper-dedekind-real-numbers.lagda.md
Labels: real-numbers
