Repository UniMath/agda-unimath, pull requests merged in 2025-06, with the labels that each got.

#1367 Sums and products over arbitrary finite types
  src/commutative-algebra.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-rings.lagda.md
  src/commutative-algebra/binomial-theorem-commutative-semirings.lagda.md
  src/commutative-algebra/sums-commutative-rings.lagda.md
  src/commutative-algebra/sums-commutative-semirings.lagda.md
  src/commutative-algebra/sums-of-finite-families-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/sums-of-finite-families-of-elements-commutative-semirings.lagda.md
  src/commutative-algebra/sums-of-finite-sequences-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/sums-of-finite-sequences-of-elements-commutative-semirings.lagda.md
  src/elementary-number-theory/binomial-theorem-integers.lagda.md
  src/elementary-number-theory/binomial-theorem-natural-numbers.lagda.md
  src/finite-group-theory/permutations-standard-finite-types.lagda.md
  src/finite-group-theory/transpositions-standard-finite-types.lagda.md
  src/group-theory.lagda.md
  src/group-theory/products-of-tuples-of-elements-commutative-monoids.lagda.md
  src/group-theory/sums-of-finite-families-of-elements-commutative-monoids.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-commutative-monoids.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-monoids.lagda.md
  src/group-theory/unordered-tuples-in-commutative-monoids.lagda.md
  src/linear-algebra.lagda.md
  src/linear-algebra/finite-sequences-in-commutative-monoids.lagda.md
  src/linear-algebra/finite-sequences-in-monoids.lagda.md
  src/linear-algebra/finite-sequences-in-semirings.lagda.md
  src/linear-algebra/tuples-on-commutative-monoids.lagda.md
  src/linear-algebra/tuples-on-commutative-semirings.lagda.md
  src/linear-algebra/tuples-on-monoids.lagda.md
  src/linear-algebra/tuples-on-rings.lagda.md
  src/linear-algebra/tuples-on-semirings.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/binomial-theorem-rings.lagda.md
  src/ring-theory/binomial-theorem-semirings.lagda.md
  src/ring-theory/sums-of-finite-families-of-elements-rings.lagda.md
  src/ring-theory/sums-of-finite-families-of-elements-semirings.lagda.md
  src/ring-theory/sums-of-finite-sequences-of-elements-rings.lagda.md
  src/ring-theory/sums-of-finite-sequences-of-elements-semirings.lagda.md
  src/ring-theory/sums-rings.lagda.md
  src/ring-theory/sums-semirings.lagda.md
  src/univalent-combinatorics/coproduct-types.lagda.md
Labels: group-theory, commutative-algebra, ring-theory, finite-group-theory, univalent-combinatorics, linear-algebra

#1438 Fix #1437
  .pre-commit-config.yaml
Labels: CI, fix, pre-commit

#1441 Monad algebra fixes
  src/category-theory/algebras-monads-on-precategories.lagda.md
  src/category-theory/monads-on-precategories.lagda.md
  src/category-theory/morphisms-algebras-monads-on-precategories.lagda.md
Labels: fix, category-theory

#1443 Add codensity monads
  src/category-theory.lagda.md
  src/category-theory/codensity-monads-on-precategories.lagda.md
  src/category-theory/natural-transformations-functors-precategories.lagda.md
  src/category-theory/right-extensions-precategories.lagda.md
Labels: category-theory

#1439 Set coequalizers
  src/foundation.lagda.md
  src/foundation/freely-generated-equivalence-relations.lagda.md
  src/foundation/set-coequalizers.lagda.md
  src/foundation/set-quotients.lagda.md
Labels: foundation

#1442 Dualize limits, right Kan extensions, and monads
  src/category-theory.lagda.md
  src/category-theory/algebras-monads-on-precategories.lagda.md
  src/category-theory/coalgebras-comonads-on-precategories.lagda.md
  src/category-theory/cocones-precategories.lagda.md
  src/category-theory/codensity-monads-on-precategories.lagda.md
  src/category-theory/colimits-precategories.lagda.md
  src/category-theory/comonads-on-precategories.lagda.md
  src/category-theory/cones-precategories.lagda.md
  src/category-theory/copointed-endofunctors-precategories.lagda.md
  src/category-theory/density-comonads-on-precategories.lagda.md
  src/category-theory/left-extensions-precategories.lagda.md
  src/category-theory/left-kan-extensions-precategories.lagda.md
  src/category-theory/limits-precategories.lagda.md
  src/category-theory/monads-on-precategories.lagda.md
  src/category-theory/morphisms-algebras-monads-on-precategories.lagda.md
  src/category-theory/morphisms-coalgebras-comonads-on-precategories.lagda.md
  src/category-theory/pointed-endofunctors-precategories.lagda.md
  src/category-theory/precategory-of-algebras-monads-on-precategories.lagda.md
  src/category-theory/precategory-of-coalgebras-comonads-on-precategories.lagda.md
  src/category-theory/right-extensions-precategories.lagda.md
  src/category-theory/right-kan-extensions-precategories.lagda.md
  src/foundation/category-of-sets.lagda.md
Labels: category-theory

#1444 Convolution of sequences in commutative semirings and rings
  src/commutative-algebra.lagda.md
  src/commutative-algebra/convolution-sequences-commutative-rings.lagda.md
  src/commutative-algebra/convolution-sequences-commutative-semirings.lagda.md
  src/commutative-algebra/sums-of-finite-families-of-elements-commutative-rings.lagda.md
  src/commutative-algebra/sums-of-finite-families-of-elements-commutative-semirings.lagda.md
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/binary-sum-decompositions-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/group-theory/sums-of-finite-families-of-elements-commutative-monoids.lagda.md
  src/ring-theory/sums-of-finite-families-of-elements-rings.lagda.md
  src/ring-theory/sums-of-finite-families-of-elements-semirings.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: commutative-algebra, ring-theory, elementary-number-theory

#1449 Use classical finite types for convolution reasoning
  src/commutative-algebra/convolution-sequences-commutative-semirings.lagda.md
  src/elementary-number-theory/binary-sum-decompositions-natural-numbers.lagda.md
  src/univalent-combinatorics/classical-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
Labels: fix, univalent-combinatorics
