Repository UniMath/agda-unimath, pull requests merged in 2025-07, with the labels that each got.

#1383 Constancy of maps
  references.bib
  src/foundation-core/constant-maps.lagda.md
  src/foundation.lagda.md
  src/foundation/coherently-constant-maps.lagda.md
  src/foundation/constant-maps.lagda.md
  src/foundation/null-homotopic-maps.lagda.md
  src/foundation/split-idempotent-maps.lagda.md
  src/foundation/universal-property-propositional-truncation-into-sets.lagda.md
  src/foundation/weakly-constant-maps.lagda.md
  src/literature/idempotents-in-intensional-type-theory.lagda.md
Labels: foundation

#1440 Update category theory tables and define category of simplicial sets
  src/category-theory.lagda.md
  src/category-theory/category-of-simplicial-sets.lagda.md
  src/category-theory/composition-operations-on-binary-families-of-sets.lagda.md
  src/category-theory/set-magmoids.lagda.md
  tables/categories.md
  tables/precategories.md
Labels: category-theory

#1454 Some standard results on rings and modules
  src/group-theory/endomorphism-rings-abelian-groups.lagda.md
  src/linear-algebra.lagda.md
  src/linear-algebra/finite-sequences-in-rings.lagda.md
  src/linear-algebra/left-modules-rings.lagda.md
  src/linear-algebra/preimages-of-left-module-structures-along-homomorphisms-of-rings.lagda.md
  src/ring-theory/function-rings.lagda.md
  src/ring-theory/sums-of-finite-sequences-of-elements-rings.lagda.md
Labels: group-theory, ring-theory, linear-algebra
