Repository UniMath/agda-unimath, pull requests merged in 2025-08, with the labels that each got.

#1473 Finitely enumerable types
  src/foundation/axiom-of-choice.lagda.md
  src/foundation/coproduct-types.lagda.md
  src/foundation/raising-universe-levels.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/disjunction.lagda.md
  src/univalent-combinatorics/finite-subtypes.lagda.md
  src/univalent-combinatorics/finitely-enumerable-subtypes.lagda.md
  src/univalent-combinatorics/finitely-enumerable-types.lagda.md
  src/univalent-combinatorics/kuratowski-finite-sets.lagda.md
Labels: univalent-combinatorics

#1422 Dedekind finiteness of various notions of finite type
  references.bib
  src/category-theory/terminal-category.lagda.md
  src/elementary-number-theory/distance-natural-numbers.lagda.md
  src/elementary-number-theory/maximum-natural-numbers.lagda.md
  src/elementary-number-theory/minimum-natural-numbers.lagda.md
  src/elementary-number-theory/nonzero-natural-numbers.lagda.md
  src/elementary-number-theory/positive-and-negative-rational-numbers.lagda.md
  src/foundation-core/injective-maps.lagda.md
  src/foundation.lagda.md
  src/foundation/axiom-of-choice.lagda.md
  src/foundation/cantor-schroder-bernstein-escardo.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/connected-types.lagda.md
  src/foundation/decidable-embeddings.lagda.md
  src/foundation/decidable-equality.lagda.md
  src/foundation/decidable-subtypes.lagda.md
  src/foundation/double-negation.lagda.md
  src/foundation/embeddings.lagda.md
  src/foundation/functoriality-propositional-truncation.lagda.md
  src/foundation/inhabited-types.lagda.md
  src/foundation/injective-maps.lagda.md
  src/foundation/isolated-elements.lagda.md
  src/foundation/noncontractible-types.lagda.md
  src/foundation/noninjective-maps.lagda.md
  src/foundation/projective-types.lagda.md
  src/foundation/repetitions-of-values.lagda.md
  src/foundation/set-presented-types.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/unit-type.lagda.md
  src/set-theory.lagda.md
  src/synthetic-homotopy-theory/acyclic-maps.lagda.md
  src/synthetic-homotopy-theory/acyclic-types.lagda.md
  src/synthetic-homotopy-theory/suspensions-of-propositions.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/counting-decidable-subtypes.lagda.md
  src/univalent-combinatorics/counting-dependent-pair-types.lagda.md
  src/univalent-combinatorics/counting-fibers-of-maps.lagda.md
  src/univalent-combinatorics/counting.lagda.md
  src/univalent-combinatorics/decidable-subtypes.lagda.md
  src/univalent-combinatorics/dedekind-finite-sets.lagda.md
  src/univalent-combinatorics/dedekind-finite-types.lagda.md
  src/univalent-combinatorics/dual-dedekind-finite-types.lagda.md
  src/univalent-combinatorics/finite-choice.lagda.md
  src/univalent-combinatorics/finite-presentations.lagda.md
  src/univalent-combinatorics/finitely-presented-types.lagda.md
  src/univalent-combinatorics/kuratowski-finite-sets.lagda.md
  src/univalent-combinatorics/pigeonhole-principle.lagda.md
  src/univalent-combinatorics/quotients-finite-types.lagda.md
  src/univalent-combinatorics/repetitions-of-values.lagda.md
  src/univalent-combinatorics/sequences-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
  src/univalent-combinatorics/subcounting.lagda.md
  src/univalent-combinatorics/subfinite-indexing.lagda.md
  src/univalent-combinatorics/subfinite-types.lagda.md
  src/univalent-combinatorics/subfinitely-enumerable-types.lagda.md
  src/univalent-combinatorics/surjective-maps.lagda.md
Labels: elementary-number-theory, foundation, univalent-combinatorics

#1311 Closure properties of π-finite types
  .vscode/tasks.json
  scripts/generate_dependency_graph_rendering.py
  src/elementary-number-theory/equality-natural-numbers.lagda.md
  src/elementary-number-theory/maximum-natural-numbers.lagda.md
  src/finite-group-theory/finite-groups.lagda.md
  src/finite-group-theory/finite-monoids.lagda.md
  src/finite-group-theory/finite-semigroups.lagda.md
  src/foundation-core/iterating-functions.lagda.md
  src/foundation.lagda.md
  src/foundation/connected-maps.lagda.md
  src/foundation/equality-truncation-levels.lagda.md
  src/foundation/finitely-truncated-types.lagda.md
  src/foundation/inequality-truncation-levels.lagda.md
  src/foundation/iterated-successors-truncation-levels.lagda.md
  src/foundation/iterating-functions.lagda.md
  src/foundation/maximum-truncation-levels.lagda.md
  src/foundation/path-cosplit-maps.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/foundation/truncated-addition-truncation-levels.lagda.md
  src/foundation/truncated-types.lagda.md
  src/foundation/truncation-levels.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/finitely-enumerable-types.lagda.md
  src/univalent-combinatorics/main-classes-of-latin-hypercubes.lagda.md
  src/univalent-combinatorics/main-classes-of-latin-squares.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
  src/univalent-combinatorics/truncated-pi-finite-types.lagda.md
  src/univalent-combinatorics/unbounded-pi-finite-types.lagda.md
  src/univalent-combinatorics/untruncated-pi-finite-types.lagda.md
Labels: univalent-combinatorics

#1474 Topology in metric spaces
  references.bib
  src/foundation.lagda.md
  src/foundation/cartesian-products-subtypes.lagda.md
  src/foundation/dependent-products-subtypes.lagda.md
  src/foundation/disjoint-subtypes.lagda.md
  src/foundation/empty-subtypes.lagda.md
  src/foundation/intersections-subtypes.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/approximations-located-metric-spaces.lagda.md
  src/metric-spaces/approximations-metric-spaces.lagda.md
  src/metric-spaces/cartesian-products-metric-spaces.lagda.md
  src/metric-spaces/closed-subsets-located-metric-spaces.lagda.md
  src/metric-spaces/closed-subsets-metric-spaces.lagda.md
  src/metric-spaces/closure-subsets-metric-spaces.lagda.md
  src/metric-spaces/compact-metric-spaces.lagda.md
  src/metric-spaces/dense-subsets-metric-spaces.lagda.md
  src/metric-spaces/elements-at-bounded-distance-metric-spaces.lagda.md
  src/metric-spaces/interior-subsets-metric-spaces.lagda.md
  src/metric-spaces/located-metric-spaces.lagda.md
  src/metric-spaces/metric-spaces.lagda.md
  src/metric-spaces/nets-located-metric-spaces.lagda.md
  src/metric-spaces/nets-metric-spaces.lagda.md
  src/metric-spaces/open-subsets-located-metric-spaces.lagda.md
  src/metric-spaces/open-subsets-metric-spaces.lagda.md
  src/metric-spaces/pseudometric-spaces.lagda.md
  src/metric-spaces/subspaces-metric-spaces.lagda.md
  src/metric-spaces/totally-bounded-metric-spaces.lagda.md
Labels: metric-spaces

#1490 Minimum and maximum for total orders
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/greatest-lower-bounds-posets.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/total-orders.lagda.md
Labels: order-theory

#1475 Arithmetic and geometric sequences in semirings
  codespell-dictionary.txt
  src/elementary-number-theory/commutative-semiring-of-natural-numbers.lagda.md
  src/elementary-number-theory/triangular-numbers.lagda.md
  src/group-theory/arithmetic-sequences-semigroups.lagda.md
  src/lists/finite-sequences.lagda.md
  src/literature/100-theorems.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/arithmetic-sequences-semirings.lagda.md
  src/ring-theory/arithmetic-series-semirings.lagda.md
  src/ring-theory/geometric-sequences-semirings.lagda.md
  src/ring-theory/partial-sums-sequences-semirings.lagda.md
  src/ring-theory/semirings.lagda.md
  src/ring-theory/sums-of-finite-sequences-of-elements-semirings.lagda.md
Labels: ring-theory

#1502 Some cleanup of species
  src/foundation/decidable-equivalence-relations.lagda.md
  src/foundation/structure.lagda.md
  src/foundation/type-arithmetic-cartesian-product-types.lagda.md
  src/foundation/universal-property-booleans.lagda.md
  src/foundation/universal-property-coproduct-types.lagda.md
  src/species/cartesian-exponents-species-of-types.lagda.md
  src/species/cartesian-products-species-of-types.lagda.md
  src/species/cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-composition-species-of-types.lagda.md
  src/species/cauchy-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-exponentials-species-of-types.lagda.md
  src/species/cauchy-products-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-products-species-of-types.lagda.md
  src/species/cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/cauchy-series-species-of-types.lagda.md
  src/species/composition-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/composition-cauchy-series-species-of-types.lagda.md
  src/species/coproducts-species-of-types-in-subuniverses.lagda.md
  src/species/coproducts-species-of-types.lagda.md
  src/species/cycle-index-series-species-of-types.lagda.md
  src/species/derivatives-species-of-types.lagda.md
  src/species/dirichlet-exponentials-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-exponentials-species-of-types.lagda.md
  src/species/dirichlet-products-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-products-species-of-types.lagda.md
  src/species/dirichlet-series-species-of-finite-inhabited-types.lagda.md
  src/species/dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/dirichlet-series-species-of-types.lagda.md
  src/species/equivalences-species-of-types-in-subuniverses.lagda.md
  src/species/equivalences-species-of-types.lagda.md
  src/species/exponentials-cauchy-series-of-types-in-subuniverses.lagda.md
  src/species/exponentials-cauchy-series-of-types.lagda.md
  src/species/hasse-weil-species.lagda.md
  src/species/morphisms-finite-species.lagda.md
  src/species/morphisms-species-of-types.lagda.md
  src/species/pointing-species-of-types.lagda.md
  src/species/precategory-of-finite-species.lagda.md
  src/species/products-cauchy-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-cauchy-series-species-of-types.lagda.md
  src/species/products-dirichlet-series-species-of-finite-inhabited-types.lagda.md
  src/species/products-dirichlet-series-species-of-types-in-subuniverses.lagda.md
  src/species/products-dirichlet-series-species-of-types.lagda.md
  src/species/small-cauchy-composition-species-of-finite-inhabited-types.lagda.md
  src/species/small-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/species-of-finite-inhabited-types.lagda.md
  src/species/species-of-finite-types.lagda.md
  src/species/species-of-inhabited-types.lagda.md
  src/species/species-of-types-in-subuniverses.lagda.md
  src/species/species-of-types.lagda.md
  src/species/unit-cauchy-composition-species-of-types-in-subuniverses.lagda.md
  src/species/unit-cauchy-composition-species-of-types.lagda.md
  src/species/unlabeled-structures-species.lagda.md
  src/trees/polynomial-endofunctors.lagda.md
  src/univalent-combinatorics/cyclic-finite-types.lagda.md
  src/univalent-combinatorics/decidable-equivalence-relations.lagda.md
Labels: repo-maintenance, species

#1505 Finitely enumerable types are Dedekind finite
  src/set-theory/cardinalities.lagda.md
  src/univalent-combinatorics/finitely-enumerable-types.lagda.md
  src/univalent-combinatorics/kuratowski-finite-sets.lagda.md
  src/univalent-combinatorics/subfinitely-enumerable-types.lagda.md
Labels: univalent-combinatorics

#1482 Bounded distance decompositions of metric spaces
  src/foundation/equivalence-classes.lagda.md
  src/foundation/set-quotients.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/bounded-distance-decompositions-of-metric-spaces.lagda.md
  src/metric-spaces/elements-at-bounded-distance-metric-spaces.lagda.md
  src/metric-spaces/subspaces-metric-spaces.lagda.md
Labels: metric-spaces

#1508 Cross multiplication difference of rational numbers and other lemmas
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/cross-multiplication-difference-rational-numbers.lagda.md
  src/elementary-number-theory/mediant-integer-fractions.lagda.md
  src/elementary-number-theory/reduced-integer-fractions.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
Labels: elementary-number-theory

#1494 Commutative semigroups
  src/group-theory.lagda.md
  src/group-theory/commutative-monoids.lagda.md
  src/group-theory/commutative-semigroups.lagda.md
  src/group-theory/sums-of-finite-families-of-elements-commutative-monoids.lagda.md
  src/group-theory/sums-of-finite-families-of-elements-commutative-semigroups.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-commutative-monoids.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-commutative-semigroups.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-monoids.lagda.md
  src/group-theory/sums-of-finite-sequences-of-elements-semigroups.lagda.md
  src/linear-algebra.lagda.md
  src/linear-algebra/finite-sequences-in-commutative-semigroups.lagda.md
  src/linear-algebra/finite-sequences-in-monoids.lagda.md
  src/linear-algebra/finite-sequences-in-semigroups.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/coproducts-inhabited-finite-types.lagda.md
  src/univalent-combinatorics/inhabited-finite-types.lagda.md
Labels: group-theory, linear-algebra

#1506 Joins and meets of finite families of elements
  src/order-theory.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/joins-finite-families-join-semilattices.lagda.md
  src/order-theory/least-upper-bounds-posets.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/meets-finite-families-meet-semilattices.lagda.md
Labels: order-theory

#1513 The image of a totally bounded metric space under a uniformly continuous function is totally bounded
  src/foundation/images-subtypes.lagda.md
  src/foundation/images.lagda.md
  src/foundation/surjective-maps.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/approximations-metric-spaces.lagda.md
  src/metric-spaces/compact-metric-spaces.lagda.md
  src/metric-spaces/equality-of-metric-spaces.lagda.md
  src/metric-spaces/images-isometries-metric-spaces.lagda.md
  src/metric-spaces/images-metric-spaces.lagda.md
  src/metric-spaces/images-short-functions-metric-spaces.lagda.md
  src/metric-spaces/images-uniformly-continuous-functions-metric-spaces.lagda.md
  src/metric-spaces/isometries-metric-spaces.lagda.md
  src/metric-spaces/nets-metric-spaces.lagda.md
  src/metric-spaces/totally-bounded-metric-spaces.lagda.md
  src/metric-spaces/uniformly-continuous-functions-metric-spaces.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/univalent-combinatorics/finitely-enumerable-subtypes.lagda.md
  src/univalent-combinatorics/finitely-enumerable-types.lagda.md
Labels: foundation, univalent-combinatorics, metric-spaces
