Repository UniMath/agda-unimath, pull requests merged in 2025-09, with the labels that each got.

#1524 Simplify the minimum of real numbers
  src/real-numbers/minimum-real-numbers.lagda.md
Labels: real-numbers, refactoring

#1521 Opacify real numbers
  src/metric-spaces/limits-of-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/limits-of-cauchy-approximations-pseudometric-spaces.lagda.md
  src/metric-spaces/located-metric-spaces.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/absolute-value-real-numbers.lagda.md
  src/real-numbers/addition-real-numbers.lagda.md
  src/real-numbers/apartness-real-numbers.lagda.md
  src/real-numbers/binary-maximum-real-numbers.lagda.md
  src/real-numbers/binary-minimum-real-numbers.lagda.md
  src/real-numbers/cauchy-completeness-dedekind-real-numbers.lagda.md
  src/real-numbers/difference-real-numbers.lagda.md
  src/real-numbers/distance-real-numbers.lagda.md
  src/real-numbers/inequality-lower-dedekind-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/inequality-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/infima-families-real-numbers.lagda.md
  src/real-numbers/isometry-negation-real-numbers.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
  src/real-numbers/nonnegative-real-numbers.lagda.md
  src/real-numbers/positive-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
  src/real-numbers/suprema-families-real-numbers.lagda.md
Labels: real-numbers, computational-behavior

#1520 Metric spaces induced by metric functions
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/foundation/functoriality-disjunction.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/elements-at-bounded-distance-metric-spaces.lagda.md
  src/metric-spaces/located-metric-spaces.lagda.md
  src/metric-spaces/metric-spaces.lagda.md
  src/metric-spaces/metrics.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/apartness-real-numbers.lagda.md
  src/real-numbers/binary-maximum-real-numbers.lagda.md
  src/real-numbers/cauchy-completeness-dedekind-real-numbers.lagda.md
  src/real-numbers/maximum-lower-dedekind-real-numbers.lagda.md
  src/real-numbers/minimum-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/nonnegative-real-numbers.lagda.md
  src/real-numbers/raising-universe-levels-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
  src/real-numbers/rational-upper-dedekind-real-numbers.lagda.md
  src/real-numbers/real-numbers-from-lower-dedekind-real-numbers.lagda.md
  src/real-numbers/saturation-inequality-real-numbers.lagda.md
  src/real-numbers/similarity-real-numbers.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
  src/univalent-combinatorics/disjunction.lagda.md
Labels: real-numbers, metric-spaces

#1523 Maximum and minimum of finitely enumerable subsets of the real numbers
  src/foundation/images-subtypes.lagda.md
  src/foundation/subtypes.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/finitely-enumerable-subsets-real-numbers.lagda.md
  src/real-numbers/infima-families-real-numbers.lagda.md
  src/real-numbers/maximum-finitely-enumerable-subsets-real-numbers.lagda.md
  src/real-numbers/minimum-finitely-enumerable-subsets-real-numbers.lagda.md
  src/real-numbers/subsets-real-numbers.lagda.md
  src/real-numbers/suprema-families-real-numbers.lagda.md
  src/univalent-combinatorics/finitely-enumerable-types.lagda.md
Labels: real-numbers

#1529 Fix Agda references in species concepts
  src/species/composition-cauchy-series-species-of-types.lagda.md
  src/species/products-dirichlet-series-species-of-types.lagda.md
Labels: website, fix

#1510 Suprema and infima of totally bounded subsets of the reals
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/metric-spaces/approximations-metric-spaces.lagda.md
  src/metric-spaces/complete-metric-spaces.lagda.md
  src/metric-spaces/nets-metric-spaces.lagda.md
  src/metric-spaces/totally-bounded-metric-spaces.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/totally-bounded-subsets-real-numbers.lagda.md
Labels: real-numbers, metric-spaces

#1535 Supremum of a coproduct of families of real numbers
  src/real-numbers/suprema-families-real-numbers.lagda.md
Labels: real-numbers

#1532 Metrics of metric spaces
  src/metric-spaces.lagda.md
  src/metric-spaces/metrics-of-metric-spaces.lagda.md
  src/metric-spaces/metrics.lagda.md
  src/real-numbers/distance-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/nonnegative-real-numbers.lagda.md
  src/real-numbers/similarity-real-numbers.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: metric-spaces

#1533 Simplify inequality reasoning syntax in posets
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/posets.lagda.md
Labels: order-theory

#1538 The positive rational numbers are countable
  src/elementary-number-theory/positive-integer-fractions.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/foundation/decidable-subtypes.lagda.md
  src/foundation/maybe.lagda.md
  src/set-theory/countable-sets.lagda.md
Labels: set-theory, elementary-number-theory

#1539 Left modules over commutative rings
  src/commutative-algebra/function-commutative-rings.lagda.md
  src/linear-algebra.lagda.md
  src/linear-algebra/dependent-products-left-modules-commutative-rings.lagda.md
  src/linear-algebra/left-modules-commutative-rings.lagda.md
  src/linear-algebra/left-modules-rings.lagda.md
Labels: linear-algebra

#1543 Interchanging multiplication and evaluation on polynomials
  src/commutative-algebra/commutative-semirings.lagda.md
  src/commutative-algebra/polynomials-commutative-rings.lagda.md
  src/commutative-algebra/polynomials-commutative-semirings.lagda.md
  src/commutative-algebra/sums-of-finite-families-of-elements-commutative-semirings.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/group-theory/sums-of-finite-families-of-elements-commutative-monoids.lagda.md
  src/ring-theory/sums-of-finite-families-of-elements-semirings.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/classical-finite-types.lagda.md
  src/univalent-combinatorics/complements-decidable-subtypes.lagda.md
Labels: commutative-algebra

#1556 fix: store cache from `clean-build`
  .github/workflows/clean-build.yaml
Labels: CI, fix
