Repository UniMath/agda-unimath, pull requests merged in 2025-04, with the labels that each got.

#1343 Cauchy completeness of the Dedekind real numbers
  src/elementary-number-theory/additive-group-of-rational-numbers.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/cauchy-completeness-dedekind-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/positive-real-numbers.lagda.md
  src/real-numbers/transposition-addition-subtraction-cuts-dedekind-real-numbers.lagda.md
Labels: real-numbers

#1388 Monotonic sequences in posets
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
  src/foundation.lagda.md
  src/foundation/strictly-right-unital-concatenation-identifications.lagda.md
  src/foundation/subsequences.lagda.md
  src/order-theory.lagda.md
  src/order-theory/increasing-sequences-posets.lagda.md
  src/order-theory/order-preserving-maps-posets.lagda.md
  src/order-theory/sequences-posets.lagda.md
  src/order-theory/sequences-preorders.lagda.md
  src/order-theory/sequences-strictly-preordered-sets.lagda.md
  src/order-theory/strict-order-preserving-maps.lagda.md
  src/order-theory/strictly-increasing-sequences-strictly-preordered-sets.lagda.md
Labels: order-theory

#1400 Distance between rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/absolute-value-rational-numbers.lagda.md
  src/elementary-number-theory/distance-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-rational-numbers.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers-with-open-neighborhoods.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
Labels: elementary-number-theory, metric-spaces

#1371 Bernoulli's inequality on the positive rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/arithmetic-sequences-positive-rational-numbers.lagda.md
  src/elementary-number-theory/bernoullis-inequality-positive-rational-numbers.lagda.md
  src/elementary-number-theory/geometric-sequences-positive-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-group-of-positive-rational-numbers.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/elementary-number-theory/rational-numbers.lagda.md
  src/group-theory.lagda.md
  src/group-theory/arithmetic-sequences-semigroups.lagda.md
  src/metric-spaces/limits-of-cauchy-approximations-in-premetric-spaces.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
Labels: elementary-number-theory

#1407 Fix name type sequences posets
  src/order-theory/increasing-sequences-posets.lagda.md
  src/order-theory/sequences-posets.lagda.md
  src/order-theory/sequences-preorders.lagda.md
Labels: order-theory, improve naming

#1409 Correct typos in set-theory.countable-sets
  src/set-theory/countable-sets.lagda.md
Labels: set-theory, typo

#1412 chore: add Evan Cavallo to contributors
  CONTRIBUTORS.toml
  src/foundation/universal-property-identity-types.lagda.md
  src/synthetic-homotopy-theory/cavallos-trick.lagda.md
Labels: documentation

#1411 chore: Fix some links
  src/foundation/lesser-limited-principle-of-omniscience.lagda.md
  src/foundation/limited-principle-of-omniscience.lagda.md
  src/foundation/partial-elements.lagda.md
  src/foundation/universe-levels.lagda.md
  src/foundation/weak-limited-principle-of-omniscience.lagda.md
  src/logic/markovs-principle.lagda.md
  src/modal-type-theory/flat-discrete-crisp-types.lagda.md
  src/order-theory/transitive-well-founded-relations.lagda.md
  src/real-numbers/dedekind-real-numbers.lagda.md
  src/synthetic-homotopy-theory/dependent-suspension-structures.lagda.md
  tables/categories.md
  tables/metric-spaces.md
  tables/precategories.md
Labels: typo

#1394 Distance function on real numbers
  src/literature/100-theorems.lagda.md
  src/order-theory/least-upper-bounds-large-posets.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/absolute-value-real-numbers.lagda.md
  src/real-numbers/addition-real-numbers.lagda.md
  src/real-numbers/cauchy-completeness-dedekind-real-numbers.lagda.md
  src/real-numbers/difference-real-numbers.lagda.md
  src/real-numbers/distance-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/maximum-real-numbers.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/minimum-real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
  src/real-numbers/positive-real-numbers.lagda.md
  src/real-numbers/strict-inequality-real-numbers.lagda.md
Labels: order-theory, real-numbers, metric-spaces

#1404 Reframe limited principle of omniscience and variants in terms of decidable subtypes
  src/elementary-number-theory/lower-bounds-natural-numbers.lagda.md
  src/elementary-number-theory/parity-natural-numbers.lagda.md
  src/foundation/booleans.lagda.md
  src/foundation/decidable-propositions.lagda.md
  src/foundation/decidable-subtypes.lagda.md
  src/foundation/full-subtypes.lagda.md
  src/foundation/lesser-limited-principle-of-omniscience.lagda.md
  src/foundation/limited-principle-of-omniscience.lagda.md
  src/foundation/postcomposition-functions.lagda.md
  src/foundation/weak-limited-principle-of-omniscience.lagda.md
Labels: foundation
