Repository UniMath/agda-unimath, pull requests merged in 2025-05, with the labels that each got.

#1402 The short map from a convergent Cauchy approximation in a saturated metric space to its limit
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/complete-metric-spaces.lagda.md
  src/metric-spaces/convergent-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/dependent-products-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-cauchy-approximations-complete-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-cauchy-approximations-in-a-metric-space.lagda.md
  src/metric-spaces/metric-space-of-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-cauchy-approximations-saturated-complete-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-convergent-cauchy-approximations-in-a-metric-space.lagda.md
  src/metric-spaces/metric-space-of-convergent-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
  src/metric-spaces/saturated-complete-metric-spaces.lagda.md
  src/metric-spaces/saturated-metric-spaces.lagda.md
  src/metric-spaces/subspaces-metric-spaces.lagda.md
  tables/metric-spaces.md
Labels: elementary-number-theory, metric-spaces

#1378 Limits of sequences in metric spaces
  src/metric-spaces.lagda.md
  src/metric-spaces/cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/cauchy-sequences-metric-spaces.lagda.md
  src/metric-spaces/convergent-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/convergent-sequences-metric-spaces.lagda.md
  src/metric-spaces/limits-of-cauchy-approximations-premetric-spaces.lagda.md
  src/metric-spaces/limits-of-sequences-metric-spaces.lagda.md
  src/metric-spaces/limits-of-sequences-premetric-spaces.lagda.md
  src/metric-spaces/limits-of-sequences-pseudometric-spaces.lagda.md
  src/metric-spaces/metric-space-of-convergent-sequences-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
  src/metric-spaces/premetric-spaces.lagda.md
  src/metric-spaces/pseudometric-spaces.lagda.md
  src/metric-spaces/sequences-metric-spaces.lagda.md
  src/metric-spaces/sequences-premetric-spaces.lagda.md
  src/metric-spaces/sequences-pseudometric-spaces.lagda.md
  src/metric-spaces/short-functions-premetric-spaces.lagda.md
  src/real-numbers/cauchy-completeness-dedekind-real-numbers.lagda.md
Labels: metric-spaces

#1419 Strict orders
  references.bib
  src/foundation/images-subtypes.lagda.md
  src/order-theory.lagda.md
  src/order-theory/commuting-squares-of-galois-connections-large-posets.lagda.md
  src/order-theory/galois-connections-large-posets.lagda.md
  src/order-theory/large-strict-orders.lagda.md
  src/order-theory/large-strict-preorders.lagda.md
  src/order-theory/similarity-of-elements-large-strict-orders.lagda.md
  src/order-theory/similarity-of-elements-large-strict-preorders.lagda.md
  src/order-theory/similarity-of-elements-strict-orders.lagda.md
  src/order-theory/similarity-of-elements-strict-preorders.lagda.md
  src/order-theory/strict-orders.lagda.md
  src/order-theory/strict-preorders.lagda.md
  src/order-theory/strictly-preordered-sets.lagda.md
Labels: order-theory, improve naming

#1398 Metric properties of real negation, absolute value, addition and maximum
  src/metric-spaces.lagda.md
  src/metric-spaces/dependent-products-metric-spaces.lagda.md
  src/metric-spaces/isometries-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-functions-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-isometries-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-short-functions-metric-spaces.lagda.md
  src/order-theory/least-upper-bounds-large-posets.lagda.md
  src/real-numbers.lagda.md
  src/real-numbers/absolute-value-real-numbers.lagda.md
  src/real-numbers/addition-real-numbers.lagda.md
  src/real-numbers/distance-real-numbers.lagda.md
  src/real-numbers/inequality-real-numbers.lagda.md
  src/real-numbers/isometry-addition-real-numbers.lagda.md
  src/real-numbers/isometry-negation-real-numbers.lagda.md
  src/real-numbers/maximum-real-numbers.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/negation-real-numbers.lagda.md
  src/real-numbers/raising-universe-levels-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
Labels: order-theory, real-numbers, metric-spaces

#1425 Fix three typos related to morphisms
  CONTRIBUTORS.toml
  src/category-theory/adjunctions-large-categories.lagda.md
  src/category-theory/adjunctions-large-precategories.lagda.md
  src/group-theory/kernels-homomorphisms-concrete-groups.lagda.md
Labels: category-theory, typo

#1428 Autoformatting for BibTeX
  .pre-commit-config.yaml
  .vscode/settings.json
  CITING-SOURCES.md
  CONTRIBUTING.md
  references.bib
Labels: CI, pre-commit, tooling

#1363 Add graph legend
  .gitignore
  ART.md
  Makefile
  scripts/generate_dependency_graph_rendering.py
  theme/css/general.css
Labels: CI, website, art

#1395 Linear maps over modules
  src/group-theory/abelian-groups.lagda.md
  src/group-theory/groups.lagda.md
  src/linear-algebra.lagda.md
  src/linear-algebra/left-modules-rings.lagda.md
  src/linear-algebra/linear-maps-left-modules-rings.lagda.md
  src/linear-algebra/right-modules-rings.lagda.md
  src/linear-algebra/scalar-multiplication-tuples-on-rings.lagda.md
  src/linear-algebra/tuples-on-rings.lagda.md
  src/ring-theory.lagda.md
  src/ring-theory/algebras-rings.lagda.md
  src/ring-theory/modules-rings.lagda.md
Labels: group-theory, ring-theory, linear-algebra

#1431 Define ℝP∞
  references.bib
  src/synthetic-homotopy-theory.lagda.md
  src/synthetic-homotopy-theory/infinite-complex-projective-space.lagda.md
  src/synthetic-homotopy-theory/infinite-real-projective-space.lagda.md
Labels: synthetic-homotopy-theory

#1417 Lipschitz-continuous functions between metric spaces
  src/elementary-number-theory/distance-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-integers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/elements-at-bounded-distance-metric-spaces.lagda.md
  src/metric-spaces/lipschitz-functions-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-lipschitz-functions-metric-spaces.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers-with-open-neighborhoods.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
  src/metric-spaces/metric-spaces.lagda.md
  src/metric-spaces/uniformly-continuous-functions-metric-spaces.lagda.md
  src/real-numbers/metric-space-of-real-numbers.lagda.md
  src/real-numbers/raising-universe-levels-real-numbers.lagda.md
  src/real-numbers/rational-real-numbers.lagda.md
Labels: elementary-number-theory, metric-spaces

#1416 Add codespell pre-commit hook
  .codespellrc
  .pre-commit-config.yaml
  CODINGSTYLE.md
  CONTRIBUTING.md
  GRANT-ACKNOWLEDGMENTS.md
  Makefile
  STATEMENT-OF-INCLUSION.md
  book.toml
  codespell-dictionary.txt
  codespell-ignore.txt
  flake.nix
  scripts/generate_main_index_file.py
  scripts/preprocessor_git_metadata.py
  src/commutative-algebra/products-ideals-commutative-rings.lagda.md
  src/elementary-number-theory/geometric-sequences-positive-rational-numbers.lagda.md
  src/foundation-core/equivalences.lagda.md
  src/foundation/discrete-binary-relations.lagda.md
  src/foundation/equality-coproduct-types.lagda.md
  src/foundation/path-algebra.lagda.md
  src/foundation/universal-property-propositional-truncation.lagda.md
  src/graph-theory/edge-colored-undirected-graphs.lagda.md
  src/order-theory/dependent-products-large-preorders.lagda.md
  src/univalent-combinatorics/necklaces.lagda.md
  website/js/custom.js
Labels: documentation, enhancement, question, CI, pre-commit, tooling, typo

#1424 Approximations of zero
  src/elementary-number-theory/distance-rational-numbers.lagda.md
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/unit-fractions-rational-numbers.lagda.md
  src/metric-spaces.lagda.md
  src/metric-spaces/cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/cauchy-sequences-metric-spaces.lagda.md
  src/metric-spaces/convergent-cauchy-approximations-metric-spaces.lagda.md
  src/metric-spaces/rational-approximations-of-zero.lagda.md
  src/metric-spaces/rational-cauchy-approximations.lagda.md
  src/metric-spaces/rational-sequences-approximating-zero.lagda.md
Labels: elementary-number-theory, metric-spaces
