Repository UniMath/agda-unimath, pull requests merged in 2025-01, with the labels that each got.

#1231 Composition operations on spans of spans
  src/foundation-core/pullbacks.lagda.md
  src/foundation.lagda.md
  src/foundation/composition-spans.lagda.md
  src/foundation/horizontal-composition-spans-of-spans.lagda.md
  src/foundation/operations-spans.lagda.md
  src/foundation/spans-of-spans.lagda.md
  src/foundation/standard-pullbacks.lagda.md
  src/foundation/standard-ternary-pullbacks.lagda.md
  src/foundation/type-arithmetic-standard-pullbacks.lagda.md
  src/foundation/vertical-composition-spans-of-spans.lagda.md
Labels: foundation

#1232 Coinductive definition of the conatural numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/conatural-numbers.lagda.md
  src/elementary-number-theory/inclusion-natural-numbers-conatural-numbers.lagda.md
  src/elementary-number-theory/infinite-conatural-numbers.lagda.md
  src/elementary-number-theory/positive-conatural-numbers.lagda.md
  src/elementary-number-theory/universal-property-conatural-numbers.lagda.md
  src/elementary-number-theory/zero-conatural-numbers.lagda.md
  src/foundation.lagda.md
  src/foundation/coalgebras-maybe.lagda.md
  src/foundation/maybe.lagda.md
  src/foundation/morphisms-coalgebras-maybe.lagda.md
  src/foundation/noncontractible-types.lagda.md
  src/polytopes/abstract-polytopes.lagda.md
Labels: elementary-number-theory, foundation

#1195 Iterating families of maps over a map
  src/elementary-number-theory/finitely-cyclic-maps.lagda.md
  src/foundation.lagda.md
  src/foundation/dependent-inverse-sequential-diagrams.lagda.md
  src/foundation/equivalences-inverse-sequential-diagrams.lagda.md
  src/foundation/inverse-sequential-diagrams.lagda.md
  src/foundation/iterating-families-of-maps.lagda.md
  src/foundation/iterating-functions.lagda.md
  src/foundation/morphisms-inverse-sequential-diagrams.lagda.md
  src/foundation/multivariable-correspondences.lagda.md
Labels: foundation

#1168 Unbounded π-finite types
  references.bib
  src/foundation/functoriality-set-truncation.lagda.md
  src/polytopes/abstract-polytopes.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/equality-finite-types.lagda.md
  src/univalent-combinatorics/finitely-many-connected-components.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
  src/univalent-combinatorics/retracts-of-finite-types.lagda.md
  src/univalent-combinatorics/standard-finite-types.lagda.md
  src/univalent-combinatorics/truncated-pi-finite-types.lagda.md
  src/univalent-combinatorics/unbounded-pi-finite-types.lagda.md
Labels: univalent-combinatorics

#1234 Fix terminology for π-finite types
  src/finite-group-theory/finite-groups.lagda.md
  src/finite-group-theory/finite-monoids.lagda.md
  src/finite-group-theory/finite-semigroups.lagda.md
  src/foundation/1-types.lagda.md
  src/foundation/unordered-tuples-of-types.lagda.md
  src/foundation/unordered-tuples.lagda.md
  src/group-theory/category-of-groups.lagda.md
  src/group-theory/category-of-semigroups.lagda.md
  src/group-theory/commutative-monoids.lagda.md
  src/group-theory/monoids.lagda.md
  src/group-theory/semigroups.lagda.md
  src/literature/oeis.lagda.md
  src/univalent-combinatorics.lagda.md
  src/univalent-combinatorics/latin-squares.lagda.md
  src/univalent-combinatorics/main-classes-of-latin-hypercubes.lagda.md
  src/univalent-combinatorics/main-classes-of-latin-squares.lagda.md
  src/univalent-combinatorics/pi-finite-types.lagda.md
  src/univalent-combinatorics/truncated-pi-finite-types.lagda.md
  src/univalent-combinatorics/unbounded-pi-finite-types.lagda.md
  src/univalent-combinatorics/untruncated-pi-finite-types.lagda.md
Labels: finite-group-theory, univalent-combinatorics, improve naming

#1238 Agda version 2.7.0
  .github/workflows/ci.yaml
  .github/workflows/pages.yaml
  .github/workflows/profiling.yaml
  HOME.md
  HOWTO-INSTALL.md
  agda-unimath.agda-lib
  flake.lock
  flake.nix
  src/reflection/definitions.lagda.md
  src/reflection/type-checking-monad.lagda.md
Labels: CI, repo-maintenance

#1241 Fix definition of ordinals
  src/order-theory.lagda.md
  src/order-theory/accessible-elements-relations.lagda.md
  src/order-theory/ordinals.lagda.md
  src/order-theory/preorders.lagda.md
  src/order-theory/transitive-well-founded-relations.lagda.md
  src/order-theory/well-founded-orders.lagda.md
  src/order-theory/well-founded-relations.lagda.md
  src/trees/directed-trees.lagda.md
Labels: fix, order-theory

#1242 Uniqueness of split essential surjectivity of functors
  src/category-theory/conservative-functors-precategories.lagda.md
  src/category-theory/essentially-surjective-functors-precategories.lagda.md
  src/category-theory/pseudomonic-functors-precategories.lagda.md
  src/category-theory/split-essentially-surjective-functors-precategories.lagda.md
  src/foundation-core/retracts-of-types.lagda.md
Labels: category-theory

#1244 Vertical pasting of commuting cubes of maps
  src/foundation/commuting-cubes-of-maps.lagda.md
Labels: enhancement, foundation

#1248 Make GoatCounter ignore the URL query
  theme/index.hbs
Labels: website, tooling

#1250 Bump pipeline dependencies
  .github/workflows/ci.yaml
  .github/workflows/clean-up.yaml
  .github/workflows/pages.yaml
  .github/workflows/profiling.yaml
Labels: CI, website, fix, experiment

#1249 Typo fixes
  src/elementary-number-theory/addition-natural-numbers.lagda.md
  src/elementary-number-theory/inequality-natural-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
Labels: elementary-number-theory, typo

#1254 Translation preserves strict inequality on natural numbers
  CONTRIBUTORS.toml
  src/elementary-number-theory/strict-inequality-natural-numbers.lagda.md
Labels: elementary-number-theory

#1255 Addition and multiplication distribute over `rational-fraction-ℤ`
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-rational-numbers.lagda.md
Labels: elementary-number-theory

#1245 Prove the factorial formula for binomial coefficients
  src/elementary-number-theory/binomial-coefficients.lagda.md
Labels: elementary-number-theory

#1251 Path-cosplittings of locally small types are locally small
  .vscode/tasks.json
  scripts/remove_unused_imports.py
  src/foundation/locally-small-types.lagda.md
  src/foundation/path-cosplit-maps.lagda.md
  src/foundation/split-idempotent-maps.lagda.md
Labels: foundation

#1236 Equality of conatural numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/conatural-numbers.lagda.md
  src/elementary-number-theory/equality-conatural-numbers.lagda.md
  src/elementary-number-theory/inclusion-natural-numbers-conatural-numbers.lagda.md
  src/elementary-number-theory/inequality-conatural-numbers.lagda.md
  src/elementary-number-theory/infinite-conatural-numbers.lagda.md
  src/foundation-core/sets.lagda.md
  src/foundation.lagda.md
  src/foundation/double-negation-stable-equality.lagda.md
  src/logic/double-negation-elimination.lagda.md
  src/logic/markovs-principle.lagda.md
Labels: elementary-number-theory, foundation

#1256 The Archimedean property of `ℕ`
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/archimedean-property-natural-numbers.lagda.md
Labels: elementary-number-theory
