Repository UniMath/agda-unimath, pull requests merged in 2025-10, with the labels that each got.

#1497 Intervals and interval arithmetic
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/addition-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-rational-numbers.lagda.md
  src/elementary-number-theory/maximum-rational-numbers.lagda.md
  src/elementary-number-theory/minimum-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-group-of-positive-rational-numbers.lagda.md
  src/elementary-number-theory/multiplicative-group-of-rational-numbers.lagda.md
  src/elementary-number-theory/negative-rational-numbers.lagda.md
  src/foundation/images-subtypes.lagda.md
  src/order-theory.lagda.md
  src/order-theory/closed-interval-preserving-maps-posets.lagda.md
  src/order-theory/closed-interval-preserving-maps-total-orders.lagda.md
  src/order-theory/closed-intervals-posets.lagda.md
  src/order-theory/closed-intervals-total-orders.lagda.md
  src/order-theory/decidable-total-orders.lagda.md
  src/order-theory/total-orders.lagda.md
Labels: elementary-number-theory, order-theory

#1559 Split out operations on nonnegative rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/absolute-value-rational-numbers.lagda.md
  src/elementary-number-theory/addition-nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/addition-rational-numbers.lagda.md
  src/elementary-number-theory/distance-rational-numbers.lagda.md
  src/elementary-number-theory/inequality-nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/squares-rational-numbers.lagda.md
  src/elementary-number-theory/strict-inequality-nonnegative-rational-numbers.lagda.md
  src/metric-spaces/metric-space-of-rational-numbers.lagda.md
  src/real-numbers/nonnegative-real-numbers.lagda.md
Labels: elementary-number-theory, refactoring

#1413 Link styling tweaks
  HOME.md
  scripts/preprocessor_concepts.py
  theme/css/general.css
  website/css/print.css
Labels: enhancement, website

#1563 Poset of closed intervals
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/intersections-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/poset-closed-intervals-rational-numbers.lagda.md
  src/order-theory.lagda.md
  src/order-theory/intersections-closed-intervals-total-orders.lagda.md
  src/order-theory/lattices.lagda.md
  src/order-theory/poset-closed-intervals-posets.lagda.md
  src/order-theory/poset-closed-intervals-total-orders.lagda.md
  src/order-theory/preorders.lagda.md
  src/order-theory/spans-closed-intervals-total-orders.lagda.md
  src/order-theory/total-orders.lagda.md
Labels: elementary-number-theory, order-theory

#1566 Filters on posets
  src/order-theory.lagda.md
  src/order-theory/filters-posets.lagda.md
  src/order-theory/subposets.lagda.md
Labels: order-theory

#1565 Poset of closed intervals on lattices
  src/order-theory.lagda.md
  src/order-theory/closed-intervals-lattices.lagda.md
  src/order-theory/distributive-lattices.lagda.md
  src/order-theory/intersections-closed-intervals-lattices.lagda.md
  src/order-theory/join-semilattices.lagda.md
  src/order-theory/lattices.lagda.md
  src/order-theory/meet-semilattices.lagda.md
  src/order-theory/poset-closed-intervals-lattices.lagda.md
  src/order-theory/total-orders.lagda.md
Labels: order-theory

#1561 Multiplication of interior intervals in the rational numbers
  src/elementary-number-theory.lagda.md
  src/elementary-number-theory/closed-interval-preserving-maps-rational-numbers.lagda.md
  src/elementary-number-theory/closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/interior-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/minima-and-maxima-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-interior-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-nonpositive-rational-numbers.lagda.md
  src/elementary-number-theory/multiplication-positive-and-negative-rational-numbers.lagda.md
  src/elementary-number-theory/negation-closed-intervals-rational-numbers.lagda.md
  src/elementary-number-theory/negative-rational-numbers.lagda.md
  src/elementary-number-theory/nonnegative-rational-numbers.lagda.md
  src/elementary-number-theory/nonpositive-rational-numbers.lagda.md
  src/elementary-number-theory/positive-and-negative-rational-numbers.lagda.md
  src/elementary-number-theory/positive-rational-numbers.lagda.md
  src/elementary-number-theory/proper-closed-intervals-rational-numbers.lagda.md
  src/order-theory/closed-intervals-total-orders.lagda.md
  src/order-theory/total-orders.lagda.md
Labels: elementary-number-theory
